<section class="kit_dataChange">
  <section class="timeline" flex="1" layout="row" layout-align="center center">
    <div class="timeline_container" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <div class="timeline_stepCircle"
        ng-class="{'is-on':vm.step===1, 'is-off':vm.step!==1}"
        layout="row" layout-align="center center">
          1
        </div>
        <md-button ng-click="vm.goToStep(1)" class="timeline_stepName">
          Kit data
        </md-button>
        <div ng-if="vm.setupAvailable" class="timeline_line timeline_line_small"></div>
        <div ng-if="vm.setupAvailable" layout="row" layout-align="start center">
          <div class="timeline_stepCircle"
          ng-class="{'is-on':vm.step===2, 'is-off':vm.step!==2}"
          layout="row" layout-align="center center"
          ng-class="{'is-on': vm.step === 2, 'is-off': vm.step !== 2}">
            2
          </div>
          <md-button ng-if="vm.setupAvailable" ng-click="vm.goToStep(2)" class="timeline_stepName">
            Set up
          </md-button>
        </div>
      </div>
      <md-button style="margin-left: auto" class="md-flat md-primary timeline_buttonBack" ng-click="vm.backToProfile()">Back to Profile</md-button>
      <md-button style="margin-left: 20px" class="md-flat md-primary timeline_buttonSave" ng-click="vm.submitFormAndKit()">Save</md-button>
    </div>
  </section>
  <section class="timeline_content" flex="1">

    <section ng-show="vm.step === 1">
      <form>
         <section class="bg-white" layout-padding div layout="row" layout-xs="column" layout-align="space-around start">
           <div flex-gt-xs="50">
             <div layout="row">
               <div class="">
                 <h2>Basic information</h2>
                 <small>Please, provide kit basic info. That includes a name and exposure</small>
               </div>
             </div>
           </div>
           <div flex-gt-xs="50">
             <div class="" layout="column">
               <md-input-container>
                 <label>Kit Name</label>
                 <input type="text" class="font-roboto-condensed" ng-model="vm.kitForm.name">
               </md-input-container>
               <div layout="row" layout-align="space-between start">
                 <div class="" layout="row" layout-align="start center">
                   <label class="mr-10">Exposure:</label>
                   <md-select ng-model="vm.kitForm.exposure" placeholder="Select exposure">
                     <md-option class="color-dropdown" ng-repeat="exposure in vm.exposure" ng-value="{{ exposure.value }}">{{ exposure.name }}</md-option>
                   </md-select>
                 </div>
               </div>
             </div>
           </div>
         </section>

        <section layout="row" layout-xs="column" layout-align="space-around start" layout-padding>
          <div flex-gt-xs="50">
            <div layout="row">
              <div class="">
                <h2>Open Data</h2>
                <small>We advocate for open data and open science! However, some times your devices might be collecting potential personal data (i.e. your exact location, by GPS using in your bike) and you might consider changing how others can access your data
                </small>
              </div>
            </div>
          </div>
          <div flex-gt-xs="50">
            <div class="" layout="column">
              <p>Manage how others can access your data:</p>
               <md-checkbox ng-if="vm.userRole === 'researcher' || vm.userRole === 'admin'" ng-model="vm.kitForm.is_private">
                 <label>Make this device private</label>
               </md-checkbox>
            </div>
          </div>
        </section>

        <section layout="row" layout-xs="column" layout-align="space-around start" layout-padding>
          <div flex-gt-xs="50">
            <div layout="row">
              <div class="">
                <h2>Notification</h2>
                <small>Manage your notifications</small>
              </div>
            </div>
          </div>
          <div flex-gt-xs="50">
            <div class="" layout="column">
              <p>Get emails when the following events occur:</p>
              <md-checkbox ng-model="vm.kitForm.notify_low_battery">
                <label>Battery goes below 15%</label>
              </md-checkbox>
              <md-checkbox ng-model="vm.kitForm.notify_stopped_publishing">
                <label>Device stopped publishing</label>
              </md-checkbox>
            </div>
          </div>
        </section>

        <section class="form_blockMap bg-white" layout="row" layout-xs="column" layout-align="space-around start" layout-padding>
          <div flex-gt-xs="50">
            <div layout="row">
              <div>
                <h2>Kit location</h2>
                <small>You can adjust the location by dragging the marker on the map.</small>
              </div>
            </div>
          </div>
          <div flex="50">
            <div class="form_blockInput_button" ng-if="!vm.kitForm.location.lat && !vm.kitForm.location.lng">
              <div class="form_blockInput_container" layout="row" layout-align="center center">
                <md-button class="md-flat btn-cyan" ng-click="vm.getLocation()">Get your location</md-button>
              </div>
            </div>
            <div class="form_blockInput_map" ng-if="vm.kitForm.location.lat && vm.kitForm.location.lng">
              <leaflet center="vm.kitForm.location" defaults="vm.defaults" markers="vm.markers" tiles="vm.tiles" width="100%" height="100%"></leaflet>
            </div>
          </div>
        </section>

        <section layout="row" layout-xs="column" layout-align="space-around start" layout-padding>
          <div flex-gt-xs="50">
            <h2>Kit tags</h2>
            <small>Kits can be grouped by tags. Choose from the available tags or submit a tag request on the <a href="https://forum.smartcitizen.me/" target="_blank">Forum</a>.</small>
          </div>
          <div flex-gt-xs="50">
            <md-input-container>
              <label>Select tags</label>
              <md-select ng-model="selectedTags"
                         md-on-close="clearSearchTerm()"
                         data-md-container-class="selectdemoSelectHeader"
                         multiple>
                <md-select-header class="kit_tags-select-header">
                  <input ng-model="searchTerm"
                         type="search"
                         placeholder="Search for a tag.."
                         class="kit_tags-header-searchbox md-text">
                </md-select-header>
                <md-optgroup label="tags">
                  <md-option class="color-dropdown" ng-selected="vm.kitForm.tags.includes(item.name)" ng-model="vm.kitForm.tags" ng-value="item" ng-repeat="item in vm.tags | filter:searchTerm">
                    {{item.name}}
                  </md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
        </section>

        <section class="bg-white" layout="row" layout-xs="column" layout-align="space-around start" layout-padding>
          <div flex-gt-xs="50">
            <div>
              <h2>Kit description</h2>
              <small>Say something nice about your kit. Why is it for? Is this part of any kind of project? Whatever :)</small>
            </div>
          </div>
          <div flex-gt-xs="50">
            <div layout="row">
              <md-input-container flex="100" flex-gt-md="50">
                <label>Description</label>
                <textarea class="font-roboto-condensed" type="text" ng-model="vm.kitForm.description" placeholder="Describe your kit" md-maxlength="120"></textarea>
              </md-input-container>
            </div>
          </div>
        </section>

        <section class="" layout-gt-sm="row" layout="column" layout-padding>
          <div flex="100">
            <h2>Postprocessing info</h2>
            <small>
              Follow the instructions <a href="https://docs.smartcitizen.me/Guides/data/Handling%20calibration%20data/" target="_blank">here</a> to generate a valid JSON containing the postprocessing information for your device.
              This is an advanced feature and it's not required for standard Smart Citizen Kits!
              <br>
              <br>
              Last updated: {{vm.kitForm.postprocessing.updated_at}}
              <br>
              Latest postprocessing: {{vm.kitForm.postprocessing.latest_postprocessing}}
            </small>
          </div>
          <div layout="column" flex="100">
            <md-input-container>
              <label>Hardware url</label>
              <input type="text" class="font-roboto-condensed" ng-model="vm.kitForm.postprocessing.hardware_url">
            </md-input-container>
          </div>
        </section>
      </form>
      <div class="mt-50" layout="row" layout-align="center start" layout-margin layout-padding>
        <md-button class="fillwidth md-raised md-accent" ng-click="vm.submitFormAndKit()">Save</md-button>
      </div>
      <div layout layout-padding layout-margin>
        <md-button ng-show="vm.setupAvailable" class="fillwidth md-raised md-primary mb-30" ng-click="vm.submitFormAndNext()">Open kit set up</md-button>
      </div>
    </section>

    <section ng-if="vm.step === 2 && vm.setupAvailable">
      <form>
        <section class="isEven">
          <div layout="row" layout-xs="column" layout-align="start start" layout-padding>
            <div>
              <h2>Setup your kit</h2>
              <small>In order to have your kit connected to the Smart Citizen platform, we need a few step involving the connection of your kit to your computer. This tool will help you register your kit to the platform, setup your kit's Wi-Fi settings and update its firmware. Currently we support Google Chrome in Win, Mac and Linux. If this is your first time, maybe you will like to follow the <a href="http://docs.smartcitizen.me/#/start/adding-a-smart-citizen-kit" target="_blank">Startup guide</a>.</small>
            </div>
            <img src="assets/images/sckit_avatar_2.jpg" alt="Smartcitizen Kit">
          </div>
        </section>
      </form>
      <section class="bg-white" layout-padding>
        <div setuptool></div>
      </section>
      <form>
        <section ng-show="vm.macAddressFieldVisible" class="form_blockNormal isEven">
          <div layout="row" layout-xs="column" layout-align="start start" layout-padding>
            <div flex-gt-xs="50">
              <h2>Mac address</h2>
              <small>The setup tool will read the Mac Address automatically from your kit. Please wait or enter it manually.</small>
            </div>
            <div>
              <md-input-container>
                <label>Mac Address</label>
                <input type="text" pattern="([0-9A-Fa-f]{2}\:){5}([0-9A-Fa-f]{2})" ng-model="vm.macAddress">
              </md-input-container>
            </div>
          </div>
        </section>
      </form>
      <div layout>
        <md-button class="fillwidth md-accent md-raised mb-30" ng-click="vm.submitFormAndKit()" ng-show="vm.nextAction == 'save'">Save</md-button>
      </div>
      <md-progress-linear class="md-hue-3" ng-show="vm.nextAction == 'waiting'" md-mode="indeterminate"></md-progress-linear>
      <md-button ng-disabled="true" ng-show="vm.nextAction == 'waiting'" class="md-primary timeline_button timeline_buttonOpen">Waiting for your kit's data<small>We are waiting for your kit to connect on-line, this can take a few minutes</small><small> Check the process on the report window and contact <a ng-href="mailto:support@smartcitizen.me">support@smartcitizen.me</a> if you have any problem.</small></md-button>
      <md-button ng-click="vm.submitFormAndKit()" ng-show="vm.nextAction == 'ready'" class="md-primary timeline_button timeline_buttonOpen inverted">Ready! <small>Go and visit your kit on-line</small></md-button>
    </section>

  </section>
</section>
