<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Store</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-progress-linear ng-show="waitingFromServer" class="md-hue-3" md-mode="indeterminate"></md-progress-linear>
    <!-- Here store content -->
  </md-dialog-content>
</md-dialog>
