<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Store</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-progress-linear ng-show="waitingFromServer" class="md-hue-3" md-mode="indeterminate"></md-progress-linear>
    <form action="https://smartcitizen.us2.list-manage.com/subscribe/post?u=d67ba8deb34a23a222ec4eb8a&amp;id=d0fd9c9327" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" validate>
      <div class="md-dialog-content max-width-500px min-height-80">
        <h2>Order your Smartcitizen Kit</h2>
        <p>An Open-Source Environmental Monitoring Platform consisting of arduino-compatible hardware, data visualization web and mobile app, and a full featured Rest API.</p>
        <div layout="row" layout-xs="column" layout-align="space-around center">
          <img class="img-circle" src="assets/images/sckit_avatar.jpg" alt="Smartcitizen Kit">
          <div class="store_itemDescription">
            <h3>This is what you get</h3>
            <ul>
              <li>Smart Citizen Kit (Data board, <br> Ambient board and battery)</li>
              <li>Platform life subscription</li>
              <li>Private REST API Key</li>
              <li>Android App</li>
              <li><i>Note: Outdoor enclosure available<br> separately. Please, write us on <a href="mailto:store@smartcitizen.me">store@smartcitizen.me</a></i></li>
            </ul>
          </div>
        </div>

      <!-- Begin MailChimp Signup Form -->

          <p>
            We are currently out of stock working against time to finish the new version of the Smart Citizen Kit. Share us your email below and we will notify you as soon as kits are ready!
          </p>
          <md-input-container>
            <label>Email</label>
            <input type="email" name="EMAIL" required>
          </md-input-container>

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
        </div>
        <md-button
           ng-disabled="MailchimpSubscriptionForm.$invalid"
           type="submit"
           name="subscribe"
           id="mc-embedded-subscribe"
           class="btn-blue btn-full"
           analytics-on="store"
           analytics-event="Kit Purchase" ng-click="addSubscription(mailchimp)" analytics-action="purchase">
          Notify me when ready
        </md-button>
      </form>
  </md-dialog-content>
</md-dialog>
