version: '2.2'

services:
  web:
    build: .
    ports:
      - "8080:8080"
      - "3001:3001"
    # This should only be used in development mode
    tty: true #color output
    stdin_open: true
    #volumes:
    #- "./:/usr/src/app"
