<footer class="p-60" style="padding-bottom: 10px">

  <div layout="row" layout-xs="column" layout-sm="column" layout-wrap layout-align="space-between center" layout-align-xs="space-between stretch " style="color:white; margin:0 auto; max-width:1200px">

    <div>
      <img style="height:80px" src="./assets/images/smartcitizen_logo2.svg" alt="logos" />
    </div>

    <div layout="row" layout-align="space-between center" class="border-white p-20 mb-10">
      <div class="mr-10">Follow us</div>
      <a class="mr-10" href="https://twitter.com/smartcitizenkit">
        <img style="height:30px" src="./assets/images/tw.svg" alt="twitter" />
      </a>
      <a href="https://www.facebook.com/smartcitizenBCN/">
        <img style="height:30px" src="./assets/images/fb.svg" alt="fb" />
      </a>
    </div>

    <div layout="row" layout-align="space-between center" class="border-white p-20 mb-10">
      <div class="mr-10">A project by</div>
      <a class="mr-10" href="https://fablabbcn.org">
        <img style="height:18px; padding-right: 5px" src="./assets/images/logo_fablab_bcn_small.png" alt="fablab" />
      </a>
      <a href="https://iaac.net">
        <img style="height:15px" src="./assets/images/iaac.png" alt="fablab" />
      </a>
    </div>

    <div flex="25" layout="row" layout-xs="column" layout-sm="column"  layout-align="start center">
      <img style="height:48px; padding-right: 15px" src="./assets/images/eu_flag.png" alt="fablab" />
      <p class="color-white text-funding"> SmartCitizen has received funding from the European Community’s H2020 Programme under Grant Agreement No. 689954. </p>
    </div>

    <div flex="100">
      <p class="color-white"> Copyright &copy; 2018 Smart Citizen </p>
    </div>
  </div>
</footer>
