<div layout="column">
  <div  class="p-20">
    <md-icon  md-svg-src="./assets/images/LogotipoSmartCitizen.svg" class="footer_icon"></md-icon>
    <img class="p-20" src="../../../assets/images/European-flag1.png">
  </div>
</div>

<div layout="column">
  <div flex class="">
    <p style="color:white"> SmartCitizen has received funding from the European Community’s H2020 Programme under Grant Agreement No. 689954. </p>
  </div>

  <div flex class="">

    <p style="color:white; font-size:12px;">
    Version: 1.3.0
    Hash: 7370427
    </p>

  </div>
</div>
