<div layout-margin flex="60">
  <div layout-gt-sm="row" layout="column"  layout-align="space-around center">
    <div layout-align="end center" flex="20">
       <img src=".//assets/images/eu_flag.png">
    </div>
    <div layout-align="start center" flex="80">
      <p style="color:white"> SmartCitizen has received funding from the European Community’s H2020 Programme under Grant Agreement No. 689954. </p>
    </div>
  </div>

  <div layout="column" layout-align="center center" >
      <md-icon  md-svg-src="./assets/images/LogotipoSmartCitizen.svg" class="footer_icon"></md-icon>
      <p style="color:white; font-size:12px;">
      Version: 1.3.0
      Hash: d3ce928
      </p>
  </div>
</div>
