
<md-toolbar layout="row" layout-align="end center" class="stickNav">
  <a href="/" class="logo_link">
    <md-icon md-svg-src="./assets/images/LogotipoSmartCitizen.svg"
             alt="Insert Drive Icon" class="logo_icon">
    </md-icon>
  </a>
  <section layout="row" class="nav_left" layout-align="space-around center">
    <md-button ng-show="isShown" href="#" class="md-flat full_height map">
      <md-icon md-svg-src="./assets/images/map_icon.svg" class="nav_icon">
      </md-icon>
      <span>Map</span>
    </md-button>
    <md-button ng-show="isShown" href="#" class="md-flat full_height community">
      <md-icon md-svg-src="./assets/images/community_icon.svg" class="nav_icon">
      </md-icon>
      <span>Community</span>
    </md-button>
  </section>

  <search flex></search>
  
  <section layout="row" class="nav_right" layout-align="space-around center">
    <md-button ng-show="isShown" href="#" class="md-flat full_height get" ng-show="isShown">Get your Kit</md-button>
  
    <md-button class="md-flat full_height log" ng-show="isShown">
      Log In
      <!--<oauth 
      	site="https://id.smartcitizen.me/"
      	client-id="82ef2ebe26dcdabcf149420f817ea89b9f853e8b8bd4f1560c5a00f268ce19be"
      	redirect-uri="http://localhost:3000"
      	profile-uri="https://new-api.smartcitizen.me/v0/me"
      	scope="">
      </oauth>-->
    </md-button>

    <signup class="md-display-1" ng-show="isShown"></signup>
  </section>
</md-toolbar>

