/**
 *  NAVBAR
 */

.navbar_container {
  a{
    &:hover, &:active{
      color: $font_color_white
    }
  }

  .md-button.navbar_highlight_button {
    border: 2px solid $yellow;
    color: $yellow;
    border-radius: 50px;
    //padding: 9px 11px;
    //width: 108px;
    padding-top: .01rem;
    padding-bottom: .01rem;
    transition: color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover, &:active {
      background-color:$yellow !important;
      color: $off_black !important;
    }
  }

  .logo_link {
    text-align: center;

    .logo_icon {
      height: 32px;
      width: 32px;
    }
  }

  .nav_icon {
    margin-right: 4px;
    height: 14px !important;
    width: 14px !important;
    svg {
      fill: $yellow;
    }
  }

  .navbar_signup_button {
    .md-button {
      padding: 2px 0px;
      border: 2px solid $yellow;
      color: $yellow;
      border-radius: 50px;
      width: 79px;
    }
    .md-button:hover {
      background-color: $yellow;
      color: $off_black;
    }
  }
}

.circular-img-crop {
  aspect-ratio: 1;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}

.navbar_avatar_icon {
  width: 38px;
  height: 38px;
}

.owner-img {
  width: 140px;
  height: 140px;
}

.image-outline {
  border: 3px solid;
  transition: border 0.5s ease;
}

.white-outline{
  border: 3px solid #fff;
}

.gray-outline{
  border: 3px solid #e1e1e1;
}

.image-outline:hover {
  border: 3px solid $yellow;
}

.no-hover-effect {
  background-color: rgba(0,0,0,0.0) !important;
}
// Make sure the Dropdown stays below the button pushed
.md-open-menu-container.md-active{
  margin-top: 50px !important;
}

