<md-dialog>
  <md-dialog-content class="modal modal_recovery">
    <md-progress-circular ng-show="waitingFromServer" class="md-hue-3 login_spinner" md-mode="indeterminate"></md-progress-circular>
    <md-button class="close_icon">
      <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" ng-click="hide()" class="" >
      </md-icon>
    </md-button>
    <!-- <form name="signup_form" novalidate ng-submit="answer(vm.user)"> -->
      <div class="modal_content_container">
        <h2>FORGOT YOUR PASSWORD?</h2>
        <div class="modal_message">
          <p class="header">People looking for a better city</p>
          <p class="subheader">You're part of them? Feel free to join us!</p>
          <p class="message">Please insert your email address and you will receive an email in your inbox. If you do not receive an email from our team in 10 minutes approx., please check your spam folder.</p>
        </div>
        <div layout layout-sm="column" class="field">
          <md-input-container flex>
            <label>Username or Email</label>
            <input type="text" name="input" ng-model="input" autofocus required/>
          </md-input-container>
          <p class="errors" ng-show="errors">
            <span>Username or Email is required</span>
          </p>
        </div>
      </div>
      <md-button class="md-flat md-primary main" ng-click="recoverPassword()">REQUEST NEW PASSWORD</md-button>
    <!-- </form> -->
  </md-dialog-content>
  <p class="message_below">
    <span>
      <span class="message_below_question">New here?</span>
      <md-button class="message_below_link" ng-click="openSignup()">SIGN UP</md-button>
    </span>
  </p>
</md-dialog>
