<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Forgot your password?</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-progress-circular ng-show="waitingFromServer" class="md-hue-3 login_spinner" md-mode="indeterminate"></md-progress-circular>

    <form name="recoveryForm" novalidate ng-submit="recoverPassword()">
      <div class="md-dialog-content max-width-500">
        <p>Please insert your email address and you will receive an email in your inbox. If you do not receive an email from our team in 10 minutes approx., please check your spam folder.</p>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Username or Email</label>
            <input type="text" name="input" ng-model="input" focus-input required/>
            <div ng-messages="recoveryForm.input.$error">
              <div ng-message="required">Valid Username or Email is required</div>
            </div>
          </md-input-container>
        </div>
        <md-button ng-click="openSignup()">New here? Sign up</md-button>
      </div>
      <md-button class="btn-blue btn-full" type="submit">REQUEST NEW PASSWORD</md-button>
    </form>
  </md-dialog-content>
</md-dialog>
