<form name="recovery_form" ng-submit="vm.recoverPassword()" novalidate class="form_container recovery_container">
  <div class="form_contentContainer">
    <h2 class="form_title">FORGOT YOUR PASSWORD?</h2>
    <div class="form_messageContainer">
      <p class="form_messageHeader">People looking for a better city</p>
      <p class="form_messageSubheader">You're part of them? Feel free to join us!</p>
      <p class="form_messageDescription">Please insert your email address and you will receive an email in your inbox. If you do not receive an email from our team in 10 minutes approx., please check your spam folder.</p>
    </div>
    <div layout layout-sm="column" class="formRecovery_field">
      <md-input-container flex>
        <label>Username</label>
        <input type="text" name="username" ng-model="vm.username" autofocus ng-required="recovery_form.$submitted"/>
      </md-input-container>
      <p class="form_errors formRecovery_errors" ng-show="vm.errors">
        <span ng-show="recovery_form.username.$error.required">Valid Username or Email is required</span>
      </p>
    </div>
  </div>
  <md-button type="submit" class="md-flat md-primary form_button">REQUEST NEW PASSWORD</md-button>
</form>
<header style="margin-top:120px" class="footer" ng-include="'app/components/footer/footer.html'" layout="row" layout-align="center center"></header>
