<section class="landing-page" flex>
  <!-- CONTENT -->
  <div id="content-land">
    <div class="block photo kit-0" data-stellar-background-ratio="0.01">
      <div class="logo-top"></div>
      <div class="container" style="height:inherit">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-pad" style="vertical-align:middle; ">
            <div class="lead-13" style="margin-top: 85px;">
                <span>404 <sup style="font-size: 18px;">Not Found</sup></span>
            </div>
            <div class="lead-14" style="margin-top: 20px;">
                The current resource could not be found on Smart Citizen
            </div>
            <div style="margin-top: 30px;">
              <md-button ng-href="/kits/" class="landing_highlight_button normal">Go to the platform</md-button>
            </div>
          </div>
        </div>
      </div>
      <div class="bullet-landing plus grey"></div>
    </div>
    <!-- BLOCK MESSAGE REALTIME DATA, MONITORING, ANALYSIS  -->
    <div class="block photo autoheight datavis">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-pad" style="text-align:center; vertical-align:middle; margin-top:95px; ">
            <div class="lead-2">
                Realtime ambiental monitoring for data analysis
            </div>
            <div class="lead-1">
                Connecting people, data and knowledge
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div style="text-align:center; margin:50px 0 80px 0;"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END BLOCK MESSAGE REALTIME DATA, MONITORING, ANALYSIS  -->
    <!-- BLOCK  -->
    <div id="press" class="block light-grey">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-sm-12 col-md-12 col-lg-12" style="padding: 40px 40px 0 40px;">
            <div class="lead-3" style="color:#333;">Press</div>
            <div class="lead-4" style="color:#333;">
                Thanks for all of you
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1></h1>
            <img src="/assets/images/landing/logosPress.jpg" style="width:100%; margin-bottom:40px;">
          </div>
        </div>
      </div>
    </div>
    <!-- END BLOCK  -->
  </div>
</section>
