<section class="landing-page" flex>
  <!-- CONTENT -->
  <div id="content-land">
    <div class="block photo kit-0" data-stellar-background-ratio="0.01">
      <div class="container" style="height:inherit">
        <div class="">
          <div class="" style="vertical-align:middle; ">
            <div class="lead-13" style="margin-top: 85px;">
                <span>404 <sup style="font-size: 18px;">Not Found</sup></span>
            </div>
            <div class="lead-14" style="margin-top: 20px;">
                The current resource could not be found on Smart Citizen
            </div>
            <div style="margin-top: 30px;">
              <md-button ng-href="/kits/" class="landing_highlight_button normal">Go to the platform</md-button>
            </div>
          </div>
        </div>
      </div>
      <div class="bullet-landing plus grey"></div>
    </div>
    <!-- BLOCK MESSAGE REALTIME DATA, MONITORING, ANALYSIS  -->
    <div class="block photo autoheight datavis">
      <div class="container">
        <div class="">
          <div class="" style="text-align:center; vertical-align:middle; margin-top:95px; ">
            <div class="lead-2">
                Realtime ambiental monitoring for data analysis
            </div>
            <div class="lead-1">
                Connecting people, data and knowledge
            </div>
          </div>
        </div>
        <div class="">
          <div class="">
            <div style="text-align:center; margin:50px 0 80px 0;"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END BLOCK MESSAGE REALTIME DATA, MONITORING, ANALYSIS  -->
  </div>
</section>
