<section class="not-found-404"  flex>
  <!-- CONTENT -->
  <div id="content-land">
    <div class="block photo kit-0" data-stellar-background-ratio="0.01">
      <div class="container" style="height:inherit">
        <div style="text-align: center; vertical-align: middle;">
          <div style="margin-top: 200px;">
              <h2>That's a 404</h2>
              <span>We couldn't find what you are looking for...</span>
          </div>
          <div style="margin-top: 40px;">
            <a href="/kits/" style="text-decoration: none" class="btn-black-outline btn-round-new md-button">GO BACK TO THE PLATFORM</a>
          </div>
        </div>
      </div>
      <div class="bullet-landing plus grey"></div>
    </div>
    <!-- BLOCK MESSAGE REALTIME DATA, MONITORING, ANALYSIS
    <div class="block photo autoheight datavis">
      <div class="container">
        <div class="">
          <div class="" style="text-align:center; vertical-align:middle; margin-top:95px; ">
            <div class="lead-2">
                Realtime ambiental monitoring for data analysis
            </div>
            <div class="lead-1">
                Connecting people, data and knowledge
            </div>
          </div>
        </div>
        <div class="">
          <div class="">
            <div style="text-align:center; margin:50px 0 80px 0;"></div>
          </div>
        </div>
      </div>
    </div>
  END BLOCK MESSAGE REALTIME DATA, MONITORING, ANALYSIS  -->
  </div>
</section>
