<section class="static_page" flex>
  <div class="timeline" layout="row">
    <div class="content" layout="row" layout-align="start center" flex>
      <h1>About</h1>
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h2>Smart Citizen</h2>

      <h4>People looking for a better city</h4>
      <p>
        What are the real levels of air pollution around your home or business? and what about noise
        pollution? and humidity?
      </p>
      <p>
        Now imagine that you could know them, share instantly and compare with other places in your city,
        in real time ... How could this information help to improve our environment quality?
      </p>
      <p>
        From Smart Citizen we want to answer to these questions and many more, through the development of
        low-cost sensors. Now you can be one of these sensors in a network by supporting this project. But
        we will not stop here ... How can we built a real Smart City...by Smart Citizens?
      </p>

      <!-- <md-button class="md-primary md-raised">button</md-button>
      <md-button class="md-primary">button</md-button> -->
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h2>What</h2>

      <h4>The platform</h4>
      <p>
        Smart Citizen is a platform to generate participatory processes of people in the cities. Connecting data,
        people and knowledge, the objective of the platform is to serve as a node for building productive and open
        indicators, and distributed tools, and thereafter the collective construction of the city for its own inhabitants.
      </p>
      <p>
        The Smart Citizen project is based on geolocation, Internet and free hardware and software for data collection and
        sharing. It connects people with their environment and their city to create more effective and optimized relationships
        between resources, technology, communities, services and events in the urban environment. Currently it is being
        deployed as initial phase in Barcelona city.
      </p>
      <div class="subtitle-separation">
        <h4>The sensors</h4>
        <p>
          The Smart Citizen Kit is a piece of hardware comprised by two printed-circuit boards: an interchangeable daughterboard
          or shield, and an arduino-compatible data-processing board. We have nicknamed the shield developed for this campaign
          'The Ambient Board.' As the name suggests, it carries sensors that measure air composition (CO and NO2), temperature,
          light intensity, sound levels, and humidity. Once it’s set up, the ambient board is able to stream data measured by
          the sensors over Wi-Fi using the FCC-certified, wireless module on the data-processing board. The device’s low power
          consumption allows for placing it on balconies and windowsills. Power to the device can be provided by a solar panel
          and/or battery. All the design files (schematics and PCB layout) for this Open-Source, Arduino-compatible device are
          available on our <a href="https://github.com/fablabbcn/SmartCitizen.me" class="about">Github repository</a>.
        </p>
      </div>
      <p>
        <img src="http://smartcitizen.me/img/sck/sck_1_1_6_lowres.jpg?1429270490" class="sensor-image-margin">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h2>Who</h2>
      <p>
        The project is born within <a href="http://fablabbcn.org" class="about">Fab Lab Barcelona</a> at the <a href="http://www.iaac.net" class="about">Institute for Advanced Architecture
        of Catalonia</a>, both focused centers on the impact of new technologies at different scales
        of human habitat, from the bits to geography.
      </p>
      <p>
        <a href="http://www.fablabbcn.org/" class="about">Fablab</a>
      </p>
      <p>
        <a href="http://www.iaac.net/" class="about">Iaac</a>
      </p>
      <p>
        <a href="http://mediainteractivedesign.com/" class="about">Mid</a>
      </p>

      <div class="subtitle-separation">
        <h4>Collaborators</h4>
        <p>
          <a href="http://www.hangar.org" class="about">Hangar</a>
        </p>
        <p>
          <a href="http://goteo.org/project/smart-citizen-sensores-ciudadanos" class="about">Goteo</a>
        </p>
        <p>
          <a href="http://lafosca.cat" class="about">Lafosca</a>
        </p>
        <p>
          <a href="http://www.facebook.com/manifiestodesign" class="about">Manifesto</a>
        </p>
      </div>

      <div class="subtitle-separation">
        <h4>Partners</h4>
        <p>
          <a href="http://amsterdamsmartcity.com/" class="about">Amsterdam Smart City</a>
        </p>
        <p>
          <a href="https://www.waag.org/" class="about">Waag Society</a>
        </p>
        <p>
          <a href="http://futureeverything.org/" class="about">Future Everything</a>
        </p>
        <p>
          <a href="http://cisco.com/" class="about">Cisco</a>
        </p>
        <p>
          <a href="http://intel.com/" class="about">Intel</a>
        </p>
        <p>
          <a href="http://www.bcn.cat/" class="about">Ajuntament de Barcelona</a>
        </p>
        <p>
          <a href="http://barcelonacultura.bcn.cat/" class="about">Barcelona Cultura</a>
        </p>
        <p>
          <a href="https://arrayofthings.github.io/" class="about">Array Of Things</a>
        </p>
        <p>
          <a href="http://organicity.eu/" class="about">Organicity</a>
        </p>
      </div>

      <div class="subtitle-separation">
        <h4>Crowdfunding</h4>
        <p>This project get founded thanks to lovely bakers on:</p>

        <div class="expandable">
          <div class="expandBT">
            <h3>Kickstarter 2013</h3>
          </div>
          <br>
          <div class="expand-panel kickstarter">
            <iframe width="580" height="430" src="https://www.kickstarter.com/projects/acrobotic/the-smart-citizen-kit-crowdsourced-environmental-m/widget/video.html" frameborder="0"></iframe>
            <iframe frameborder="0" height="430" src="https://www.kickstarter.com/projects/acrobotic/the-smart-citizen-kit-crowdsourced-environmental-m/widget/card.html" width="220" style="float:left; margin-right:20px;"></iframe>
          </div>
        </div>
        <div class="expandable sensor-image-margin">
          <div class="expandBT">
            <h3>Goteo 2012</h3>
          </div>
          <div class="expand-panel goteo">
            You can find more information at <a href="http://goteo.org/project/smart-citizen-sensores-ciudadanos/" class="about">Goteo</a>
            <table cellpadding="0" cellspacing="0" border="0" style="margin: 20px 0;">
              <tbody>
                <tr>
                  <td width="30%">88lgarcia</td>
                  <td width="30%">Abraham Cembrero Zúñiga</td>
                  <td width="30%">adria (rzcll)</td>
                </tr>
                <tr>
                  <td>Aitor Aloa del Teso</td>
                  <td>albert homs</td>
                  <td>Alberto Pérez Olaya</td>
                </tr>
                <tr>
                  <td>Alexandre Dubor</td>
                  <td>Alex Posada</td>
                  <td>Alfonso mendoza</td>
                </tr>
                <tr>
                  <td>Alvaros_g</td>
                  <td>Andrés Cerezo Guillén</td>
                  <td>Ángel D. Berruezo</td>
                </tr>
                <tr>
                  <td>Ángel Muñoz</td>
                  <td>Anna Kaziunas France</td>
                  <td>Antic Teatre</td>
                </tr>
                <tr>
                  <td>Anto Recio</td>
                  <td>Antonio García Calderón</td>
                  <td>Araceli Corbo</td>
                </tr>
                <tr>
                  <td>Areti (IAAC)</td>
                  <td>Arnau Ayza</td>
                  <td>Arnau Cangròs i Alonso</td>
                </tr>
                <tr>
                  <td>Arturo Saez</td>
                  <td>Avenida Sofia Hotel & Spa Sitges</td>
                  <td>babisansone</td>
                </tr>
                <tr>
                  <td>BaM</td>
                  <td>Beatrice Thèves-Engelbach</td>
                  <td>Blance Duarte (blancaivette)</td>
                </tr>
                <tr>
                  <td>bzzzbip</td>
                  <td>Carlos Bock</td>
                  <td>Carlos Iglesias</td>
                </tr>
                <tr>
                  <td>castarco</td>
                  <td>champloo</td>
                  <td>Chema Casanova</td>
                </tr>
                <tr>
                  <td>Cliensol energy</td>
                  <td>ColaBoraBora</td>
                  <td>crisis2smart</td>
                </tr>
                <tr>
                  <td>Dani Díaz</td>
                  <td>Daniel</td>
                  <td>Daniel Nüst</td>
                </tr>
                <tr>
                  <td>Daniel Saavedra</td>
                  <td>Daviba</td>
                  <td>David LH</td>
                </tr>
                <tr>
                  <td>David Peñuela</td>
                  <td>David Scarlatti</td>
                  <td>Davide Gallino</td>
                </tr>
                <tr>
                  <td>diegobus</td>
                  <td>dpr-barcelona</td>
                  <td>dsanchezbote</td>
                </tr>
                <tr>
                  <td>dvd (dpa1973)</td>
                  <td>Ed Borden</td>
                  <td>Ed Mago</td>
                </tr>
                <tr>
                  <td>edward hollands</td>
                  <td>El Franc</td>
                  <td>Eloi Garrido</td>
                </tr>
                <tr>
                  <td>Eloi Maduell</td>
                  <td>Emil Lima</td>
                  <td>Emily Sato</td>
                </tr>
                <tr>
                  <td>enricostn</td>
                  <td>ernesto guillen fontalba</td>
                  <td>esenabre</td>
                </tr>
                <tr>
                  <td>Eusebio Reyero</td>
                  <td>Eva Saura</td>
                  <td>Fabien Girardin</td>
                </tr>
                <tr>
                  <td>Felix Dubor</td>
                  <td>Félix Pedrera García</td>
                  <td>Franz Jimeno</td>
                </tr>
                <tr>
                  <td>Fred Adam</td>
                  <td>Felix Sainz</td>
                  <td>G!N</td>
                </tr>
                <tr>
                  <td>Gabo</td>
                  <td>Gerald Kogler y Marti Sanchez</td>
                  <td>Gil Obradors</td>
                </tr>
                <tr>
                  <td>hHenri Aboulker</td>
                  <td>hexxan labs</td>
                  <td>pfaffsandy</td>
                </tr>
                <tr>
                  <td>Iker Jimenez</td>
                  <td>ilitch</td>
                  <td>Inigo Barrera</td>
                </tr>
                <tr>
                  <td>Javier A. Rodríguez</td>
                  <td>Javier Montaner</td>
                  <td>Javier Sánchez</td>
                </tr>
                <tr>
                  <td>Jean-Baptiste HEREN</td>
                  <td>jnogueras</td>
                  <td>Joan Vallés</td>
                </tr>
                <tr>
                  <td>Jordi Ferran</td>
                  <td>Jorge Daniel Czajkowski</td>
                  <td>Jorge Sanz</td>
                </tr>
                <tr>
                  <td>José Costoya</td>
                  <td>José (politema)</td>
                  <td>Jose M Arbones Mainar</td>
                </tr>
                <tr>
                  <td>Jose Manuel</td>
                  <td>Josep Perelló</td>
                  <td>josianito</td>
                </tr>
                <tr>
                  <td>Juan Saura Ramírez</td>
                  <td>Juanjo Frechilla</td>
                  <td>Júlia López i Ventura</td>
                </tr>
                <tr>
                  <td>Julián Cánaves</td>
                  <td>Kincubator</td>
                  <td>laia sánchez</td>
                </tr>
                <tr>
                  <td>LauraFdez</td>
                  <td>Lucas Cappelli</td>
                  <td>Luis (Fraguada)</td>
                </tr>
                <tr>
                  <td>Mara Balestrini</td>
                  <td>Marc (Pous)</td>
                  <td>Marc Garriga</td>
                </tr>
                <tr>
                  <td>marcabra (Bravalero(</td>
                  <td>Maria Muñoz</td>
                  <td>Marianella (Coronell)</td>
                </tr>
                <tr>
                  <td>marioarienza</td>
                  <td>Marita Bom</td>
                  <td>Marte Roel</td>
                </tr>
                <tr>
                  <td>mborobio</td>
                  <td>memojoelojo</td>
                  <td>Miguel Senabre</td>
                </tr>
                <tr>
                  <td>Miquel Colomer</td>
                  <td>miska (Goteo)</td>
                  <td>Moisés Fernández</td>
                </tr>
                <tr>
                  <td>monica donati</td>
                  <td>nadya</td>
                  <td>Natassa Pistofidou</td>
                </tr>
                <tr>
                  <td>Norella Coronell</td>
                  <td>Nuriona</td>
                  <td>Olivier (schulbaum)</td>
                </tr>
                <tr>
                  <td>Oriol Ferrer Mesià</td>
                  <td>Pablo Rey Tristán</td>
                  <td>Parque Científico y Tecnológico de Bizkaia</td>
                </tr>
                <tr>
                  <td>Pilar Conesa</td>
                  <td>pang</td>
                  <td>Raf</td>
                </tr>
                <tr>
                  <td>Paula Baptista</td>
                  <td>Pere Casas Puig</td>
                  <td>Rocio Holzer</td>
                </tr>
                <tr>
                  <td>Raúl Micharet</td>
                  <td>Solo01</td>
                  <td>Rob Aalders</td>
                </tr>
                <tr>
                  <td>viriatov</td>
                  <td>Roberto (Madman)</td>
                  <td>Santiago Vilanova</td>
                </tr>
                <tr>
                  <td>Salvador Ejarque</td>
                  <td>pmisson</td>
                  <td>Sergi Martínez</td>
                </tr>
                <tr>
                  <td>Simón Lee</td>
                  <td>SirViente</td>
                  <td>SMD Arq (Oriol)</td>
                </tr>
                <tr>
                  <td>Vicenç Sampera</td>
                  <td>VideoDossier</td>
                  <td>Henri Boulker</td>
                </tr>
                <tr>
                  <td>tiefpunkt (Severin)</td>
                  <td>xa2 (Diaz)</td>
                  <td>Xavi Polo</td>
                </tr>
                <tr>
                  <td>Xixo</td>
                  <td>Zeca (Fernandez)</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div layout="column" class="subtitle-separation">
        <h4>Team</h4>
        <div class="team-cells-margin">
          <h3 class="no-margin">Tomas Diez</h3>
          <p class="no-margin">Co-founder, project integration, strategic planning</p>
        </div>
        <div class="team-cells-margin">
          <h3 class="no-margin">Alex Posada</h3>
          <p class="no-margin">Co-founder, project hardware design and developer</p>
        </div>
        <div class="team-cells-margin">
          <h3 class="no-margin">Guillem Camprodon</h3>
          <p class="no-margin">Integration and project development (h&s)</p>
        </div>
        <div class="team-cells-margin">
          <h3 class="no-margin">M.A. Heras</h3>
          <p class="no-margin">Hardware designer and developer</p>
        </div>
        <div class="team-cells-margin">
          <h3 class="no-margin">Alexandre Dubor</h3>
          <p class="no-margin">First platform design, programming and development</p>
        </div>
        <div class="team-cells-margin">
          <h3 class="no-margin">Leonardo Arrata</h3>
          <p class="no-margin">Platform and mobile app design and development</p>
        </div>
        <div class="team-cells-margin">
          <h3 class="no-margin">Aitor Aloa</h3>
          <p class="no-margin">Hardware designer and developer</p>
        </div>
        <div class="team-cells-margin">
          <h3 class="no-margin">Ángel Muñoz</h3>
          <p class="no-margin">Logistics and customer support</p>
        </div>
        <div class="team-cells-margin">
          <h3 class="no-margin">Xavier Vinaixa</h3>
          <p class="no-margin">Platform API development, mobile app development</p>
        </div>
        <div class="team-cells-margin">
          <h3 class="no-margin">Gabriel Bello-Diaz</h3>
          <p class="no-margin">First platform design</p>
        </div>
        <div class="team-cells-margin">
          <h3 class="no-margin">Francisco Zabala</h3>
          <p class="no-margin">USA development partner</p>
        </div>
        <div class="team-cells-margin">
          <h3 class="no-margin">Jorren Schauwaert</h3>
          <p class="no-margin">Project management and communication</p>
        </div>
        <div class="">
          <h3 class="no-margin">Alejandro Andreu</h3>
          <p class="no-margin">Original project documentation and project revision</p>
        </div>
      </div>

      <div class="subtitle-separation">
        <h4>THE PLATFORM</h4>
        <p>The web platform have been developped thanks to: <a href="http://jquery.com/" class="about">jQuery</a>, <a href="http://openstreetmap.org/" class="about">OpenStreetMap</a>,
          <a href="http://leafletjs.com/" class="about">Leafletjs</a>, <a href="http://mapbox.com/" class="about">Mapbox</a>, <a href="http://d3js.org/" class="about">D3js</a>, <a href="http://sass-lang.com/‎" class="about">SASS</a>
          and, <a href="http://cakephp.org/" class="about">CakePHP</a>, and many more... The actual project is open source and available on <a href="https://github.com/fablabbcn/SmartCitizen.me" class="about">Github</a>.
        </p>
      </div>

      <div class="subtitle-separation">
        <h4>Contact Us</h4>
        <p>Please feel free to contact us. We will answer you as soon as possible.
        We will enjoy to maintain contact with you!</p>
      </div>
    </div>
  </div>
</section>
