<section class="static_page" flex>
  <div class="timeline" layout="row">
    <div class="content" layout="row" layout-align="start center" flex>
      <h1>About</h1>
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h2>Smart Citizen</h2>

      <h3>People looking for a better city</h3>
      <p>
        What are the levels of air pollution around your home or business? and what about noise pollution? and humidity?
      </p>
      <p>
        Now imagine that you could know them, share instantly and compare with other places in your city, in real time... How could this information help to improve our environment quality?
      </p>
      <p>
        From Smart Citizen we want to answer to these questions and many more, through the development of low-cost sensors. Now you can be one of these sensors in a network by supporting this project. But we will not stop here... How can we built a real Smart City... by Smart Citizens?
      </p>
    </div>
    <img src="./assets/images/sck-kids-ideas.jpg" class="full-width-img">
  </div>
  <div class="row">
    <div class="content">
      <h2>What</h2>

      <h3>The platform</h3>
      <p>
        Smart Citizen is a platform to generate participatory processes of people in the cities. Connecting data, people and knowledge, the objective of the platform is to serve as a node for building productive and open indicators, and distributed tools, and thereafter the collective construction of the city for its own inhabitants.
      </p>
      <p>
        The Smart Citizen project is based on geolocation, the Internet and free hardware and software for data collection and sharing. It connects people with their environment and their city to create more effective and optimized relationships between resources, technology, communities, services and events in the urban environment.
      </p> 
      <p>
        The Smart Citizen platform is a full set of of tools waiting from you to start using them: <a href="http://beta.smartcitizen.me/signup" class="about">register to the platform</a>, check the <a href="http://new-apidocs.smartcitizen.me" class="about">API</a>, download the <a href="https://play.google.com/store/apps/details?id=com.fablabbcn.smartcitizen" class="about">Android app</a>, get a <a class="about" ng-click="vm.showStore($event)">Kit</a> or contribute to the <a href="https://github.com/fablabbcn/smartcitizen" class="about">open-source project</a>.
      </p>       
      <div class="subtitle-separation">
        <h3>The sensors</h3>
        <p>
          The Smart Citizen Kit is a piece of hardware comprised of a sensor and a data-processing board, a battery and an enclousure. The first board carries sensors that measure air composition (CO and NO2), temperature, humidity, light intensity and sound levels. Once it’s set up, the device will stream data measured by the sensors over Wi-Fi using the FCC-certified, wireless module on the data-processing board. The device’s low power consumption allows for placing it on balconies and windowsills. Power to the device can be provided by a solar panel and/or battery. 
        </p>
        <p>
          The Kit is not another black box, it is compatible with Arduino and all the design files are open-source(schematics and firmware) and are available in <a href="https://github.com/fablabbcn/SmartCitizen.me" class="about">Github</a>. For more detailed hardware specifications visit <a href="http://docs.smartcitizen.me/#/start/hardware" class="about">docs.smartcitizen.me</a>.
        </p>
        <div class='embed-container'><iframe src='https://www.youtube.com/embed/O2hbSKfhE2E' frameborder='0' allowfullscreen></iframe></div>

        <div class="center">
          <md-button ng-click="vm.showStore($event)">Get your kit</md-button>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h2>Who</h2>
      <p>
        The project is born within <a href="http://fablabbcn.org" class="about">Fab Lab Barcelona</a> at the <a href="http://www.iaac.net" class="about">Institute for Advanced Architecture of Catalonia</a>, both focused centers on the impact of new technologies at different scales of human habitat, from the bits to geography.
      </p>
      <div layout="row" layout-align="space-between center">
        <a href="http://www.fablabbcn.org/" flex="22">
          <md-card>
            <img src="../../../assets/images/who-section-logos/fablab-bcn.jpg">
          </md-card>
        </a>
        <a href="http://www.iaac.net/" flex="22">
          <md-card>
            <img src="../../../assets/images/who-section-logos/iaac.jpg">
          </md-card>
        </a>
        <a href="http://mediainteractivedesign.com/" flex="22">
          <md-card>
            <img src="../../../assets/images/who-section-logos/mid.jpg">
          </md-card>
        </a>
        <a href="#" flex="22">
          <!-- <md-card>
            <img src="">
          </md-card> -->
        </a>
      </div>

      <div class="subtitle-separation">
        <h3>Collaborators</h3>
        <div layout="row" layout-align="space-between center">
          <a href="http://www.hangar.org" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/hangar.jpg">
            </md-card>
          </a>
          <a href="http://goteo.org/project/smart-citizen-sensores-ciudadanos" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/goteo.jpg">
            </md-card>
          </a>
          <a href="http://lafosca.cat" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/lafosca.jpg">
            </md-card>
          </a>
          <a href="http://www.facebook.com/manifiestodesign" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/manifesto.jpg">
            </md-card>
          </a>
        </div>
      </div>

      <div class="subtitle-separation">
        <h3>Partners</h3>
        <div layout="row" layout-align="space-between center">
          <a href="http://amsterdamsmartcity.com/" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/amsterdam-smart-city.jpg">
            </md-card>
          </a>
          <a href="https://www.waag.org/" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/waag-society.jpg">
            </md-card>
          </a>
          <a href="http://futureeverything.org/" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/future-everything.jpg">
            </md-card>
          </a>
          <a href="http://cisco.com/" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/cisco.jpg">
            </md-card>
          </a>
        </div>
        <div layout="row" layout-align="space-between center">
          <a href="http://intel.com/" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/intel.jpg">
            </md-card>
          </a>
          <a href="http://www.bcn.cat/" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/aj-barcelona.jpg">
            </md-card>
          </a>
          <a href="http://barcelonacultura.bcn.cat/" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/barcelona-cultura.jpg">
            </md-card>
          </a>
          <a href="https://arrayofthings.github.io/" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/array-things.jpg">
            </md-card>
          </a>
        </div>
        <div layout="row" layout-align="space-between center">
          <a href="http://organicity.eu/" flex="22">
            <md-card>
              <img src="../../../assets/images/who-section-logos/organicity.jpg">
            </md-card>
          </a>
          <a href="#" flex="22">
            <!-- <md-card>
              <img src="">
            </md-card> -->
          </a>
          <a href="#" flex="22">
            <!-- <md-card>
              <img src="">
            </md-card> -->
          </a>
          <a href="#" flex="22">
            <!-- <md-card>
              <img src="">
            </md-card> -->
          </a>
        </div>
      </div>

      <div class="subtitle-separation">
        <h3>Crowdfunding</h3>
        <p>This project get founded thanks to lovely bakers on:</p>

        <div class="expandable">
          <div class="expandBT">
            <h3>Kickstarter 2013</h3>
          </div>
          <br>
          <div class="expand-panel kickstarter">
            <iframe width="580" height="430" src="https://www.kickstarter.com/projects/acrobotic/the-smart-citizen-kit-crowdsourced-environmental-m/widget/video.html" frameborder="0"></iframe>
            <iframe frameborder="0" height="430" src="https://www.kickstarter.com/projects/acrobotic/the-smart-citizen-kit-crowdsourced-environmental-m/widget/card.html" width="220" style="float:left; margin-right:20px;"></iframe>
          </div>
        </div>
        <div class="expandable sensor-image-margin">
          <div class="expandBT">
            <h3>Goteo 2012</h3>
          </div>
          <div class="expand-panel goteo">
            <p>You can find more information at <a href="http://goteo.org/project/smart-citizen-sensores-ciudadanos/" class="about">Goteo</a></p>
            <table cellpadding="0" cellspacing="0" border="0" style="margin: 20px 0;">
              <tbody>
                <tr>
                  <td width="30%">Garcia</td>
                  <td width="30%">Abraham Cembrero Zúñiga</td>
                  <td width="30%">Adria (rzcll)</td>
                </tr>
                <tr>
                  <td>Aitor Aloa del Teso</td>
                  <td>Albert homs</td>
                  <td>Alberto Pérez Olaya</td>
                </tr>
                <tr>
                  <td>Alexandre Dubor</td>
                  <td>Alex Posada</td>
                  <td>Alfonso mendoza</td>
                </tr>
                <tr>
                  <td>Alvaros_g</td>
                  <td>Andrés Cerezo Guillén</td>
                  <td>Ángel D. Berruezo</td>
                </tr>
                <tr>
                  <td>Ángel Muñoz</td>
                  <td>Anna Kaziunas France</td>
                  <td>Antic Teatre</td>
                </tr>
                <tr>
                  <td>Anto Recio</td>
                  <td>Antonio García Calderón</td>
                  <td>Araceli Corbo</td>
                </tr>
                <tr>
                  <td>Areti (IAAC)</td>
                  <td>Arnau Ayza</td>
                  <td>Arnau Cangròs i Alonso</td>
                </tr>
                <tr>
                  <td>Arturo Saez</td>
                  <td>Avenida Sofia Hotel & Spa Sitges</td>
                  <td>babisansone</td>
                </tr>
                <tr>
                  <td>BaM</td>
                  <td>Beatrice Thèves-Engelbach</td>
                  <td>Blance Duarte (blancaivette)</td>
                </tr>
                <tr>
                  <td>bzzzbip</td>
                  <td>Carlos Bock</td>
                  <td>Carlos Iglesias</td>
                </tr>
                <tr>
                  <td>castarco</td>
                  <td>champloo</td>
                  <td>Chema Casanova</td>
                </tr>
                <tr>
                  <td>Cliensol energy</td>
                  <td>ColaBoraBora</td>
                  <td>crisis2smart</td>
                </tr>
                <tr>
                  <td>Dani Díaz</td>
                  <td>Daniel</td>
                  <td>Daniel Nüst</td>
                </tr>
                <tr>
                  <td>Daniel Saavedra</td>
                  <td>Daviba</td>
                  <td>David LH</td>
                </tr>
                <tr>
                  <td>David Peñuela</td>
                  <td>David Scarlatti</td>
                  <td>Davide Gallino</td>
                </tr>
                <tr>
                  <td>diegobus</td>
                  <td>dpr-barcelona</td>
                  <td>dsanchezbote</td>
                </tr>
                <tr>
                  <td>dvd (dpa1973)</td>
                  <td>Ed Borden</td>
                  <td>Ed Mago</td>
                </tr>
                <tr>
                  <td>edward hollands</td>
                  <td>El Franc</td>
                  <td>Eloi Garrido</td>
                </tr>
                <tr>
                  <td>Eloi Maduell</td>
                  <td>Emil Lima</td>
                  <td>Emily Sato</td>
                </tr>
                <tr>
                  <td>enricostn</td>
                  <td>ernesto guillen fontalba</td>
                  <td>esenabre</td>
                </tr>
                <tr>
                  <td>Eusebio Reyero</td>
                  <td>Eva Saura</td>
                  <td>Fabien Girardin</td>
                </tr>
                <tr>
                  <td>Felix Dubor</td>
                  <td>Félix Pedrera García</td>
                  <td>Franz Jimeno</td>
                </tr>
                <tr>
                  <td>Fred Adam</td>
                  <td>Felix Sainz</td>
                  <td>G!N</td>
                </tr>
                <tr>
                  <td>Gabo</td>
                  <td>Gerald Kogler y Marti Sanchez</td>
                  <td>Gil Obradors</td>
                </tr>
                <tr>
                  <td>hHenri Aboulker</td>
                  <td>hexxan labs</td>
                  <td>pfaffsandy</td>
                </tr>
                <tr>
                  <td>Iker Jimenez</td>
                  <td>ilitch</td>
                  <td>Inigo Barrera</td>
                </tr>
                <tr>
                  <td>Javier A. Rodríguez</td>
                  <td>Javier Montaner</td>
                  <td>Javier Sánchez</td>
                </tr>
                <tr>
                  <td>Jean-Baptiste HEREN</td>
                  <td>jnogueras</td>
                  <td>Joan Vallés</td>
                </tr>
                <tr>
                  <td>Jordi Ferran</td>
                  <td>Jorge Daniel Czajkowski</td>
                  <td>Jorge Sanz</td>
                </tr>
                <tr>
                  <td>José Costoya</td>
                  <td>José (politema)</td>
                  <td>Jose M Arbones Mainar</td>
                </tr>
                <tr>
                  <td>Jose Manuel</td>
                  <td>Josep Perelló</td>
                  <td>josianito</td>
                </tr>
                <tr>
                  <td>Juan Saura Ramírez</td>
                  <td>Juanjo Frechilla</td>
                  <td>Júlia López i Ventura</td>
                </tr>
                <tr>
                  <td>Julián Cánaves</td>
                  <td>Kincubator</td>
                  <td>laia sánchez</td>
                </tr>
                <tr>
                  <td>LauraFdez</td>
                  <td>Lucas Cappelli</td>
                  <td>Luis (Fraguada)</td>
                </tr>
                <tr>
                  <td>Mara Balestrini</td>
                  <td>Marc (Pous)</td>
                  <td>Marc Garriga</td>
                </tr>
                <tr>
                  <td>marcabra (Bravalero(</td>
                  <td>Maria Muñoz</td>
                  <td>Marianella (Coronell)</td>
                </tr>
                <tr>
                  <td>marioarienza</td>
                  <td>Marita Bom</td>
                  <td>Marte Roel</td>
                </tr>
                <tr>
                  <td>mborobio</td>
                  <td>memojoelojo</td>
                  <td>Miguel Senabre</td>
                </tr>
                <tr>
                  <td>Miquel Colomer</td>
                  <td>miska (Goteo)</td>
                  <td>Moisés Fernández</td>
                </tr>
                <tr>
                  <td>monica donati</td>
                  <td>nadya</td>
                  <td>Natassa Pistofidou</td>
                </tr>
                <tr>
                  <td>Norella Coronell</td>
                  <td>Nuriona</td>
                  <td>Olivier (schulbaum)</td>
                </tr>
                <tr>
                  <td>Oriol Ferrer Mesià</td>
                  <td>Pablo Rey Tristán</td>
                  <td>Parque Científico y Tecnológico de Bizkaia</td>
                </tr>
                <tr>
                  <td>Pilar Conesa</td>
                  <td>pang</td>
                  <td>Raf</td>
                </tr>
                <tr>
                  <td>Paula Baptista</td>
                  <td>Pere Casas Puig</td>
                  <td>Rocio Holzer</td>
                </tr>
                <tr>
                  <td>Raúl Micharet</td>
                  <td>Solo01</td>
                  <td>Rob Aalders</td>
                </tr>
                <tr>
                  <td>viriatov</td>
                  <td>Roberto (Madman)</td>
                  <td>Santiago Vilanova</td>
                </tr>
                <tr>
                  <td>Salvador Ejarque</td>
                  <td>pmisson</td>
                  <td>Sergi Martínez</td>
                </tr>
                <tr>
                  <td>Simón Lee</td>
                  <td>SirViente</td>
                  <td>SMD Arq (Oriol)</td>
                </tr>
                <tr>
                  <td>Vicenç Sampera</td>
                  <td>VideoDossier</td>
                  <td>Henri Boulker</td>
                </tr>
                <tr>
                  <td>tiefpunkt (Severin)</td>
                  <td>xa2 (Diaz)</td>
                  <td>Xavi Polo</td>
                </tr>
                <tr>
                  <td>Xixo</td>
                  <td>Zeca (Fernandez)</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div layout="column" class="subtitle-separation">
        <h2>Team</h2>
        <div class="team-cells-margin">
          <h4 class="no-margin">Tomas Diez</h4>
          <p class="no-margin">Co-founder, strategic planning</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Alex Posada</h4>
          <p class="no-margin">Co-founder, project hardware design and developer</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Guillem Camprodon</h4>
          <p class="no-margin">Project management and development</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">M.A. Heras</h4>
          <p class="no-margin">Hardware design and development</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Aitor Aloa</h4>
          <p class="no-margin">Customer support and logistics</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">John Rees</h4>
          <p class="no-margin">Lead backend developer</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Ángel Muñoz</h4>
          <p class="no-margin">Hardware research and development</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Mara Balestrini</h4>
          <p class="no-margin">Communities development and research</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Enrique Perotti</h4>
          <p class="no-margin">Industrial design</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Rubén Vicario</h4>
          <p class="no-margin">New web platform development</p>
        </div>
        <div class="">
          <h4 class="no-margin">Máximo Gavete</h4>
          <p class="no-margin">New web platform platform design</p>
        </div>
      </div>
      <div class="subtitle-separation">
        <h2>Formerly team and collaborators</h2>
        <p>We would like to thank the effort and contributions to the project of all the formerly team members and collaborators who helped the project since 2012.</p>
        <div class="team-cells-margin">
          <h4 class="no-margin">Alexandre Dubor</h4>
          <p class="no-margin">First platform design, programming and development</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Leonardo Arrata</h4>
          <p class="no-margin">Platform and mobile app design and development</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Xavier Vinaixa</h4>
          <p class="no-margin">Platform API development, mobile app development</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Gabriel Bello-Diaz</h4>
          <p class="no-margin">First platform design</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Jorren Schauwaert</h4>
          <p class="no-margin">Project management and communication</p>
        </div>
        <div class="team-cells-margin">
          <h4 class="no-margin">Alejandro Andreu</h4>
          <p class="no-margin">Original project documentation and project revision</p>
        </div>
      </div>
      <div class="subtitle-separation">
        <h2>Contact Us</h2>
        <p>Please feel free to <a class="about" href="mailto:info@smartcitizen.me">contact us.</a> We will answer you as soon as possible!</p>
      </div>
    </div>
    <img style="margin-bottom: -5px;" src="./assets/images/kit-wall.jpg" class="full-width-img">
  </div>
</section>
