<section class="static_page" flex>
  <div class="timeline" layout="row">
    <div class="content" layout="row" layout-align="start center" flex>
      <h1>About</h1>
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h2>Smart Citizen</h2>

      <h4>People looking for a better city</h4>
      <p>
        What are the real levels of air pollution around your home or business? and what about noise
        pollution? and humidity?
      </p>
      <p>
        Now imagine that you could know them, share instantly and compare with other places in your city,
        in real time ... How could this information help to improve our environment quality?
      </p>
      <p>
        From Smart Citizen we want to answer to these questions and many more, through the development of
        low-cost sensors. Now you can be one of these sensors in a network by supporting this project. But
        we will not stop here ... How can we built a real Smart City...by Smart Citizens?
      </p>

      <!-- <md-button class="md-primary md-raised">button</md-button>
      <md-button class="md-primary">button</md-button> -->
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h2>What</h2>

      <h4>The platform</h4>
      <p>
        Smart Citizen is a platform to generate participatory processes of people in the cities. Connecting data,
        people and knowledge, the objective of the platform is to serve as a node for building productive and open
        indicators, and distributed tools, and thereafter the collective construction of the city for its own inhabitants.
      </p>
      <p>
        The Smart Citizen project is based on geolocation, Internet and free hardware and software for data collection and
        sharing. It connects people with their environment and their city to create more effective and optimized relationships
        between resources, technology, communities, services and events in the urban environment. Currently it is being
        deployed as initial phase in Barcelona city.
      </p>

      <h4>The sensors</h4>
      <p>
        The Smart Citizen Kit is a piece of hardware comprised by two printed-circuit boards: an interchangeable daughterboard
        or shield, and an arduino-compatible data-processing board. We have nicknamed the shield developed for this campaign
        'The Ambient Board.' As the name suggests, it carries sensors that measure air composition (CO and NO2), temperature,
        light intensity, sound levels, and humidity. Once it’s set up, the ambient board is able to stream data measured by
        the sensors over Wi-Fi using the FCC-certified, wireless module on the data-processing board. The device’s low power
        consumption allows for placing it on balconies and windowsills. Power to the device can be provided by a solar panel
        and/or battery. All the design files (schematics and PCB layout) for this Open-Source, Arduino-compatible device are
        available on our <a href="https://github.com/fablabbcn/SmartCitizen.me">Github repository</a>.

        <img src="http://smartcitizen.me/img/sck/sck_1_1_6_lowres.jpg?1429270490" class="sensor-image-margin">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="content">
      <h2>Who</h2>
      <p>
        The project is born within <a href="http://fablabbcn.org">Fab Lab Barcelona</a> at the <a href="http://www.iaac.net">Institute for Advanced Architecture
        of Catalonia</a>, both focused centers on the impact of new technologies at different scales
        of human habitat, from the bits to geography.
      </p>
      <div layout="row" layout-align="space-between center" flex="100" class="sensor-image-margin">
        <md-content>
          <a href="http://www.fablabbcn.org/">
            <img src="http://yuzz.org.es/wp-content/uploads/2015/01/Intel.png" style="width:40%";>
          </a>
        </md-content>
        <md-content>
          <a href="http://www.fablabbcn.org/">
            <img src="http://yuzz.org.es/wp-content/uploads/2015/01/Intel.png" style="width:40%";>
          </a>
        </md-content>
        <md-content>
          <a href="http://www.fablabbcn.org/">
            <img src="http://yuzz.org.es/wp-content/uploads/2015/01/Intel.png" style="width:40%";>
          </a>
        </md-content>
        <md-content>
          <a href="http://www.fablabbcn.org/">
            <img src="http://yuzz.org.es/wp-content/uploads/2015/01/Intel.png" style="width:40%";>
          </a>
        </md-content>
        <!-- <md-content>
          <a href="http://www.iaac.net/">Iaac</a>
        </md-content>
        <md-content>
          <a href="http://mediainteractivedesign.com/">Mid</a>
        </md-content>
        <md-content>
          <a href="http://mediainteractivedesign.com/">Mid</a>
        </md-content> -->
      </div>

      <h4>Collaborators</h4>
      <p>
        <a href="http://www.hangar.org">Hangar</a>
      </p>
      <p>
        <a href="http://goteo.org/project/smart-citizen-sensores-ciudadanos">Goteo</a>
      </p>
      <p>
        <a href="http://lafosca.cat">Lafosca</a>
      </p>
      <p>
        <a href="http://www.facebook.com/manifiestodesign">Manifesto</a>
      </p>

      <h4>Partners</h4>
      <p>
        <a href="http://amsterdamsmartcity.com/">Amsterdam Smart City</a>
      </p>
      <p>
        <a href="https://www.waag.org/">Waag Society</a>
      </p>
      <p>
        <a href="http://futureeverything.org/">Future Everything</a>
      </p>
      <p>
        <a href="http://cisco.com/">Cisco</a>
      </p>
      <p>
        <a href="http://intel.com/">Intel</a>
      </p>
      <p>
        <a href="http://www.bcn.cat/">Ajuntament de Barcelona</a>
      </p>
      <p>
        <a href="http://barcelonacultura.bcn.cat/">Barcelona Cultura</a>
      </p>
      <p>
        <a href="https://arrayofthings.github.io/">Array Of Things</a>
      </p>
      <p>
        <a href="http://organicity.eu/">Organicity</a>
      </p>

      <h4>Crowdfunding</h4>
      <p>This project get founded thanks to lovely bakers on:</p>

      <div class="expandable">
        <div class="expandBT">
          Kickstarter 2013
        </div>
        <div class="">
          <iframe width="480" height="360" src="https://www.kickstarter.com/projects/acrobotic/the-smart-citizen-kit-crowdsourced-environmental-m/widget/video.html" frameborder="0"></iframe>
          <iframe frameborder="0" height="40" src="https://www.kickstarter.com/projects/acrobotic/the-smart-citizen-kit-crowdsourced-environmental-m/widget/card.html" width="220" style="float:left; margin-right:20px;"></iframe>
        </div>
      </div>
      <br>
      <div class="expandable">
        <div class="expandBT">
          Goteo 2012
        </div>
        <div class="expand-panel goteo">
          You can find more information at <a href="http://goteo.org/project/smart-citizen-sensores-ciudadanos/">Goteo</a>
          <table cellpadding="0" cellspacing="0" border="0" style="margin: 20px 0;">
            <tbody>
              <tr>
                <td width="284">88lgarcia</td>
                <td>Abraham Cembrero Zúñiga</td>
              </tr>
              <tr>
                <td>adria (rzcll)</td>
                <td>Aitor Aloa del Teso</td>
              </tr>
              <tr>
                <td>albert homs</td>
                <td>Alberto Pérez Olaya</td>
              </tr>
              <tr>
                <td>Alexandre Dubor</td>
                <td>Alex Posada</td>
              </tr>
              <tr>
                <td>Alfonso mendoza</td>
                <td>Alvaros_g</td>
              </tr>
              <tr>
                <td>Andrés Cerezo Guillén</td>
                <td>Ángel D. Berruezo</td>
              </tr>
              <tr>
                <td>Ángel Muñoz</td>
                <td>Anna Kaziunas France</td>
              </tr>
              <tr>
                <td>Antic Teatre</td>
                <td>Anto Recio</td>
              </tr>
              <tr>
                <td>Antonio García Calderón</td>
                <td>Araceli Corbo</td>
              </tr>
              <tr>
                <td>Areti (IAAC)</td>
                <td>Arnau Ayza</td>
              </tr>
              <tr>
                <td>Arnau Cangròs i Alonso</td>
                <td>Arturo Saez</td>
              </tr>
              <tr>
                <td>Avenida Sofia Hotel & Spa Sitges</td>
                <td>babisansone</td>
              </tr>
              <tr>
                <td>BaM</td>
                <td>Beatrice Thèves-Engelbach</td>
              </tr>
              <tr>
                <td>Blance Duarte (blancaivette)</td>
                <td>bzzzbip</td>
              </tr>
              <tr>
                <td>Carlos Bock</td>
                <td>Carlos Iglesias</td>
              </tr>
              <tr>
                <td>castarco</td>
                <td>champloo</td>
              </tr>
              <tr>
                <td>Chema Casanova</td>
                <td>Cliensol energy</td>
              </tr>
              <tr>
                <td>ColaBoraBora</td>
                <td>crisis2smart</td>
              </tr>
              <tr>
                <td>Dani Díaz</td>
                <td>Daniel</td>
              </tr>
              <tr>
                <td>Daniel Nüst</td>
                <td>Daniel Saavedra</td>
              </tr>
              <tr>
                <td>Daviba</td>
                <td>David LH</td>
              </tr>
              <tr>
                <td>David Peñuela</td>
                <td>David Scarlatti</td>
              </tr>
              <tr>
                <td>Davide Gallino</td>
                <td>diegobus</td>
              </tr>
              <tr>
                <td>dpr-barcelona</td>
                <td>dsanchezbote</td>
              </tr>
              <tr>
                <td>dvd (dpa1973)</td>
                <td>Ed Borden</td>
              </tr>
              <tr>
                <td>Ed Mago</td>
                <td>edward hollands</td>
              </tr>
              <tr>
                <td>El Franc</td>
                <td>Eloi Garrido</td>
              </tr>
              <tr>
                <td>Eloi Maduell</td>
                <td>Emil Lima</td>
              </tr>
              <tr>
                <td>Emily Sato</td>
                <td>enricostn</td>
              </tr>
              <tr>
                <td>ernesto guillen fontalba</td>
                <td>esenabre</td>
              </tr>
              <tr>
                <td>Eusebio Reyero</td>
                <td>Eva Saura</td>
              </tr>
              <tr>
                <td>Fabien Girardin</td>
                <td>Felix Dubor</td>
              </tr>
              <tr>
                <td>Félix Pedrera García</td>
                <td>Franz Jimeno</td>
              </tr>
              <tr>
                <td>Fred Adam</td>
                <td>Felix Sainz</td>
              </tr>
              <tr>
                <td>G!N</td>
                <td>Gabo</td>
              </tr>
              <tr>
                <td>Gerald Kogler y Marti Sanchez</td>
                <td>Gil Obradors</td>
              </tr>
              <tr>
                <td>hHenri Aboulker</td>
                <td>hexxan labs</td>
              </tr>
              <tr>
                <td>pfaffsandy</td>
                <td>Iker Jimenez</td>
              </tr>
              <tr>
                <td>ilitch</td>
                <td>Inigo Barrera</td>
              </tr>
              <tr>
                <td>Javier A. Rodríguez</td>
                <td>Javier Montaner</td>
              </tr>
              <tr>
                <td>Javier Sánchez</td>
                <td>Jean-Baptiste HEREN</td>
              </tr>
              <tr>
                <td>jnogueras</td>
                <td>Joan Vallés</td>
              </tr>
              <tr>
                <td>Jordi Ferran</td>
                <td>Jorge Daniel Czajkowski</td>
              </tr>
              <tr>
                <td>Jorge Sanz</td>
              </tr>
              <tr>
                <td>José Costoya</td>
                <td>José (politema)</td>
              </tr>
              <tr>
                <td>Jose M Arbones Mainar</td>
                <td>Jose Manuel</td>
              </tr>
              <tr>
                <td>Josep Perelló</td>
                <td>josianito</td>
              </tr>
              <tr>
                <td>Juan Saura Ramírez</td>
                <td>Juanjo Frechilla</td>
              </tr>
              <tr>
                <td>Júlia López i Ventura</td>
                <td>Julián Cánaves</td>
              </tr>
              <tr>
                <td>Kincubator</td>
                <td>laia sánchez</td>
              </tr>
              <tr>
                <td>LauraFdez</td>
                <td>Lucas Cappelli</td>
              </tr>
              <tr>
                <td>Luis (Fraguada)</td>
                <td>Mara Balestrini</td>
              </tr>
              <tr>
                <td>Marc (Pous)</td>
                <td>Marc Garriga</td>
              </tr>
              <tr>
                <td>marcabra (Bravalero(</td>
                <td>Maria Muñoz</td>
              </tr>
              <tr>
                <td>Marianella (Coronell)</td>
                <td>marioarienza</td>
              </tr>
              <tr>
                <td>Marita Bom</td>
                <td>Marte Roel</td>
              </tr>
              <tr>
                <td>mborobio</td>
                <td>memojoelojo</td>
              </tr>
              <tr>
                <td>Miguel Senabre</td>
                <td>Miquel Colomer</td>
              </tr>
              <tr>
                <td>miska (Goteo)</td>
                <td>Moisés Fernández</td>
              </tr>
              <tr>
                <td>monica donati</td>
                <td>nadya</td>
              </tr>
              <tr>
                <td>Natassa Pistofidou</td>
                <td>Norella Coronell</td>
              </tr>
              <tr>
                <td>Nuriona</td>
                <td>Olivier (schulbaum)</td>
              </tr>
              <tr>
                <td>Oriol Ferrer Mesià</td>
                <td>Pablo Rey Tristán</td>
              </tr>
              <tr>
                <td>Parque Científico y Tecnológico de Bizkaia</td>
                <td>Pilar Conesa</td>
              </tr>
              <tr>
                <td>pang</td>
                <td>Raf</td>
              </tr>
              <tr>
                <td>Paula Baptista</td>
                <td>Pere Casas Puig</td>
              </tr>
              <tr>
                <td>Rocio Holzer</td>
                <td>Raúl Micharet</td>
              </tr>
              <tr>
                <td>Solo01</td>
                <td>Rob Aalders</td>
              </tr>
              <tr>
                <td>viriatov</td>
                <td>Roberto (Madman)</td>
              </tr>
              <tr>
                <td>Santiago Vilanova</td>
                <td>Salvador Ejarque</td>
              </tr>
              <tr>
                <td>pmisson</td>
                <td>Sergi Martínez</td>
              </tr>
              <tr>
                <td>Simón Lee</td>
                <td>SirViente</td>
              </tr>
              <tr>
                <td>SMD Arq (Oriol)</td>
                <td>tiefpunkt (Severin)</td>
              </tr>
              <tr>
                <td>Vicenç Sampera</td>
                <td>VideoDossier</td>
              </tr>
              <tr>
                <td>Henri Boulker</td>
                <td>xa2 (Diaz)</td>
              </tr>
              <tr>
                <td>Xavi Polo</td>
                <td>Xixo</td>
              </tr>
              <tr>
                <td>Zeca (Fernandez)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h4>Team</h4>
      <p>
        <span>Tomas Diez</span>, co-founder, project integration, strategic planning
      </p>
      <p>
        <span>Alex Posada</span>, co-founder, project hardware design and developer
      </p>
      <p>
        <span>Guillem Camprodon</span>, integration and project development (h&s)
      </p>
      <p>
        <span>M.A. Heras</span>, hardware designer and developer
      </p>
      <p>
        <span>Alexandre Dubor</span>, first platform design, programming and development
      </p>
      <p>
        <span>Leonardo Arrata</span>, platform and mobile app design and development
      </p>
      <p>
        <span>Aitor Aloa</span>, logistics and customer support
      </p>
      <p>
        <span>Ángel Muñoz</span>, hardware designer and developer
      </p>
      <p>
        <span>Xavier Vinaixa</span>, platform API development, mobile app development
      </p>
      <p>
        <span>Gabriel Bello-Diaz</span>, first platform design
      </p>
      <p>
        <span>Francisco Zabala</span>, USA development partner
      </p>
      <p>
        <span>Jorren Schauwaert</span>, project management and communication
      </p>
      <p>
        <span>Alejandro Andreu</span>, original project documentation and project revision
      </p>

      <h4>THE PLATFORM</h4>

      <h4>Contact Us</h4>

    </div>
  </div>
</section>
