<section class="static_page" flex>
  <div class="timeline" layout="row">
    <div class="content" layout="row" layout-align="start center" flex>
      <h1>Policy</h1>
    </div>
  </div>

<div class="">
<div class="content">
  <h2>Content</h2>
  <ul id="policy-toc">
  <li class="policy-toc" id="header"><a href="#terms-of-use">Terms of use</a></li>
  <ul>
    <li class="policy-toc"><a href="#general-terms">General terms</a></li>
    <li class="policy-toc"><a href="#uploading-content">Using the Platform and uploading Content</a></li>
    <li class="policy-toc"><a href="#downloading-content">Using the Platform to access Content</a></li>
  </ul>
  <li class="policy-toc" id="header"><a href="#policy">Privacy Policy</a></li>
  <ul>
    <li class="policy-toc"><a href="#policy-purpose">The purpose of this Privacy Policy</a></li>
    <li class="policy-toc"><a href="#changes">Changes to the Privacy Policy</a></li>
    <li class="policy-toc"><a href="#personal-data">Personal Data processed</a></li>
    <li class="policy-toc"><a href="#processing-purposes">Processing purposes</a></li>
    <li class="policy-toc"><a href="#personal-data-comm">Personal Data communication by Smart Citizen</a></li>
    <li class="policy-toc"><a href="#user-rights">Your rights</a></li>
    <li class="policy-toc"><a href="#personal-data-storage">Personal Data storage and transmission within the European Union</a></li>
    <li class="policy-toc"><a href="#data-security">Security of you Data and data breach</a></li>
    <li class="policy-toc"><a href="#other-sites">Other websites and applications</a></li>
    <li class="policy-toc"><a href="#data-controller">Data Controller and contacts</a></li>
  </ul>
</ul>
<h2 id="terms-of-use" name="terms-of-use">Terms of use</h2>

<h3 id="general-terms">1. General terms</h3>

<h4>1. Your relationship with Smart Citizen</h4>

<p>1.  Please note that your use of Smart Citizen website (www.smartcitizen.me) and any possible
  software or tool provided to you for the access/registration to and/or the use of the website
  <b>(hereinafter the "Platform")</b> is subject to the terms of a legal agreement between you and Institut d'Arquitectura Avançada de Catalunya Fundació Privada -
  Barcelona, Pujades 102, Barcelona - 08005 <b>(hereinafter "Smart Citizen")</b>. By using the Platform you acknowledge, 
  accept and agree with these Terms of Use and the Privacy Policy.
</p>
<p>2.  The legal agreement between you and Smart Citizen governing the use of the Platform is made up
  of the terms and conditions set out in this document <b>(hereinafter the "Terms of Use")</b> and the
  Smart Citizen's privacy policy available at <a href="#policy" class="about">Privacy policy<!--(/pages/privacy)--></a>
  <b>(hereinafter the "Privacy Policy")</b> (collectively called the "Terms").
</p>
<p>3.  The Terms form a legally binding agreement between you and Smart Citizen in relation to your use
  of the Platform. It is important that you take the time to read them carefully.
</p>
<p>4.  The Terms apply to all users of the Platform, including those who are also contributing to it by
  uploading on the Platform data captured thought the Smart Citizen Kit <b>(hereinafter the "SCK")</b>.
</p>

<h4>2. Accepting the Terms</h4>

<p>1.  The Terms constitute an agreement between you, the User of the Platform, and Smart Citizen. If you do not agree to these Terms, you should stop using the Platform immediately.
</p>
<p>2.  If you do use the Platform, your use shall be deemed to confirm your acceptance of the Terms and your agreement to be a party to this agreement.
</p>

<h4>3. Changes to the Terms</h4>
<p>1.  Smart Citizen reserves the right to make changes to the Terms from time to time, for example to address
  changes to the law or regulatory changes or changes to functionality offered through the Platform.
</p>
<p>2.  If such changes occur, Smart Citizen will do its best to provide you with advance notice, although
  in some situations, such as where a change is required to satisfy applicable legal requirements, an update
  to these Terms may need to be effective immediately. Smart Citizen will announce changes directly on the
  Platform and it also may elect to notify you of changes by sending an email to the address you have provided
  to it. In any case, the revised version of Terms of Use will be always accessible at <a href="#terms-of-use" class="about">Terms of use
  <!--(/pages/terms)--></a> and the revised version of the Privacy Policy will be accessible at <a href="#policy" class="about">
  Privacy policy<!--(/pages/privacy)--></a>.
</p>
<p>3.  If Smart Citizen does update the Terms, you are free to decide whether to accept the revised terms
  or to stop using the Platform. Your continued use of the Platform after the date the revised Terms are
  posted will constitute your acceptance of these new Terms.
</p>
<p>4.  You understand and agree that You are solely responsible for periodically reviewing the Terms.
</p>
<p>5.  Except for changes made by Smart Citizen as described above, no other amendment or modification
  of these Terms shall be effective unless set forth in a written agreement bearing a written signature
  by you and Smart Citizen. For clarity, email or other communications will not constitute an effective
  written agreement for this purpose.
</p>

<h4>4. The Smart Citizen Platform</h4>
<p>1.  The Smart Citizen Platform is born as part of a project within Fab Lab Barcelona (<a href="https://fablabbcn.org" target="_blank" class="about">fablabbcn.org</a>)
  at the Institute for Advanced Architecture of Catalonia (<a href="http://iaac.net" target="_blank" class="about">iaac.net</a>). It is actively maintained by Fab Lab Barcelona, and receives contributions from freelancers, collaborators and the open source community.
</p>

<p>2.  Smart Citizen project is based on the use of free hardware and software for data
  collection and sharing. It aims at generating participatory processes for people in cities. Connecting
  data, people and knowledge, the objective of the project is to serve as a platform for building productive and
  open indicators and thereafter the collective construction of the city for its own inhabitants.
</p>
<p>3.  Anyone can purchase a Smart Citizen Kit. The
  SCK is an open source electronic sensor board equipped with environmental metrics such as air quality, temperature, sound, humidity and
  light quantity sensors, containing a battery charger and equipped with a WiFi antenna that allows to upload
  data from the sensors in real time to the Platform and make it available to the community.
</p>

<p>4.  In order to share data captured with the SCK and/or access to other user's data on the Platform, it
  is necessary to register and create a Smart Citizen account.
</p>

<h4>5. Creating a Smart Citizen account</h4>
<p>1.  In order to use the Platform, you need to create a Smart Citizen account. You create an account by
  providing Smart Citizen with username and email address and creating a password <b>(hereinafter "Account Information”)</b>.
</p>
<p>2.  You are the only responsible for maintaining the accuracy, completeness and confidentiality of your Account
  Information, and you will be responsible for all activities that occur under your account, including activities
  of others to whom you have provided your Account Information. Smart Citizen is not be liable for any loss or
  damage arising from your failure to provide accurate information or to keep your Account Information secure.
  If you discover any unauthorized use of your Account Information or suspect that anyone may be able to access
  your private Content, you should immediately change your password and notify the Support team at the
  following address <a href="mailto:support@smartcitizen.me" class="about">link<!--(/pages/about)--></a>.
</p>

<h4>6. Changes to the Platform</h4>
<p>1.  We retain the right, in our sole discretion, to implement new elements as part of and/or ancillary to
  the Platform, including changes that may affect its previous mode of operation.
</p>

<p>2.  We also reserve the right to establish limits to the nature or size of storage available to you, the
  number of transmissions and email messages, execution of you program code, your Content and other data,
  and impose other limitations at any time, with or without notice.
</p>

<p>3.  You agree that Smart Citizen has no responsibility or liability as a result of, without limitation,
  the deletion of, or failure to make available to you, any Content. You agree that we shall not be liable
  to you or to any third party for any modification, suspension or discontinuance of any part of the Platform.
</p>

<h4>7. Termination</h4>
<p>1.  You may close your Platform account at any time, for any reason (or no reason), and you do not even
  have to give us notice.
</p>
<p>2.  Smart Citizen may suspend access to your account, or close your account according to these Terms. Reasons
  for Smart Citizen suspending or closing your account may include, without limitation: (i) breach or violation
  of these Terms or any other agreement between you and Smart Citizen and related to the use of the Platform,
  (ii) the discontinuance or material modification of the Platform (or any part thereof) or (iii) unexpected
  technical or security issues or problems. In most cases, in the event we elect to close your account, we will
  provide at least 30 days advance notice to you at the email address you have provided at the creation of the
  account. After the expiration of this notice period, you will no longer be able to retrieve Content contained
  in that account or otherwise use the Platform through that account.
</p>
<p>3.  Smart Citizen shall not be liable to you or any third party for termination of the Platform.
</p>
<p>4.  All disclaimers, limitations of warranties and damages, and confidential commitments set forth in these
  Terms of Use or otherwise existing at law survive any termination, expiration of these Terms of Use.
</p>

<h4>8. Third-Party Links, applications or APIs</h4>
<p>1.  We may include or recommend third party resources, materials and developers and/or links to third party
  websites and applications as part of, or in connection with, the Platform. We have no control over such sites
  or developers and, accordingly, you acknowledge and agree that (i) we are not responsible for the availability
  of such external sites or applications; (ii) we are not responsible or liable for any content or other materials
  or performance available from such sites or applications and (iii) we shall not be responsible or liable, directly
  or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance
  on any such content, materials or applications.
</p>

<h4>9. Indemnity</h4>
<p>1.  You agree to indemnify and hold Smart Citizen, its subsidiaries, affiliates, officers, agents, employees,
  advertisers and partners harmless from and against any and all claims, liabilities, damages (actual and consequential),
  losses and expenses (including legal and other professional fees) arising from or in any way related to any third party
  claims relating to your use of any of the Platform, any violation of these Terms of Use or any other actions connected
  with your use of the Platform (including all actions taken under your account). In the event of such claim, we will
  provide notice of the claim, suit or action to the contact information we have for the account, provided that any
  failure to deliver such notice to you shall not eliminate or reduce your indemnification obligation hereunder.
</p>

<h4>10. High Risk Activities</h4>
<p>1.  The Smart Citizen Platform and the Smart Citizen Kit are not fault-tolerant and are not designed, manufactured or intended for use as or
  with on-line control equipment in hazardous environments requiring fail-safe performance, such as in the operation
  of nuclear facilities, aircraft navigation or communication systems, air traffic control, direct life support machines
  or weapon systems in which the failure of the Platforms could lead directly to death, personal injury or severe physical
  or environmental damage ("High Risk Activities"). Accordingly, Smart Citizen and its suppliers specifically disclaim
  any express or implied warranty of fitness for High Risk Activities.
</p>

<h4>11. Miscellaneous</h4>
<p>1.  These Terms of Use shall be governed by and construed in accordance with Spanish laws, without giving effect
  to any principles of conflict of law. You agree that any action at law or in equity arising out of or relating
  to these Terms of Use shall be filed only in Spanish Courts and you hereby consent and submit to the personal
  jurisdiction of such courts for the purposes of litigating any such action.
</p>


<p>2.  No party shall be liable for any performance failure, delay in performance, or lost data under these Terms
  of Use due to causes beyond that party's reasonable control and occurring without its fault or negligence.
</p>
<p>3.  The failure of Smart Citizen to partially or fully exercise any right shall not prevent the subsequent exercise
  of such right. The waiver by Smart Citizen of any breach shall not be deemed a waiver of any subsequent breach of
  the same or any other term of these Terms of Use. No remedy made available to Smart Citizen by any of the provisions
  of these Terms of Use is intended to be exclusive of any other remedy, and each and every remedy shall be cumulative
  and in addition to every other remedy available at law or in equity.
</p>
<p>4.  All products, company names, brand names, trademarks and logos are the property of their respective owners.
</p>

<h4>12. Software Licenses</h4>

<p>1. The Platform software is composed of three main items: (i) the <a href="https://smartcitizen.me" target="_blank" class="about">Smart Citizen Website</a>, which aims to provide a visual website where the project environmental sensors can be accessed in near real time; (ii) the <a href="https://api.smartcitizen.me/v0/" target="_blank" class="about">Smart Citizen API</a>, which provides a REST interface for all the functionalities available on the Website; and (iii) the <a href="https://start.smartcitizen.me" target="_blank" class="about">Onboarding app</a>, which aims to facilitate the process of sensor setup. More information is available in the <a href="https://docs.smartcitizen.me/Data/Sensor%20Platform/#software-components" target="_blank" class="about">official documentation</a>.</p>
<p>2. All the software of the Platform is Licensed through GNU Affero General Public License v3.0. A full text of this license can be accessed in <a href="https://github.com/fablabbcn/smartcitizen-api/blob/master/LICENSE" target="_blank" class="about">this link</a>. All it's source code is available in the official repositories for anyone to explore, copy or remake: <a href="https://github.com/fablabbcn/smartcitizen-api" target="_blank" class="about">smartcitizen-api</a>, <a href="https://github.com/fablabbcn/smartcitizen-onboarding-app-start" target="_blank" class="about">smartcitizen-onboarding-app</a> and <a href="https://github.com/fablabbcn/smartcitizen-web" target="_blank" class="about">smartcitizen-web</a>.

<h3 id="uploading-content">2. Using the Platform and uploading Content</h3>


<p>
The terms below apply to those users of the Platform that will interact with it uploading content, such as creating devices in it, uploading sensor readings, or personal information.
</p>

<h4>
1. General terms
</h4>
<p>1.  Your use of the Platform shall be in accordance with these Terms. You agree that you are the only responsible for your own conduct and all conduct under your account.
</p>
<p>2.  Once your account is created and you accept these Terms, we grant you a limited, non-exclusive license
  to use the Platform subject to these Terms, for so long as you are not barred from using the Platform under
  the laws applicable to you, until you voluntarily close your account or until we close your account pursuant
  to these Terms. You do not obtain any other right or interest in the Platform.
</p>


<p>3.  In order to share sensor readings captured with the SCK <b>(hereinafter the "sensor readings")</b> it is necessary to register and create a Smart Citizen account.
</p>

<p>4.  You agree that you are the sole responsible as the person who created the Content or introduced it into the Platform. This applies whether the Content is kept private, shared or transmitted using the Platform or any third party application or services integrated with the Platform.
</p>

<p>5.  Smart Citizen does not select or screen Content, and does not review, test, confirm, approve or verify
  any user data or Content or the accuracy of it. Smart Citizen access to/storing of/use of Content does not
  imply or create any liability on the part of it.
</p>

<h4>2. Restricted use of the Platform</h4>

<p>1.  You agree not to use the Platform for any illegal purpose nor to post, distribute, or otherwise make available or transmit any data, software or other computer files that (i) contain a virus, trojan horse, worm or other harmful or destructive component, (ii) infringe third parties' rights (intellectual property rights and personality rights).
</p>
<p>2.  You agree not to alter or modify any part of the Platform and its related technologies nor to (or attempt to) circumvent, disable or otherwise interfere with any security related features of the Platform.
</p>

<p>3.  You agree that you are solely responsible for (and that Smart Citizen has no responsibility to you or to any
  third party for) any breach of your obligations under the Terms and for the consequences of any such breach.
</p>

<h4>3. Content rights and licenses</h4>

<p>1.  You retain copyright and any other rights you already held in your Content before you submitted, posted or
  displayed it on or through the Platform. Other than the limited license and other rights you grant in these Terms,
  Smart Citizen acknowledges and agrees that it do not obtain any right, title or interest from you under these Terms
  in any of your Content.
</p>
<p>2.  By using the Platform and uploading you grant Smart Citizen a limited license in order to make your data
  accessible and usable on the Platform. Thus, you grant Smart Citizen a license to display, execute, and distribute
  any of your Content and to modify for technical purposes and reproduce such Content to enable Smart Citizen to operate
  the Platform. You also agree that Smart Citizen has the right to elect not to accept, post, execute, store, display,
  publish or transmit any Content. You agree that these rights and licenses are royalty free, irrevocable and worldwide
  (for so long as your Content is accessible on the Platform), and include a right for Smart Citizen to make such
  Content available to, and pass these rights along to, others with whom this latter has contractual relationships
  related to the provision of the Platform, solely for the purpose of providing Platform's services, and to otherwise
  permit access to or disclose your Content to third parties if it determines such access is necessary to comply
  with its legal obligations.
</p>
<p>3.  Except as described in these Terms of Use, unless you elect to enable others to view or have access to the
  Content you submit to the Platform, no one else should see your Content without your consent. Of course, if you
  do elect to publish or share any portion of your Content by creating a feed of information, or creating a webservice
  to publish Content, then you would be enabling each of those permitted users to access, use, display, perform,
  distribute and modify your Content. In addition, Smart Citizen enables you to use a variety of third party services
  and applications that interact with the Platform and your Content, and you should review the access rights you
  provide to those services or applications, as you may enable them to access your Content through your agreements
  with those parties.
</p>
<p>4.  You also represent and warranty that, by submitting Content to the Platform and granting Smart Citizen the rights described in these Terms, you are not infringing the rights of any person or third party.
</p>

<h3 id="downloading-content">3. Using the Platform to access Content</h3>

<h4>
1. General terms
</h4>

<p>1.  The Platform Data is made available under the Open Database License: <a href="http://opendatacommons.org/licenses/odbl/1.0/" class="about">http://opendatacommons.org/licenses/odbl/1.0/</a>. Any rights in individual contents of the database are licensed under the Database Contents License: <a href="http://opendatacommons.org/licenses/dbcl/1.0/" class="about">http://opendatacommons.org/licenses/dbcl/1.0/</a>

<p>2.  All sensor readings in the platform are public and can be viewed in the Smart Citizen Website without user registration. Additionally, sensor readings can be downloaded from any device without user registration through the Smart Citizen API <b>(hereinafter the "API")</b>. The API is a publicly available interface allowing anyone to develop applications and experiments on top of the Smart Citizen Platform. There is an exception to this for devices marked as <b>private</b>, in which case, sensor readings and sensor information will not be available for anyone except the device's owner. Marking a device as private is only available for the device owner and no one else.
</p>

<p>3.  Smart Citizen is not liable for the Content or accuracy of any information, and shall not be responsible for any acts taken or decisions made based on such information.
</p>

</div>
</div>

<div class="">
<div class="content">
<h2  id="policy" name="policy">Privacy Policy</h2>

<p>This Privacy Policy explains what information Smart Citizen collects about you and why. Please read it carefully.
</p>

<h3 id="policy-purpose">1. The purpose of this Privacy Policy</h3>
<p>1.  This Privacy Policy shall be read together with and in accordance with Smart Citizen Platform Terms of Use
  available at <a href="#terms-of-use" class="about">Terms of use<!--(/pages/terms)--></a> <b>(hereinafter the "Terms of Use")</b>, and applies
  to the personal data obtained by Smart Citizen through your use of the Smart Citizen Platform. The terms and
  definition used in this Privacy Policy shall have the meanings provided for in the Terms of Use if not otherwise defined.
</p>

<h3 id="changes">2. Changes to the Privacy Policy</h3>
<p>1.  According to Smart Citizen evolution, we may need to update this Privacy Policy and change in the Terms of Use.
  We will always maintain our commitment to respect your privacy and comply with the laws applicable to us and to you.
</p>
<p>2.  We will always publish any revised Privacy Policy, along with its effective date, in the following page
  <a href="#policy" class="about">Privacy policy<!--(/pages/privacy)--></a>.
</p>
<p>3.  If required by applicable law, we will obtain your consent to such changes. In the other cases, please note
  that your continuation of your Smart Citizen Platform account after any change means that you agree with, and
  consent to be bound by, the revised Privacy Policy. If you disagree with any changes and do not wish your personal
  data to be subject to the revised Policy, you will need to close your account before the new Policy becomes effective.
</p>

<h3 id="personal-data">3. Personal Data processed</h3>
<p>1.  In order to operate the Platform, Smart Citizen collects users' personal data related to the creation and the maintenance of the Platform account. This information is limitted to your username, and email address. ("<b>Personal Account Information</b>"). </p>

<p>2.  Smart Citizen also passively stores Content you add/post/upload to your account but it does not autonomously
  collect or process this Content for its own purposes. You remain the only responsible, liable of the Content, and
  the only data controller in relation to personal data possibly published/uploaded in your account.
</p>

<h3 id="processing-purposes">4. Processing purposes</h3>
<p>1.  All Personal Data received from you will be treated fairly and lawfully.
</p>

<p>1.1. The processing of Personal Account Information: (i) allows Smart Citizen to create and maintain your
      account, operate the Platform and provide the service; (ii) helps Smart Citizen communicate with you about
      your use of the Platform as well as answer to your assistance requests (iii) may be used by Smart Citizen
      for marketing purposes such as sending information material (i.e. commercial communications) and marketing
      emails. Providing your Personal Data for marketing purposes is a mere faculty and you are able to revoke
      your consent at any time (you can opt-out of such communications at any time by clicking the "unsubscribe"
      link found within Smart Citizen email). Any non-submission of Persona Data for such activities will have no
      consequence on the user's possibility to use the services and features offered by the Platform.
    </p>


<p>1.2. Anonymous Data and automatic data collection tools: as you navigate through Smart Citizen Platform,
      certain anonymous information will be gathered without your actively providing the information. This is done without collecting any personal data or personally identifiable information (PII), without using cookies and while respecting the privacy of the website visitors. This information is collected using <a href="https://plausible.io/data-policy#how-we-count-unique-users-without-cookies">Plausible Analytics</a> and used exclusively for statistical purposes and in anonymous form in relation to the access of the Platform. Momentary in case of an anomalous conditions during the execution of the platform, data is automatically collected using <a href="https://help.sentry.io/account/legal/are-you-compliant-with-general-data-protection-regulation-gdpr/">Sentry.io</a> for purposes of reporting the software issue and monitor the correct functioning of the Platform.
    </p>

<h3 id="personal-data-comm">5. Personal Data communication by Smart Citizen</h3>
<p>1.  Smart Citizen is not in the business of selling or renting user information, and it only discloses Personal data when: 
  (i) we have your explicit consent to share the information; 
  (ii) we believe it is necessary to investigate potential violations of our Terms of Use, 
  to enforce them, or when we believe it is necessary to investigate, prevent or take action 
  regarding illegal activities, suspected fraud or potential threats against persons, 
  property or the systems on which we operate the Platform or (iii) 
  in any other case provided for by the applicable law, including compliance with warrants, 
  court orders or other legal process.
</p>

<h3 id="user-rights">6. Your rights</h3>
<p>1.  Data subjects have the right to ask for confirmation, amendment, update and cancellation of her/his personal
  data as well as oppose unlawful processing.
</p>

<p>2.  If you wish to (i) access any personal data Smart Citizen hold about you; (ii) 
  request that Smart Citizen corrects or deletes your personal data. We will comply with such
  requests to the extent permitted or required by applicable laws.
</p>

<h3 id="personal-data-storage">7. Personal Data storage and transmission within the European Union</h3>

<p>1.  When you use Smart Citizen Platform your Personal Data will be stored in servers which are currently located in the European Union.
  By using Smart Citizen Platform you are confirming your consent to such information, including Personal Information and
  Content, being hosted and accessed in these servers.
</p>

<h3 id="data-security">8. Security of you Data and data breach</h3>
<p>1.  Smart Citizen is committed to protecting the security of your information and takes reasonable precautions to protect
  it. However, Internet data transmissions, whether wired or wireless, cannot be guaranteed to be 100% secure, and as a
  result, Smart Citizen cannot ensure the security of information you transmit by using the Platform. Accordingly, you
  acknowledge that you do so at your own risk. Once Smart Citizen receive your data transmission, we make all commercially
  reasonable efforts to ensure its security on our systems.
</p>
<p>2.  If Smart Citizen learns of a security system breach, we will notify you and provide information on protective steps,
  if available, through the email address that you have provided to Smart Citizen or by posting a notice on our Platform.
</p>

<h3 id="other-sites">9. Other websites and applications</h3>
<p>1.  The Platform may contain links to other websites and applications. Smart Citizen is not responsible for the privacy
  policies or privacy practices of any third party.
</p>

<h3 id="data-controller">10. Data Controller and contacts</h3>
<p>1.  The data controller in relation to the Persona Data as defined and described above is:
  <a href="http://iaac.net/" target="_blank" class="about"><span class="">INSTITUT d’ARQUITECTURA AVANÇADA DE CATALUNYA</span></a>
</p>
<p>2.  If you have questions, comments or concerns about this Privacy Policy, please contact us by email at
  <a href="mailto:info@smartcitizen.me" class="about">info@smartcitizen.me</a>.
</p>

</div>
</div>
</section>
