<div class="styleguide">
  <section class="sg-title-section">
    <h1 class="sg-pageTitle">Styleguide</h1>
  </section>
  <section layout="row">
    <div flex="25" layout="column">
      <h2 class="sg-titles">Title style - Light</h2>
      <h1>h1 Heading</h1>
      <h2>h2 Heading</h2>
      <h3>h3 Heading</h3>
      <h4>h4 Heading</h4>
    </div>
    <div flex="25" layout="column">
      <h2 class="sg-titles">Text style - Light</h2>
      <p>Paragraph</p>
      <p class="sg-paragraph2">Paragraph info</p>
      <small>Small text</small>
    </div>
    <div flex="25" layout="column" class="dark-theme-text">
      <h2 class="sg-titles">Title style - Dark</h2>
      <h1>h1 Heading</h1>
      <h2>h2 Heading</h2>
      <h4>h4 Heading</h4>
      <h6>h6 Heading</h6>
    </div>
    <div flex="25" layout="column" class="dark-theme-text">
      <h2 class="sg-titles">Text style - Dark</h2>
      <p>Paragraph</p>
      <small>Small text</small>
    </div>
  </section>

  <section>
    <div flex layout="row">
      <div flex="25">
        <h2 class="sg-titles">Flat buttons</h2>
        <md-button>Button</md-button><br>
        <md-button class="md-warn sg-button-margin">Warn button</md-button>
      </div>
      <div flex="25">
        <h2 class="sg-titles">Raised buttons</h2>
        <md-button ng-href="/about" class="md-flat md-primary">Link button</md-button><br>
        <md-button class="md-flat md-primary sg-button-margin">Raised button</md-button>
      </div>
      <div flex="25">
        <h2 class="sg-titles">Tags</h2>
        <span class="label">offline</span>
        <span class="tag">Barcelona</span>
      </div>
    </div>
  </section>

  <section class="colors-section last-section">
    <h2 class="sg-titles">Colors</h2>
    <div layout="row">
      <div flex="20" class="secondary-color">
        <p>#065063</p>
        <p>$secondary_color</p>
      </div>
      <div flex="20" class="terciary_color">
        <p>#38CEF3</p>
        <p>$terciary_color</p>
      </div>
      <div flex="20" class="secondary_color_light">
        <p>#8DB2BA</p>
        <p>$secondary_color_light</p>
      </div>
      <div flex="20" class="secondary-color-pastel">
        <p>#C8E6ED</p>
        <p>$ "p - no bot selected"</p>
      </div>
      <div flex="20" class="white">
        <p>#FFFFFF</p>
        <p>$ "h1 - no bot selected"</p>
      </div>
    </div>
  </section>
</div>
