<div class="styleguide">
  <section class="profile_header">
    <h1 class="sg-pageTitle">Smart Citizen Style Guide</h1>
  </section>
  <section layout="column" layout-gt-xs="row">
    <div class="profile_sidebar pt-80" layout-align="start center" layout-align-gt-sm="start start" layout="column" >
      <p class="profile_sidebar_title">MENU</p>
      <div class="profile_sidebar_options">
        <button class="profile_sidebar_button md-button md-default-theme">
          Fonts
        </button>
        <button class="profile_sidebar_button md-button md-default-theme">
          Buttons
        </button>
        <button class="profile_sidebar_button md-button md-default-theme">
          Colors
        </button>
      </div>
    </div>

    <div flex class="pt-80 px-40">
      <h2 class="sg-titles">Font style - Light theme</h2>
      <div layout="column" class="section-padding" style="border:1px solid rgba(0,0,0,0.12)">
        <div layout="row">
          <h1 flex="50">h1 Heading</h1>
          <h1 class="info-text" flex="30">2.2 em</h1>
          <h1 class="info-text" flex="20">normal</h1>
        </div>
        <md-divider></md-divider>
        <div layout="row">
          <h2 flex="50">h2 Heading</h2>
          <h2 class="info-text" flex="30">1.7 em</h2>
          <h2 class="info-text" flex="20">normal</h2>
        </div>
        <md-divider></md-divider>
        <div layout="row">
          <h3 flex="50">h3 Heading</h3>
          <h3 class="info-text" flex="30">1.3 em</h3>
          <h3 class="info-text" flex="20">bold</h3>
        </div>
        <md-divider></md-divider>
        <div layout="row">
          <h4 flex="50">h4 Heading</h4>
          <h4 class="info-text" flex="30">1.1 em</h4>
          <h4 class="info-text" flex="20">normal</h4>
        </div>
        <md-divider></md-divider>
        <div layout="row">
          <p flex="50">Paragraph</p>
          <p class="info-text" flex="30">1 em</p>
          <p class="info-text" flex="20">normal</p>
        </div>
        <md-divider></md-divider>
        <div layout="row">
          <p flex="50" class="sg-paragraph2">Paragraph info</p>
          <p class="info-text" flex="30">1 em</p>
          <p class="info-text" flex="20">lighter</p>
        </div>
        <md-divider></md-divider>
        <small>Small text</small>
      </div>
      <div class="sg-text-box">
        <pre>
          <code>
            <span>&lt;h1&gt;</span> h1 heading <span>&lt;/h1&gt;</span>
            <span>&lt;h2&gt;</span> h2 heading <span>&lt;/h2&gt;</span>
            <span>&lt;h3&gt;</span> h3 heading <span>&lt;/h3&gt;</span>
            <span>&lt;h4&gt;</span> h4 heading <span>&lt;/h4&gt;</span>
            <span>&lt;p&gt;</span>  Paragraph  <span>&lt;/p&gt;</span>
            <span>&lt;small&gt;</span> Small text<span>&lt;/small&gt;</span>
          </code>
        </pre>
      </div>

      <h2 class="sg-titles">Font style - Dark theme</h2>
      <div class="dark-text-section section-padding">
        <div layout="row">
          <h1 flex="50">h1 Heading</h1>
          <h1 flex="30" class="info-text-dark">1.8 em</h1>
          <h1 flex="20" class="info-text-dark">normal</h1>
        </div>
        <md-divider class="dark-theme-divider"></md-divider>
        <div layout="row">
          <h2 flex="50">h2 Heading</h2>
          <h2 flex="30" class="info-text-dark">1.7 em</h2>
          <h2 flex="20" class="info-text-dark">normal</h2>
        </div>
        <md-divider class="dark-theme-divider"></md-divider>
        <div layout="row">
          <h4 flex="50">h4 Heading</h4>
          <h4 flex="30" class="info-text-dark">1.1 em</h4>
          <h4 flex="20" class="info-text-dark">normal</h4>
        </div>
        <md-divider class="dark-theme-divider"></md-divider>
        <div layout="row">
          <h6 flex="50">h6 Heading</h6>
          <h6 flex="30" class="info-text-dark">0.75 em</h6>
          <h6 flex="20" class="info-text-dark">bold</h6>
        </div>
        <md-divider class="dark-theme-divider"></md-divider>
        <div layout="row">
          <p flex="50">Paragraph</p>
          <p flex="30" class="info-text-dark">1 em</p>
          <p flex="20" class="info-text-dark">lighter</p>
        </div>
        <md-divider class="dark-theme-divider"></md-divider><br>
        <small>Small text</small>
      </div>
      <div class="sg-text-box">
        <pre>
          <code class="">
            <span>&lt;div class="dark-theme-section"&gt;</span>
              <span>&lt;h1&gt;</span> h1 heading <span>&lt;/h1&gt;</span>
              <span>&lt;h2&gt;</span> h2 heading <span>&lt;/h2&gt;</span>
              <span>&lt;h3&gt;</span> h3 heading <span>&lt;/h3&gt;</span>
              <span>&lt;h4&gt;</span> h4 heading <span>&lt;/h4&gt;</span>
              <span>&lt;p&gt;</span>  Paragraph  <span>&lt;/p&gt;</span>
              <span>&lt;small&gt;</span> Small text<span>&lt;/small&gt;</span>
            <span>&lt;/div&gt;</span>  
          </code>
        </pre>
      </div>

      <h2 class="sg-titles">Buttons</h2>

      <div layout="row" layout-wrap class="section-padding" style="border:1px solid rgba(0,0,0,0.12)">
        <div flex="33" flex-xs="100">
          <!-- <h2 class="sg-titles">Flat buttons</h2> -->
          <md-button>Button</md-button><br>
          <md-button class="md-warn sg-button-margin">Warn button</md-button>
        </div>
        <div flex="33" flex-xs="100">
          <!-- <h2 class="sg-titles" style="padding-bottom:5px;">Raised buttons</h2> -->
          <md-button ng-href="/about" class="btn-round btn-cyan">Link button</md-button><br>
          <md-button class="md-flat md-primary sg-button-margin">Raised button</md-button>
        </div>
        <div flex="33" flex-xs="100">
          <!-- <h2 class="sg-titles">Tags</h2> -->
          <span class="label">offline</span>
          <span class="tag">Barcelona</span>
        </div>
      </div>
      <div class="sg-text-box">
        <pre>
          <code>
            <span>&lt;md-button&gt;</span> Button <span>&lt;/md-button&gt;</span>
            <span>&lt;md-button class="btn-round btn-cyan"&gt;</span> Link button< span>&lt;/md-button&gt;</span>
            <span>&lt;md-button class="label"&gt;</span> offline <span>&lt;/md-button&gt;</span>
            <span>&lt;md-button class="tag"&gt;</span> Barcelona <span>&lt;/md-button&gt;</span>
            <span>&lt;md-button class="md-warn"&gt;</span> Warn button <span>&lt;/md-button&gt;</span>
            <span>&lt;md-button class="md-flat md-primary"&gt;</span> Raised button <span>&lt;/md-button&gt;</span>
          </code>
        </pre>
      </div>

      <h2 class="sg-titles">Colors</h2>
      <div class="colors-section section-padding" style="border:1px solid rgba(0,0,0,0.12)">
        <div layout="row">
          <div flex="20" class="secondary-color">
            <p>#065063</p>
            <p>$secondary_color</p>
          </div>
          <div flex="20" class="terciary_color">
            <p>#38CEF3</p>
            <p>$terciary_color</p>
          </div>
          <div flex="20" class="secondary_color_light">
            <p>#8DB2BA</p>
            <p>$secondary_color_light</p>
          </div>
          <div flex="20" class="secondary-color-pastel">
            <p>#C8E6ED</p>
            <!-- <p>$ "p - no bot selected"</p> -->
          </div>
          <div flex="20" class="white">
            <p>#FFFFFF</p>
            <!-- <p>$ "h1 - no bot selected"</p> -->
          </div>
        </div>
      </div>
      <div class="sg-text-box">
        <pre>
          <code class="">
            <span>&lt;div class="secondary-color"&gt;</span> 
              &lt;p&gt;#065063&lt;/p&gt;
              &lt;p&gt;$secondary_color&lt;/p&gt;
            <span>&lt;/div&gt;</span>

            <span>&lt;div class="terciary_color"&gt;</span> 
              &lt;p&gt;#38CEF3&lt;/p&gt;
              &lt;p&gt;$terciary_color&lt;/p&gt;
            <span>&lt;/div&gt;</span>

            <span>&lt;div class="secondary_color_light"&gt;</span> 
              &lt;p&gt;#8DB2BA&lt;/p&gt;
              &lt;p&gt;$secondary_color_light&lt;/p&gt;
            <span>&lt;/div&gt;</span>

            <span>&lt;div class="secondary-color-pastel"&gt;</span> 
              &lt;p&gt;#065063&lt;/p&gt;
              &lt;p&gt;$secondary_color&lt;/p&gt;
            <span>&lt;/div&gt;</span>

            <span>&lt;div class="white"&gt;</span> 
              &lt;p&gt;#FFFFFF&lt;/p&gt;
            <span>&lt;/div&gt;</span>
          </code>
        </pre>
      </div>
      <h2 class="sg-titles">Sensor Charts Colors</h2>
      <div class="colors-section section-padding mb-30" style="border:1px solid rgba(0,0,0,0.12)">
        <div layout="row" class="sensors"> 
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </section>
</div>
