<section class="profile_state">
  <div class="profile_header" layout="row" layout-align="start center">
    <md-icon md-svg-src="./assets/images/user_details_icon.svg" class="profile_header_avatar"></md-icon>
    <div class="profile_header_content">
      <div class="profile_header_name">{{ vm.user.username }}</div>
      <div class="profile_header_location">
        <md-icon md-svg-src="./assets/images/location_icon_light.svg" class="profile_header_content_avatar"></md-icon>
        <span>
          <span ng-if="vm.user.city">{{ vm.user.city }}</span> 
          <span ng-if="vm.user.city && vm.user.country">,</span>
          <span ng-if="vm.user.country">{{ vm.user.country }}</span>
          <span ng-if="!vm.user.city && !vm.user.country">No data</span>
        </span>
      </div>
      <div class="profile_header_url">
        <md-icon md-svg-src="./assets/images/url_icon_light.svg" class="profile_header_content_avatar"></md-icon>
        <a ng-href="{{ vm.user.url ||  'http://example.com' }}">{{ vm.user.url ||  'No data' }}</a>
      </div>
    </div>
  </div>
  <div class="profile_content" layout="row">
    <div class="profile_sidebar">
      <p class="profile_sidebar_title">FILTER KITS BY</p>
      <div class="profile_sidebar_options">
        <md-button ng-click="vm.filterKits('all')" class="profile_sidebar_button">ALL</md-button>
        <md-button ng-click="vm.filterKits('online')" class="profile_sidebar_button">ONLINE</md-button>
        <md-button ng-click="vm.filterKits('offline')" class="profile_sidebar_button">OFFLINE</md-button>
      </div>
    </div>
    <div class="profile_content_main" flex>
      <div class="profile_content_main_top">
        <span class="profile_content_main_title">{{ vm.filteredKits.length || 0 }} kits filtering by {{ vm.status.toUpperCase() || 'ALL' }}</span>        
      </div>
      <div class="profile_content_main_kits">
        <div class="kitList_parent" ng-repeat="kit in (vm.filteredKits = (vm.kits | filter: { labels: { status: vm.status } } ))" ng-class="{kitList_borderBottom: $last}">
          <md-button class="kitList kitList_primary" ng-href="./kits/{{kit.id}}" layout="row" layout-align="start center">
            <div class="kitList_container" layout="row" layout-align="start center">
              <div>
                <md-icon class="kitList_avatar" md-svg-src="{{ kit.avatar || './assets/images/avatar.svg' }}">
                </md-icon>
              </div>
              <div class="kitList_content"> 
                <div class="kitList_name">{{ kit.name || 'No name'}}</div>
                <div class="kitList_data">
                  <md-icon class="kitList_icon" md-svg-src="./assets/images/location_icon_light.svg">
                  </md-icon>
                  <span>{{ kit.location || 'No location'}}</span>
                  <md-icon class="kitList_icon" md-svg-src="./assets/images/sensor_icon.svg">
                  </md-icon>
                  <span>{{ kit.type }}</span>
                </div>
              </div>
            </div>
          </md-button>
        </div>
        <div class="kitList kitList_primary kitList_borderBottom" ng-show="!vm.kits.length">
          <div class="kitList_container">
            <div class="kitList_noKits">
              <span>There are not kits yet</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
