<section class="myProfile_state" layout="column">
  <div class="profile_header myProfile_header dark">
    <div class="myProfile_header_container" layout="row">
      <img ng-src="{{ vm.user.profile_picture ||  vm.user.avatar || './assets/images/avatar.svg' }}" class="profile_header_avatar myProfile_header_avatar" />
      <div class="profile_header_content">
        <h2 class="profile_header_name">{{ vm.user.username || 'No data' }}</h2>
        <div class="profile_header_location">
          <md-icon md-svg-src="./assets/images/location_icon_light.svg" class="profile_header_content_avatar"></md-icon>
          <span class="md-title" ng-if="vm.user.city">{{ vm.user.city }}</span>
          <span class="md-title" ng-if="vm.user.city && vm.user.country">,</span>
          <span class="md-title" ng-if="vm.user.country">{{ vm.user.country }}</span>
          <span class="md-title" ng-if="!vm.user.city && !vm.user.country">No data</span>
        </div>
        <div class="profile_header_url">
          <md-icon md-svg-src="./assets/images/url_icon_light.svg" class="profile_header_content_avatar"></md-icon>
          <a class="md-title" ng-href="{{ vm.user.url ||  'http://example.com' }}">{{ vm.user.url ||  'No website' }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="profile_content mb-30" layout="column" layout-gt-sm="row">
    <div class="profile_sidebar pt-80"
         layout-align="start center"
         layout="column">

      <p class="profile_sidebar_title">FILTER KITS BY</p>
      <div class="" layout="column">
        <md-button ng-click="vm.filterKits('all')"
        class="profile_sidebar_button" analytics-on="click"
        analytics-event="Profile" analytics-action="kit filter">
          ALL
        </md-button>
        <md-button ng-click="vm.filterKits('online')"
          class="profile_sidebar_button" analytics-on="click"
          analytics-event="Profile" analytics-action="kit filter">
          ONLINE
        </md-button>
        <md-button ng-click="vm.filterKits('offline')"
        class="profile_sidebar_button" analytics-on="click"
        analytics-event="Profile" analytics-action="kit filter">
          OFFLINE
        </md-button>
      </div>
    </div>
    <div class="pt-80 px-20" flex>
      <div class="profile_content_main_top">
        <span class="">{{ vm.filteredKits.length || 0 }} kits filtering by {{ vm.status.toUpperCase() || 'ALL' }}</span>
      </div>
      <div class="profile_content_main_kits">
        <kit-list actions="{remove: vm.removeKit}"  kits="(vm.filteredKits = (vm.kits | filterLabel:vm.kitStatus ))"></kit-list>
        <div class="kitList kitList_primary kitList_borderBottom" ng-show="!vm.kits.length">
          <div class="kitList_container">
            <div class="kitList_noKits">
              <span>There are not kits yet</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
