<section class="kitTags__section" ng-if="tagsCtl.selectedTags.length > 0" change-content-margin>
  <div class="shadow"></div>
  <div class="over_map">
    <div class="kit_fixed kitTags__container bg-white">
      <div class="kitTags__textContainer" layout-xs="column">
        <div class="kitTags__textElement">
          <h1>
          <span ng-repeat="tag in tagsCtl.selectedTags">#{{tag}} </span>
          </h1>
          <h2>
          {{tagsCtl.markers.length}} kit{{tagsCtl.markers.length > 1 ? 's are' : ' is'}} on
          <span ng-repeat="tag in tagsCtl.selectedTags">#{{tag}}</span> and
          {{tagsCtl.percActive}}% are active today.
          </h2>
          <p ng-repeat="tag in tagsCtl.selectedTags">
          </p>
        </div>
        <div class="kitTags__textElement">
          <h4 class="md-title">About #Tags</h4>
          <p class="sg-paragraph2">
            Smart Citizen is a project by <a target="_blank" href="http://fablabbcn.org/">Fab Lab Barcelona</a> to offer an alternative to the centralised data production and management systems used by the large corporations that constitute the driving force behind the smart city concept. The project empowers citizens and communities to gather information on their environment and make it available to the public, using open source hardware and software design.
          </p>
          <md-button class="color-cyan" ng-href="https://forum.smartcitizen.me/index.php?p=/discussion/comment/1501" target="_blank">SUGGEST NEW TAGS</md-button>
        </div>
      </div>
    </div>
  </div>
  <div class="kitTags__listContainer kit_fixed">
    <md-progress-circular ng-show="!tagsCtl.kits || tagsCtl.kits.length <= 0" class="md-hue-3 chart_spinner" md-mode="indeterminate"></md-progress-circular>
    <section class="kit_owner_kits" ng-if="tagsCtl.kits.length > 0">
      <kit-list kits="tagsCtl.kits"></kit-list>
    </section>
  </div>
</section>
<!-- <section class="kitTags__section kit_fixed" ng-if="tagsCtl.selectedTags.length === 0">
  <section>
    <div class="kitTags__container">
      <div class="kiTags__noTag">
        No Tag selected yet.
      </div>
    </div>
  </section> -->
