<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Smart Citizen Kit Setup Tool</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>


        <div id="setuptool"></div>

        <script src="js/vendor/jquery-2.1.4.min.js"></script>
        <script src="js/vendor/rangeslider.min.js"></script>

        <script src="js/scktool-app.js"></script>
        <script src="js/scktool-connector.js"></script>

        <script src="js/main.js"></script>

       
    </body>
</html>
