<section class="kit_data" change-content-margin>
  <div class="shadow"></div>

  <div ng-if="vm.device.isPrivate" class="kit_fixed bg-grey-lightest" move-down layout="row">
    <p>Device not found, or it has been set to private. <a href="https://forum.smartcitizen.me/" target="_blank">You can ask in the forum</a> for more information.</p>
  </div>

  <div ng-if="!vm.device.isPrivate || vm.deviceBelongsToUser" class="over_map">
    <section class="kit_menu" stick>
      <section ng-if="!vm.device" class="overlay-kitinfo"></section>
      <div class="container" layout="row" layout-align="space-between center">
        <div flex="nogrow" layout="row" layout-align="start center">
          <div hide show-gt-xs class="kit_user">
            <md-tooltip md-direction="top" class="font-kanit">Visit user profile</md-tooltip>
            <img ng-src="{{ vm.device.owner.profile_picture || './assets/images/avatar.svg'}}" />
            <a href="{{vm.user_url}}"><span>{{ vm.device.owner.username}}</span></a>
          </div>
          <div hide show-gt-xs class="kit_name">
            <md-icon md-svg-src="./assets/images/sensor_icon.svg" class="sensor_icon"></md-icon>
            <span>{{ vm.device.name }}</span>
          </div>
          <div ng-if="vm.battery.value != -1" ng-animate-swap="vm.battery.value" ng-class="{bat_animation: vm.prevKit}" class="kit_battery">
            <md-icon md-svg-src="{{ vm.battery.icon }}"> </md-icon>
            <span>{{ vm.battery.value }} {{ vm.battery.unit }}</span>
          </div>
          <div ng-if="vm.battery.value == -1" ng-animate-swap="vm.battery.value" ng-class="{bat_animation: vm.prevKit}" class="kit_battery">
            <md-icon md-font-icon="fa fa-battery-empty" class="color-red"> </md-icon>
            <span class="color-red hide-sm" hide show-gt-sm>NOT CONNECTED</span>
          </div>
        </div>
        <div ng-animate-swap="vm.device.lastReadingAt.raw" ng-class="{time_animation: vm.prevKit}" flex class="kit_time">
          <span ng-if="vm.device.lastReadingAt.raw" hide show-gt-sm >Last data received:</span><span>{{ vm.device.lastReadingAt.parsed }}</span>
        </div>
        <div class="kit-show-raw" ng-if="vm.hasRaw">
          <label class="switch">
            <input type="checkbox" class="custom-control-input kit-raw-toggle" id="show-raw-switch" ng-model="vm.showRaw">
            <span class="slider round"></span>
          </label>
          <label class="kit-show-raw-text hide-sm" for="show-raw-switch" hide show-gt-sm>SHOW RAW</label>
        </div>

        <div hide show-gt-xs flex="nogrow" class="kit_navbar" active-button layout="row" layout-align="end center">

          <md-button href="#" class="md-flat chart_icon btn-small" aria-label="">
            <md-tooltip md-direction="top" class="font-kanit">Chart</md-tooltip>
            <md-icon md-svg-src="./assets/images/chart_icon.svg">
            </md-icon>
          </md-button>

          <md-button href="#" class="md-flat kit_details_icon btn-small" aria-label="">
            <md-tooltip md-direction="top" class="font-kanit">Kit Detail</md-tooltip>
            <md-icon md-svg-src="./assets/images/kit_details_icon_light.svg">
            </md-icon>
          </md-button>

          <md-button href="#" class="md-flat user_details btn-small" aria-label="">
            <md-tooltip md-direction="top" class="font-kanit">User info</md-tooltip>
            <md-icon md-svg-src="./assets/images/user_details_icon.svg">
            </md-icon>
          </md-button>
        </div>
      </div>
    </section>

    <section class="kit_fixed bg-grey-lightest" move-down>
      <section class="overlay" ng-if="!vm.deviceID">
        <h2 class="title">
          No kit selected <span class="emoji">👆</span>
        </h2>
        <p>
          Browse the map and click on any kit to see its data.
        </p>
      </section>
      <div no-data-backdrop></div>
      <section ng-if="!vm.device.isPrivate || vm.deviceBelongsToUser" class="kit_overview" layout="row">
        <md-button ng-click="vm.slide('right')" class="md-flat button_scroll button_scroll_left btn-small" aria-label="">
          <md-tooltip md-direction="right">Click to see more sensors</md-tooltip>
          <md-icon md-svg-src="./assets/images/arrow_left_icon.svg">
          </md-icon>
        </md-button>
        <div flex="90" class="sensors_container" layout="row" layout-align="start center" horizontal-scroll>
          <div ng-if="(sensor.measurement.name != 'battery' || (sensor.measurement.name == 'battery' &&  sensor.value != -1)) && !(!vm.showRaw && sensor.tags.indexOf('raw') !== -1) && !sensor.is_ancestor" ng-animate-swap="vm.sensors" ng-repeat="sensor in vm.sensors" class="sensor_container" ng-click="vm.showSensorOnChart(sensor.id)"
          ng-class="{selected: vm.selectedSensor === sensor.id, sensor_animation: vm.prevKit}">
            <md-icon md-svg-src="{{ sensor.icon }}" class="sensor_icon"></md-icon>
            <div class="sensor_value" ng-class="{sensor_value_null: sensor.value === 'NA'}">{{ sensor.value }}</div>
            <div class="sensor_right">
              <div class="sensor_unit">{{ sensor.unit }}</div>
              <md-icon md-svg-src="./assets/images/{{ sensor.arrow }}_icon.svg" class="sensor_arrow {{ sensor.arrow }}">
              </md-icon>
            </div>
            <p>{{ sensor.measurement.name }}</p>
          </div>
        </div>
        <md-button ng-click="vm.slide('left')" class="md-flat button_scroll button_scroll_right btn-small" aria-label="">
          <md-tooltip md-direction="left">Click to see more sensors</md-tooltip>
          <md-icon md-svg-src="./assets/images/arrow_right_icon.svg">
          </md-icon>
        </md-button>
      </section>
    </section>
  </div>
  <section class="kit_fixed">
    <div class="hint" ng-if="!vm.device">
      <p>
        We can also take you to your nearest online kit by letting us know your location.
      </p>
      <md-button class="md-button btn-round-new btn-cyan" ng-click="vm.geolocate()">Locate me</md-button>
    </div>
    <section class="kit_detailed">
      <section ng-if="!vm.device.isPrivate || vm.deviceBelongsToUser" class="kit_chart">
        <div class="hint" ng-if="vm.deviceWithoutData">
          <p></p>
        </div>
        <div class="container" layout="column" layout-gt-sm="row">
          <div class="kit_chart_left" layout-padding flex="100" flex-gt-sm="20">
            <!-- <div class="sensor_data" show-popup-info>
              <span class="sensor_value">{{ vm.selectedSensorData.value }}</span>
              <span class="sensor_unit">{{ vm.selectedSensorData.unit }}</span>
            </div> -->
            <div class="sensor_select">
              <div class="sensor_dropdowns">
              <span style="vertical-align: middle;">Choose a sensor</span>
              </div>
              <md-select placeholder="CHOOSE SENSOR" ng-model="vm.selectedSensor">
                <md-option ng-if="(sensor.measurement.name != 'battery' || (sensor.measurement.name == 'battery' &&  sensor.value != -1)) && !(!vm.showRaw && sensor.tags.indexOf('raw') !== -1)" ng-repeat="sensor in vm.chartSensors" ng-value="{{sensor.id}}" ng-selected="$first" class="color-dropdown">
                  <!-- <md-icon md-svg-src="{{ sensor.icon }}"></md-icon> -->
                  <span class="md-primary">{{ sensor.measurement.name }}</span>
                </md-option>
              </md-select>
            </div>
            <div class="sensor_description">
              <div class="sensor_title">
                <h6 class="font-kanit weight-700">{{ vm.sensorNames[vm.selectedSensor] }} </h6>

                <a href="{{ vm.selectedSensorData.datasheet }}" target="_blank" ng-if="vm.selectedSensorData.datasheet !== null" class="ml-10"><md-icon class="icon_label" md-svg-src="./assets/images/document_icon.svg">
                </md-icon></a>
              </div>

              <div class="sensor_description_content" >
                <small>{{ vm.selectedSensorData.fullDescription }}
                  <!-- <a href="https://docs.smartcitizen.me/" target="_blank">More info</a> -->
                </small>
              </div>
            </div>
            <div ng-if="vm.sensorsToCompare.length >= 1" class="sensor_dropdowns">
              <div style="display: block; width: 100%;">
                <span style="vertical-align: middle;">Compare with</span>
                <md-select placeholder="NONE" ng-model="vm.selectedSensorToCompare">
                  <md-option ng-repeat="sensor in vm.sensorsToCompare" ng-value="{{sensor.id}}" ng-if="(sensor.measurement.name != 'battery' || (sensor.measurement.name == 'battery' &&  sensor.value != -1)) && !(!vm.showRaw && sensor.tags.indexOf('raw') !== -1)" class="color-dropdown">
                    <!-- <md-icon md-svg-src="{{ sensor.icon }}"></md-icon> -->
                    <span class="md-primary">{{ sensor.measurement.name }}</span>
                  </md-option>
                </md-select>
              </div>
            </div>
          </div>

          <div class="kit_chart_right" layout-padding flex>
            <div class="chart_navigation" layout-gt-sm="row" layout="column" layout-align-gt-sm="end center" layout-align="space-between end">
              <div class="picker_container word_picker">
                <md-select class="kit_timeOpts" ng-model="vm.dropDownSelection" placeholder="Last Data Received"
                  ng-change="vm.timeOptSelected()">
                  <md-option ng-value="opt" ng-repeat="opt in vm.timeOpt">{{ opt }}</md-option>
                </md-select>
              </div>
              <div class="picker_container">
                <label for="picker_from">From: </label>
                <input type="text" id="picker_from" class="date_picker" placeholder="FROM"></input>
              </div>
              <div class="picker_container">
                <label for="picker_to">To: </label>
                <input type="text" id="picker_to" class="date_picker" placeholder="TO"></input>
              </div>
              <div class="chart_move">
                <md-button href="#" ng-click="vm.moveChart('left')" class="chart_move_button chart_move_left" aria-label="" layout="row" layout-align="center center">
                  <md-tooltip md-direction="top">Move chart to the left</md-tooltip>
                  <md-icon md-svg-src="./assets/images/arrow_left_icon.svg">
                  </md-icon>
                </md-button>
                <md-button href="#" ng-click="vm.moveChart('right')" class="chart_move_button chart_move_right" aria-label="" layout="row" layout-align="center center">
                  <md-tooltip md-direction="top">Move chart to the right</md-tooltip>
                  <md-icon md-svg-src="./assets/images/arrow_right_icon.svg"> <!-- ng-disabled="vm.toPickerDisabled" -->
                  </md-icon>
                </md-button>
              </div>
            </div>
            <!-- <div style="clear: both"></div> -->

            <md-progress-circular ng-show="vm.loadingChart && !vm.deviceWithoutData" class="md-hue-3 chart_spinner" md-mode="indeterminate"></md-progress-circular>
            <div chart class="chart_container" chart-data="vm.chartDataMain">
            </div>
          </div>
        </div>
      </section>

      <div class="kit_details" ng-if="vm.device">
        <div class="kit_detailed_content_container box-shadow-sc-yellow" layout="row" layout-xs="column" layout-align="space-between start" layout-align-xs="space-between start">

          <div class="kit_details_content_main">
            <div class="kit_details_content">
              <div class="kit_details_title fit-content">
              <a href="{{vm.device_url}}" class="no-decoration">
                <md-tooltip md-direction="top" class="font-kanit">Check this kit on our new platform!</md-tooltip>
                <h1 class="kit_details_name font-kanit weight-800 uppercase">{{ vm.device.name }}</h1>
              </a>
              </div>

              <div class="font-roboto-condensed kit_detail_items">

                <p ng-bind-html="vm.device.description | linky:'_blank'" class="mt-10 weight-800">
                </p>
                <p class="kit_details_type mt-5 mb-0 status_{{ vm.device.status }}">
                  <md-tooltip md-direction="top" class="font-kanit">Hardware version</md-tooltip>
                  <md-icon class="icon_label icon_label_{{ vm.device.status }}" md-svg-src="./assets/images/kit_details_icon_normal.svg">
                  </md-icon>
                  <span>{{ vm.device.hardwareName }}</span>
                </p>

                <p class="kit_details_type mt-5 mb-0" ng-if="vm.device.hardware.info !== null">
                  <md-tooltip md-direction="top" class="font-kanit">Firmware version</md-tooltip>
                  <md-icon class="icon_label" md-svg-src="./assets/images/chip_icon.svg">
                  </md-icon>
                  <a href="https://github.com/fablabbcn/smartcitizen-kit-2x/commit/{{ vm.device.hardware.info.sam_commit }}" class="no-decoration font-mono" target="_blank">{{ vm.device.hardware.info.sam_ver }}</a>
                  <a href="https://github.com/fablabbcn/smartcitizen-kit-2x/commit/{{ vm.device.hardware.info.esp_commit }}" class="no-decoration font-mono" target="_blank" ng-if="vm.device.hardware.info.sam_ver != vm.device.hardware.info.esp_ver">{{ vm.device.hardware.info.esp_ver }}</a>
                </p>


                <p class="kit_details_type mt-5 mb-0" ng-if="vm.device.lastReadingAt">
                  <md-icon class="icon_label i" md-svg-src="./assets/images/update_icon.svg">
                  </md-icon>
                  <span>Last reading: {{ vm.device.lastReadingAt.parsed }}</span>
                </p>

                <span class="mr-10" ng-if="vm.device.isPrivate">
                  <md-icon class="color-red" md-font-icon="fa fa-lock"></md-icon>
                  <span class="kitList_state kitList_state_not_configured state">Private</span>
                </span>

                <p class="mt-5 mb-0">
                  <md-icon class="icon_label" md-svg-src="./assets/images/location_icon_normal.svg">
                  </md-icon>
                  <span>{{ vm.device.locationString || 'No location' }}</span>
                </p>

                <p class="kit_details_type mt-5 mb-0" ng-if="vm.deviceBelongsToUser && vm.device.token !== null">
                  <md-icon class="icon_label" md-svg-src="./assets/images/hidden_icon.svg"></md-icon>
                  <md-tooltip md-direction="top" class="font-kanit">Click to reveal the token</md-tooltip>
                  <span #token class="token font-mono" ng-init="blurred = true" ng-class="{'blurred': blurred}" ng-click="blurred = !blurred">{{ vm.device.token }}</span>
                </p>
              </div>
            </div>

            <div class="mt-20 mb-20" >
              <div class="mb-20" ng-if="vm.deviceBelongsToUser">

                <md-button class="ml-0 btn-black-outline btn-round-new" href="{{vm.device_edit_url}}" aria-label="">
                  <span>EDIT KIT</span>
                </md-button>

                <md-button class="ml-0 btn-black-outline btn-round-new" ng-if="vm.device.hardware" href="{{vm.device_upload_url}}" aria-label="">
                  <span>UPLOAD DATA AS CSV</span>
                </md-button>

                <md-button class="ml-0 btn-black-outline btn-round-new" href="{{vm.device_download_url}}">
                  Download DATA AS CSV
                </md-button>

              </div>
            </div>
          </div>
        </div>

      <div class="" ng-if="vm.device">
        <div class="kit_detailed_content_container box-shadow-sc-blue" layout="column">
          <div class="mt-30 mb-30" layout="row" layout-align="start center">
            <a href="{{vm.user_url}}" class="kit_owner_usernameLink">
              <img class="mr-30 circular-img-crop owner-img image-outline gray-outline" ng-src="{{ vm.device.owner.profile_picture || './assets/images/avatar.svg' }}"/>
            </a>

            <div class="mb-0">
              <a href="{{vm.user_url}}" class="kit_owner_usernameLink">
                <h2 class="font-kanit weight-800 uppercase mt-10 mb-0">{{ vm.device.owner.username }}</h2>
              </a>

              <p class="mt-0 mb-0">
                <md-icon class="icon_label" md-svg-src="./assets/images/location_icon_normal.svg">
                </md-icon>

                <span class="font-roboto-condensed kit_detail_items">
                  <span ng-if="vm.device.owner.city">{{ vm.device.owner.city }}</span>
                  <span ng-if="vm.device.owner.city && vm.device.owner.country">,</span>
                  <span ng-if="vm.device.owner.country">{{ vm.device.owner.country }}</span>
                  <span ng-if="!vm.device.owner.city && !vm.device.owner.country">No location</span>
                </span>
              </p>

              <p class="mt-0" ng-if="vm.device.owner.url">
                <md-icon class="icon_label" md-svg-src="./assets/images/url_icon_normal.svg">
                </md-icon>

                <span class="font-roboto-condensed kit_detail_items" ng-bind-html="vm.device.owner.url | linky:'_blank'">{{ vm.device.owner.url || 'No URL'}}</span>
              </p>

            </div>
          </div>

          <div class="mb-20" layout="column" layout-align="middle left">

            <div class="mt-0">
              <md-button class="ml-0 btn-black-outline btn-round-new" ng-href="{{vm.user_url}}" aria-label="">MORE BY {{ vm.device.owner.username }}</md-button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
