<section class="landing-page" flex>
    <!-- CONTENT -->
    <div id="content-land">
        <div class="block photo kit-0" data-stellar-background-ratio="0.01">
            <div class="logo-top">
            </div>
            <div class="container" style="height:inherit">

                <div>
                    <div style="vertical-align:middle; ">
                        <div class="lead-13" style="margin-top: 85px;">
                            <span>Smart Citizen <sup style="font-size: 18px;">v2 BETA</sup></span>
                        </div>
                        <div class="lead-14" style="margin-top: 20px;">
                            Open source technology for citizens<br> political participation in smarter cities
                        </div>
                        <div style="margin-top: 30px;">
                            <md-button ng-href="/kits/" class="landing_highlight_button normal">Go to the platform</md-button>
                            <md-button ng-click="vm.goToHash('sck')" class="landing_highlight_button white">Discover the Smart Citizen Kit</md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bullet-landing plus grey"></div>
        </div>

        <!-- BLOCK SC PROJECT -->
        <div id="platform" class="block block-platform">
            <div class="container">
                <div layout="row" layout-xs="column">
                    <div flex>
                        <h1>Smart Citizen Platform</h1>
                        <p class="reinforce" style="margin-bottom: 40px;">Smart Citizen is a platform to generate participatory processes of people in the cities. Connecting data, people and knowledge, the objective of the platform is to serve as a node for building productive and open indicators, and distributed tools, and thereafter the collective construction of the city for its own inhabitants.
                        </p>
                        <md-button  class="landing_extra inline"  href="/about">Read more</md-button>
                    </div>
                    <div flex>
                        <img style="width: 100%; max-width: 485px;"src="/assets/images/landing/platform-diagram-3.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- END BLOCK SC PROJECT -->

        <!-- BLOCK MESSAGE RESERACHES, SCHOOLS.... -->
        <div id="community" class="block message leading-1 light-grey" style="padding:40px 40px;">
            <div class="container">
                <div class="">
                    <div>
                        <h1>Communtity platform for researchers, schools, citizen science, communities, cities and developers</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- END BLOCK MESSAGE PROJECT -->

        <!-- BLOCK RESERACHES, SCHOOLS.... -->
        <div class="block">
            <div class="container">
                <div layout="row" layout-xs="column" layout-wrap>
                    <div flex="33" flex-xs="100">
                        <div class="resume-block">
                            <div class="icon-thumb ico-8"></div>
                            <h3>Researchers</h3>
                            <p>Use it as a tool for data capture and analysis in technology deployments, or for social experiments. Understand the relationship between people, environment and technology by doing real-world deployments. Smart Citizen is being used in major universities around the world to build experiments around architecture, design, computer science, technology, among other disciplines. <a href="http://www.aaschool.ac.uk/" target="_blank">Architectural Association,</a> <a href="http://www.ucl.ac.uk/" target="_blank">University College of London,</a> <a href="http://www.gla.ac.uk/" target="_blank">University of Glasgow</a></p>
                        </div>
                    </div>
                    <div flex="33" flex-xs="100">
                        <div class="resume-block">
                            <div class="icon-thumb ico-10"></div>
                            <h3>Schools</h3>
                            <p>Data could be a very powerful education tool. Use Smart Citizen hardware and software tools to teach computer science and environmentalism in your classroom. Open discussions about the environment quality at schools, the usage of sensors and data in the education sector. Some applications: <a href="http://futureeverything.org/news/smartschools-workshop-ten-centre/">SmartSchools Workshop at TEN Centre</a></p>
                        </div>
                    </div>
                    <div flex="33" flex-xs="100">
                        <div class="resume-block">
                            <div class="icon-thumb ico-7"></div>
                            <h3>Citizen Science</h3>
                            <p>Reduce the gaps to get data captured and streamed by sensors. No more cables, shields and libraries in order to get valuable data from the environment. Analyse the data online, or download it to put it in your preferred tool. Some applications being used as a tool for citizen science:<a href="https://www.facebook.com/CitSciKS" target="_blank"> CitSciKS</a>, <a target="_blank" href="http://waag.org/en/project/smart-citizen-kit"> Waag Society (noise levels evaluation)</a> </p>
                        </div>
                    </div>
                    <div flex="33" flex-xs="100">
                        <div class="resume-block">
                            <div class="icon-thumb ico-1"></div>
                            <h3>Communities</h3>
                            <p>Launch a crowd sensing initiative in your neighbourhood. Use our sensors and platform to create local maps of air quality or sound problems; use them to report to your city council or to raise awareness of issues that matter for your community. Some applications:  <a href="http://ugmap.me/" target="_blank">University of Glasgow</a> and <a href="http://www.internetartizans.co.uk/kosovo_science_for_change" target="_blank">Kosovo science for change</a></p>
                        </div>
                    </div>
                    <div flex="33" flex-xs="100">
                        <div class="resume-block">
                            <div class="icon-thumb ico-11"></div>
                            <h3>Cities</h3>
                            <p>Smart Cities should be build together with Smart Citizens. The construction of new infrastructure is not only possible thanks to a massive investment on new technologies, but could be done through the better optimisation of the existing resources. Co-create with your citizens, include participation in the political life in the everyday city. Cities participants: <a href="http://amsterdamsmartcity.com/projects/detail/id/69/slug/smart-citizen-kit" target="_blank">Amsterdam</a>, <a href="http://futureeverything.org/projects/smart-citizen/" target="_blank">Manchester</a> and <a href="http://us2.campaign-archive1.com/?u=d67ba8deb34a23a222ec4eb8a&id=439df431b6&e=06fb8b7939" target="_blank">Barcelona</a></p>
                        </div>
                    </div>
                    <div flex="33" flex-xs="100">
                        <div class="resume-block">
                            <div class="icon-thumb ico-9"></div>
                            <h3>Developers</h3>
                            <p>You can build on top of our <a target="_blank" href="http://developer.smartcitizen.me">platform</a> and <a target="_blank" href="https://github.com/fablabbcn/Smart-Citizen-Kit">hardware</a>. Smart Citizen is totally open source, so feel free to download our frameworks and designs, and build new ones on top of them. <a href="https://www.facebook.com/smartcitizenBCN" target="_blank">Share your contribution</a> with all the community, build your own solutions and be part of the development team.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bullet-landing plus grey"></div>
    </div>
    <!-- END BLOCK RESERACHES, SCHOOLS.... -->

    <!-- BLOCK FOTO SMART CITIZEN KIT -->
    <div id="sck" class="block photo kit-7" data-stellar-background-ratio="0.01">
        <div class="container" style="height:inherit">
            <div class="">
                <div style="vertical-align:middle; ">
                    <div class="lead-3" style="margin-top: 85px;">
                        <span>Smart Citizen Kit</span>
                        <br> Urban monitoring
                    </div>
                    <div class="lead-4">
                        Environmental Data
                    </div>
                </div>
            </div>
            <div class="" style="margin-top: 100px;">
                <div>
                    <md-button ng-click="vm.showStore($event)" class="call-to-action" style="float:left;">Get your Smart Citizen Kit</md-button>
                </div>
                <div class="" style="margin-top:40px; text-align:right;">
                    <div class="logo-arduino-atheart"><img src="/assets/images/landing/arduino-atheart.png"></div>
                </div>
            </div>
        </div>
        <div class="bullet-landing plus grey"></div>
    </div>
    <!-- END BLOCK SMAR CITIZEN KIT -->

    <!-- BLOCK SCK FEATURES -->
    <div class="block">
        <div class="container" style="padding-top: 40px;">
            <div layout="row" layout-xs="column" layout-wrap>
                <div flex="50">
                    <div class="lead-3" style="color:#333;">SCK Features</div>
                    <div class="lead-4" style="color:#333;">
                        Smart Citizen Kit Main Board
                    </div>
                </div>
                <div flex="50">
                    <md-button class="landing_extra" href="/about#hardware" style="margin-top:29px;">Read more</md-button >
                </div>
            </div>

            <div layout="row" layout-xs="column" layout-wrap>
                <div flex="25">
                    <div class="sck-features-block">
                        <div class="icon-features fea-7"></div>
                        <div class="title-features">Arduino at Heart</div>
                    </div>
                </div>
                <div flex="25">
                    <div class="sck-features-block">
                        <div class="icon-features fea-8"></div>
                        <div class="title-features">User Customizable</div>
                    </div>
                </div>
                <div flex="25">
                    <div class="sck-features-block">
                        <div class="icon-features fea-1"></div>
                        <div class="title-features">Internet Connectivity</div>
                    </div>
                </div>
                <div flex="25">
                    <div class="sck-features-block">
                        <div class="icon-features fea-4"></div>
                        <div class="title-features">Mobile Phone Interactivity</div>
                    </div>
                </div>

                <div flex="25">
                    <div class="sck-features-block">
                        <div class="icon-features fea-5"></div>
                        <div class="title-features">Micro SD card storage</div>
                    </div>
                </div>
                <div flex="25">
                    <div class="sck-features-block">
                        <div class="icon-features fea-2"></div>
                        <div class="title-features">RTC Data Time tracking</div>
                    </div>
                </div>
                <div flex="25">
                    <div class="sck-features-block">
                        <div class="icon-features fea-3"></div>
                        <div class="title-features">Mini Usb Connector</div>
                    </div>
                </div>
                <div flex="25">
                    <div class="sck-features-block">
                        <div class="icon-features fea-6"></div>
                        <div class="title-features">Battery Solar/
                            <br/>Panel Charger
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bullet-landing plus grey"></div>
    </div>
    <!-- END BLOCK SCK FEATURES -->
    <!-- BLOCK PHOTO -->
    <div class="block photo small bcn-1"></div>
    <!-- END BLOCK PHOTO -->
    <!-- BLOCK URBAN BOARD -->
    <div class="block light-blue" style="padding: 20px 0px;">
        <div class="container">
            <div layout="row" layout-xs="row" layout-wrap layout-align="space-between center">
                <div flex>
                    <div class="lead-3" style="color:#329ab4;">Urban board</div>
                    <div class="lead-4" style="color:#329ab4;">Ambient sensor board</div>
                </div>
                <div flex>
                    <md-button class="landing_extra" href="/about#hardware" style="margin-top:29px;">Read more</md-button >
                </div>
            </div>

            <div layout="row" layout-xs="column" layout-wrap>

                <div flex="50" flex-gt-xs="25">
                    <div class="sck-features-block">
                        <div class="icon-features urb-1"></div>
                        <div class="title-features urban">Temperature</div>
                    </div>
                </div>
                <div flex="50" flex-gt-xs="25">
                    <div class="sck-features-block">
                        <div class="icon-features urb-2"></div>
                        <div class="title-features urban">Humidity</div>
                    </div>
                </div>
                <div flex="50" flex-gt-xs="25">
                    <div class="sck-features-block">
                        <div class="icon-features urb-3"></div>
                        <div class="title-features urban">Light</div>
                    </div>
                </div>
                <div flex="50" flex-gt-xs="25">
                    <div class="sck-features-block">
                        <div class="icon-features urb-4"></div>
                        <div class="title-features urban">Sound</div>
                    </div>
                </div>
                <div flex="50" flex-gt-xs="25">
                    <div class="sck-features-block">
                        <div class="icon-features urb-5"></div>
                        <div class="title-features urban">Carbon Monoxide</div>
                    </div>
                </div>
                <div flex="50" flex-gt-xs="25">
                    <div class="sck-features-block">
                        <div class="icon-features urb-6"></div>
                        <div class="title-features urban">Nitrogen Dioxide</div>
                    </div>
                </div>
                <div flex="50" flex-gt-xs="25">
                    <div class="sck-features-block">
                        <div class="icon-features urb-7"></div>
                        <div class="title-features urban">Nets</div>
                    </div>
                </div>
                <div flex="50" flex-gt-xs="25">
                    <div class="sck-features-block">
                        <div class="icon-features urb-8"></div>
                        <div class="title-features urban">Solar Panel</div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class='embed-container'>
                    <iframe src='https://player.vimeo.com/video/145620646?title=0&byline=0&portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>
                <div style="margin-top: 40px;" class="center">
                    <md-button class="call-to-action" ng-click="vm.showStore($event)">Get your kit</md-button>
                </div>
            </div>
        </div>
    </div>
    <!-- END URBAN BOARD -->

    <!-- BLOCK MESSAGE REALTIME DATA, MONITORING, ANALYSIS  -->
    <div class="block photo autoheight datavis">
        <div class="container">
            <div class="">
                <div style="text-align:center; vertical-align:middle; margin-top:95px; ">
                    <div class="lead-2">
                        Realtime ambiental monitoring for data analysis
                    </div>
                    <div class="lead-1">
                        Connecting people, data and knowledge
                    </div>

                </div>
            </div>
            <div class="">
                <div>
                    <div style="text-align:center; margin:50px 0 80px 0;">
                        <md-button ng-href="/login" class="landing_highlight_button blue big">Sign Up</md-button>
                        <md-button ng-href="/signup" class="landing_highlight_button big" role="button">Log In</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END BLOCK MESSAGE REALTIME DATA, MONITORING, ANALYSIS  -->

    <!-- BLOCK  -->
    <div id="participate" class="block">
        <div class="container">
            <div layout="row">

                <div flex>
                    <div class="resume-block">
                        <div class="icon-thumb ico-5"></div>
                        <h3>API Documentation</h3>
                        <p>The powerful API will allow you to connect to your data and with other users. Use it for your own proposes or for Citizen Science creations.</p>
                        <md-button class="landing_extra small"  href="http://developer.smartcitizen.me/" target="_blank">Start using the API</md-button>
                    </div>
                </div>
                <div flex>
                    <div class="resume-block">
                        <div class="icon-thumb ico-13"></div>
                        <h3>GitHub Repository</h3>
                        <p>You can download all the Open Source Software in the public repository</p>
                        <md-button class="landing_extra small"  href="https://github.com/fablabbcn/Smart-Citizen-Kit" target="_blank">Visit GitHub Repository</md-button>
                    </div>
                </div>
                <div flex>
                    <div class="resume-block">
                        <div class="icon-thumb ico-4"></div>
                        <h3>Forum</h3>
                        <p>A place to share, suggest ideas or only to leave a ticket for some amends in the services.
                        </p>
                        <md-button class="landing_extra small"  href="http://forum.smartcitizen.me/" target="_blank">Get involved in the Forum</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END BLOCK  -->

    <!-- BLOCK PHOTO -->
    <div class="block photo medium kit-3"></div>
    <!-- END BLOCK PHOTO -->

    <!-- BLOCK  -->
    <div id="social"  class="block">
        <div class="container" style="">
            <div class="">
                <div style="padding:20px 0px;">
                    <div class="lead-3" style="color:#333;">Social Networks</div>
                    <div class="lead-4" style="color:#333;">Follow us</div>
                </div>
            </div>
            <div class="">
                <div>
                    <script>
                        FB = null;
                        (function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            // if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/ca_ES/sdk.js#xfbml=1&version=v2.5&appId=383330128525478";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div style="float: left; margin-right: 10px; width: 300px;" class="fb-page" data-href="https://www.facebook.com/smartcitizenBCN" data-tabs="timeline" data-width="300" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/smartcitizenBCN"><a href="https://www.facebook.com/smartcitizenBCN">Facebook page from SmartCitizen</a></blockquote></div></div>
                    <twitter-timeline>
                        <a class="twitter-timeline"
                           href="https://twitter.com/IAmAru/lists/SmartCitizenKit"
                           data-widget-id="679469723596263424">
                            Tweets from SmartCitizen
                        </a>
                    </twitter-timeline>
                </div>
            </div>
        </div>
        <!-- END BLOCK -->

        <!-- BLOCK PHOTO -->
        <div class="block photo small kit-5"></div>
        <!-- END BLOCK PHOTO -->

        <!-- BLOCK  -->
        <div id="press" class="block light-grey">
            <div class="container">
                <div class="">
                    <div  style="padding: 40px 40px 0 40px;">
                        <div class="lead-3" style="color:#333;">Press</div>
                        <div class="lead-4" style="color:#333;">
                            Thanks to all of you
                        </div>
                    </div>
                </div>

                <div class="">
                    <div>
                        <h1></h1>
                        <img src="/assets/images/landing/logosPress.jpg" style="width:100%; margin-bottom:40px;">
                    </div>
                </div>
            </div> <!-- End container -->
        </div> <!-- End press -->
        <!-- END BLOCK  -->

    </div> <!-- End social -->
</section>
<footer class="footer landing-page" ng-include="'app/components/footer/footer.html'" layout="row" layout-align="center center"></footer>
