// New landing page

.grey-waves{
  background: grey url("/assets/images/sck_bg.png") ;
  background-repeat: repeat;
  background-size: 65px;
}

.new-landing-page{
  h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.0325em;
    font-family: 'Kanit';
    font-weight: 900;
    color: $off_black;
  }
  h1{
    font-size: 65px;
    line-height: 65px;
    margin:0px 0px;
    padding-top: 70px;
  }
  h2{
    font-size: 45px;
    line-height: 45px;
    margin:0px 0px;
  }
  h3{
    font-size: 30px;
    line-height: 30px;
    margin-top:10px;
    margin-bottom: 10px;
  }
  p{
    color: $off_black;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    line-height: 24px;
  }
  .sc-logo{
    height: 43px;
    position: absolute;
    z-index: 2;
    left: 10%;
    top:25px;
  }
  .sc-off-cta-platform {
    position: absolute;
    z-index: 2;
    right: 10%;
    top:25px;

  }
  // Images on landing page
  .img-new_sck{
    min-height: 30vw;
    background: blue url("/assets/images/new_sck.jpg") center/cover;
  }
  .img-sck_edu{
    min-height: 30vw;
    background: blue url("/assets/images/sck_edu.jpg") center/cover;
  }
  .img-sck_com{
    background: blue url("/assets/images/sck_communities.jpg") center/cover;
  }
  .img-research{
    background: blue url("/assets/images/sck_research.jpg") center/cover;
  }
  .img-governm{
    background: blue url("/assets/images/sck_cities.jpg") center/cover;
  }
  .img-platform{
    min-height:630px !important;
    background: blue url("/assets/images/sck_platform.jpg") center/cover;
  }
  .img-docs{
    min-height:320px !important;
    background: blue url("/assets/images/sck_docs.jpg") top/cover;
  }
  // Tiles on landing page
  .tile{
    padding: 60px 40px;
    border-bottom: 3px solid $off_black;
    border-right: 3px solid $off_black;
  }
  .tile-image{
    min-height:300px;
    padding:0 !important;
  }

  .tile-left{
    border-left: 3px solid $off_black;
  }
  .tile-top{
    border-top: 3px solid $off_black;
  }

  .text-funding{
    text-align: left;
  }

  // Video section

  .video-section{
    background: blue url("/assets/images/landing/smartcitizen-seeed-preorder.jpg") center/cover;
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
  }
  .heading-over-video{
    position: absolute;
    z-index: 1;
    top: 0px;
    height: 100%;
    padding-left: 10%;
    padding-right: 60%;

    img{
      padding-bottom:40px;
    }
  }

  @media only screen and (max-width: 1010px) {
    h1{
      font-size:42px;
      line-height:42px;
    }
    h2{
      font-size:28px;
      line-height:28px;
    }
    h3{
      font-size: 26px;
      line-height: 26px;
    }
    p{
      font-size:18px;
      line-height:22px;
    }
    .sc-logo{
      left:5%;
    }
    .heading-over-video{
      padding-top: 40px;
      position: absolute;
      padding-left: 5%;
      padding-right:25%;
      height: 100%;
      img{
        padding-bottom:00px;
      }
    }
  }

  // Less then 750px
  @media only screen and (max-width: 750px) {
    h1{
      font-size:30px;
    }
    h2{
      font-size:25px;
    }
    .text-funding{
      text-align: center;
    }
  }

  @media only screen and (max-width: 600px) {
    h1{
      font-size:28px;
      line-height:33px;
      padding-bottom:10px;
    }
    h2{
      font-size:28px;
    }
    p{
      font-size:19px;
    }
    .p-60{
      padding: 50px 10px !important;
    }
    .border-xs-top{
      border-top: 3px solid $off_black;
      border-left: 3px solid $off_black;
      border-right: 3px solid $off_black;
      border-bottom: 3px solid $off_black;
    }
    .border-xs-bottom{
      border-top: unset;
      border-left: 3px solid $off_black;
      border-right: 3px solid $off_black;
      border-bottom:3px solid $off_black;
    }
    .img-platform{
      min-height:356px !important;
    }
    .heading-over-video{
      padding-right: 5%;
    }
    .sc-off-cta-platform {
      padding: 10px 10px;
    }
    .my-20{
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
    .img-new_sck{
      background: blue url("/assets/images/sck_edu.jpg") center/cover;
    }
    .img-sck_edu{
      background: blue url("/assets/images/new_sck.jpg") center/cover;
    }
  }
}
