<div class="new-landing-page">
<script>
// Get the video
var video = document.getElementById("myVideo");

// Get the button
var btn = document.getElementById("playButton");

// Pause and play the video, and change the button text
function playPause(){
    if (video.paused) {
        video.play();
        btn.innerHTML = "Pause";
    } else {
        video.pause();
        btn.innerHTML = "Play";
    }
}
</script>

  <section style="max-height:700px; min-height:300px; background:#ebebed">
    <video style="max-width:100%" muted loop id="myVideo">
      <source src="./assets/loop_video.mp4" type="video/mp4">
    </video>
    <div style="position: fixed; top: 15%; padding-left:60px" class="borde-black">
      <h1 class="color-white font-kanit">CITIZEN SCIENCE REVOLUTION</h1>
      <p class="color-white">The documentary that explores how open source hardware and software, digital maker practices and design can be used by local communities to appropriate their own sensing tools.</p>
      <button class="btn-yellow btn-round-new" id="playButton" onclick="playPause()">Pause</button>
      <a href="https://vimeo.com/145620646" class="btn-yellow btn-round-new">WATCH IT NOW</a>
    </div>
  </section>

  <div class="grey-waves color-black" style="background:#ebebed; padding:60px;">

    <section layout="row">

      <div flex="50" layout="column" style="" class="">
        <div flex="noshrink" class="bg-white tile tile-left tile-top">
          <h2> DISCOVER THE 2.0 VERSION OF THE KIT WITH NEW SENSORS </h2>
          <p> Realtime ambiental monitoring for data analysis.  Connecting people, data and knowledge!  </p>
          <a class="btn-outline-blue btn-round-new" href="#"> READ THE ARTICLE </a>
        </div>
        <div flex="noshrink" class="tile tile-left"> image of boy </div>
      </div>

      <div flex="50" layout="column">
        <div flex="noshrink" class="tile tile-top"> image of kit </div>
        <div flex="noshrink" class="bg-white tile ">
          <h2> TECHNOLOGY FOR CITIZENS POLITICAL PARTICIPATION IN SMARTER CITIES </h2>
          <p> We are a team of passionate people creating open tools for citizens to be better informed about the world around them.  </p>
          <a class="btn-outline-yellow btn-round-new" href="#">VISIT THE FORUM </a>
        </div>
      </div>

    </section>


    <section class="mt-50">
      <div class="bg-white p-30 border-black"  layout="row" layout-align="center center">
        <h2> A KIT FOR EVERY COMMUNITY </h2>
      </div>

      <div layout="row border-black">
        <div flex="40" class="bg-blue tile tile-left text-center">
          <img style="height:80px" src="./assets/images/communities.svg" alt="Community icon" />
          <h3 class="color-white">LOCAL COMMUNITIES</h3>
          <p class="color-white">Launch a crowd sensing initiative in your neighbourhood. Use our sensors and platform to create local maps of air quality or sound problems; use them to report to your city council or to raise awareness of issues that matter for your community.</p>
        </div>
        <div flex="60" class="tile-image tile ">
          image of making sense
        </div>
      </div>

      <div layout="row">
        <div flex="60" class="tile-image tile tile-left">
          image of oscar
        </div>
        <div flex="40" class="bg-yellow tile text-center">
          <img style="height:80px" src="./assets/images/research.svg" alt="Community icon" />
          <h3>RESEARCHERS</h3>
          <p>Use it as a tool for data capture and analysis in technology deployments, or for social experiments.  Understand the relationship between people, environment and technology by doing real-world deployments.</p>
        </div>
      </div>

      <div layout="row">
        <div flex="40" class="bg-red tile tile-left color-white text-center">
          <img style="height:80px" src="./assets/images/cities.svg" alt="Community icon" />
          <h3 class="color-white">CITIES AND GOVERNMENTS</h3>
          <p class="color-white">Smart Cities should be build together with Smart Citizens. The construction of new infrastructure is not only possible thanks to a massive investment on new technologies, but could be done through the better optimisation of the existing resources.</p>
        </div>
        <div flex="60" class="tile tile-image">
          image of charts
        </div>
      </div>
    </section>

    <section class="mt-50">
      <div layout="row" class="p-30 border-black bg-white">
        <div flex="50">
          <h2>CIVIC PARTICIPATION ACROSS THE GLOBE</h2>
        </div>
        <div flex="50">
          <p>The Smart Citizen platform generates participatory processes of people in the cities. Connecting data, people and knowledge and serving as a node for building productive indicators, distributed tools, and thereafter the collective construction of the city for its own inhabitants.</p>
        </div>
      </div>

      <div class="tile tile-left">
        image of platform
        <a class="btn-blue btn-round-new" href="https://smartcitizen.me/kits/">GO TO THE PLATFORM</a>
      </div>
    </section>

    <section class="mt-50 ">
      <div layout="row" layout-align="space-between center" class="p-30 border-black bg-blue">
        <div flex="40">
          <h4 class="color-white"style="margin:0">SUBSCRIBE TO GET THE LATEST</h4>
        </div>
        <div flex="60">
          <!-- Begin MailChimp Signup Form -->
          <form action="https://smartcitizen.us2.list-manage.com/subscribe/post?u=d67ba8deb34a23a222ec4eb8a&amp;id=d0fd9c9327" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <input style="padding: 5px; border:none; margin-right:20px" type="email" name="EMAIL" placeholder="Your email address" required>
            <input style="border:none; width:150px" class="btn-yellow btn-round-new" type="submit" name="subscribe" id="mc-embedded-subscribe" value="GO!" />

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d67ba8deb34a23a222ec4eb8a_d5a8cea29f" tabindex="-1" value=""></div>

          </form>
          <!--End mc_embed_signup-->

        </div>
      </div>
    </section>

    <section class="mt-50 text-center">
      <div layout="row">
        <div flex="33" layout="column" layout-align="space-between center" class="bg-white border-black p-20">
          <img style="height:80px" src="./assets/images/api.svg" alt="API icon" />
          <h3>API DOCUMENTATION</h3>
          <p>The powerful API will allow you to connect to your data and with other users.</p>
          <a href="https://smartcitizen.me/kits/" class="btn-black btn-round-new">USE THE API</a>
        </div>
        <div flex="33"  layout="column" layout-align="space-between center" class="bg-white border-black p-20" style="margin:0px 20px">
          <img style="height:80px" src="./assets/images/github.svg" alt="Github icon" />
          <h3>GITHUB REPOSITORY</h3>
          <p>You can download all the Open Source Software in the public repository.</p>
          <a href="https://github.com/fablabbcn?utf8=✓&q=smartcitizen&type=&language=" class="btn-black btn-round-new">VISIT REPOSITORY</a>
        </div>
        <div flex="33"  layout="column" layout-align="space-between center" class="bg-white border-black p-20">
          <img style="height:80px" src="./assets/images/forum.svg" alt="Forum icon" />
          <h3>FORUM</h3>
          <p>A place to share, suggest ideas or only to leave a ticket for some amends in the services.</p>
          <a href="https://forum.smartcitizen.me" class="btn-black btn-round-new">GET INVOLVED</a>
        </div>
      </div>
    </section>
  </div>

  <footer class="mt-50 p-50"style="background-color:#262626">
    <div layout="row" layout-align="space-between " style="color:white;">

      <div>
        <img style="height:80px" src="./assets/images/smartcitizen_logo2.svg" alt="logos" />
      </div>

      <div layout="row" layout-align="space-between center" class="border-white p-20">
        <div style="margin-right:20px">Follow us</div>
        <a href="https://twitter.com/smartcitizenkit">
          <img style="height:30px" src="./assets/images/tw.svg" alt="twitter" />
        </a>
        <a href="https://www.facebook.com/smartcitizenBCN/">
          <img style="height:30px" src="./assets/images/fb.svg" alt="fb" />
        </a>
      </div>

      <div layout="row" layout-align="space-between center" class="border-white p-20">
        <div style="margin-right:20px">A project by</div>
        <a href="https://fablabbcn.org">
          <img style="height:18px; padding-right: 5px" src="./assets/images/logo_fablab_bcn_small.png" alt="fablab" />
        </a>

        <a href="https://iaac.net">
          <img style="height:15px" src="./assets/images/iaac.png" alt="fablab" />
        </a>
      </div>

      <div class="p-20">
        <p style="font-size:12px; color:white">
          Copyright &copy; 2018 Smart Citizen
        </p>
      </div>

    </div>
  </footer>

</div>
