// New landing page

.grey-waves{
  background: grey url("/assets/images/sck_bg.png") ;
  background-repeat: repeat;
  background-size: 65px;
}

.new-landing-page{
  h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.0325em;
    font-family: 'Kanit';
    font-weight: 900;
    color: $off_black;
  }
  h1{
    font-size: 65px;
    line-height: 65px;
    margin:0px 0px;
  }
  h2{
    font-size: 45px;
    line-height: 45px;
    margin:0px 0px;
  }
  h3{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  p{
    color: $off_black;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    line-height: 30px;
  }
  .sc-logo{
    position: fixed;
    z-index: 2;
    left: 10%;
    top:25px;
  }
  // Images on landing page
  .img-new_sck{
    background: blue url("/assets/images/new_sck.jpg") center/cover;
  }
  .img-sck_edu{
    background: blue url("/assets/images/sck_edu.jpg") center/cover;
  }
  .img-sck_com{
    background: blue url("/assets/images/sck_communities.jpg") center/cover;
  }
  .img-research{
    background: blue url("/assets/images/sck_research.jpg") center/cover;
  }
  .img-governm{
    background: blue url("/assets/images/sck_cities.jpg") center/cover;
  }
  .img-platform{
    background: blue url("/assets/images/sck_platform.jpg") center/cover;
  }

  // Tiles on landing page
  .tile{
    padding: 40px;
    border-bottom: 3px solid $off_black;
    border-right: 3px solid $off_black;
  }
  .tile-image{
    padding:0 !important;
  }

  .tile-left{
    border-left: 3px solid $off_black;
  }
  .tile-top{
    border-top: 3px solid $off_black;
  }

  .heading-over-video{
    z-index: 1;
    position: absolute;
    top:0px;
    height:100%;
    left: 10%;
    width:42%;
    img{
      padding-bottom:40px;
    }
  }
  .video-section{
    position: relative;
    min-height: 30vh;
  }

  @media only screen and (max-width: 950px) {
    h1{
      font-size:42px;
    }
    h2{
      font-size:28px;
    }
    p{
      font-size:18px;
    }
    .sc-logo{
      left:5%;
    }
    .heading-over-video{
      position: absolute;
      top:10px;
      left:5%;
      width:85%;
      height: 80%;
      img{
        padding-bottom:00px;
      }
    }
  }

  // Less then 750px
  @media only screen and (max-width: 750px) {
    h1{
      font-size:30px;
    }
    h2{
      font-size:25px;
    }
    .sc-logo{
      top: 10px;
    }
  }

  @media only screen and (max-width: 600px) {
    h1{
      font-size:30px;
    }
    h2{
      font-size:28px;
    }
    p{
      font-size:19px;
    }
    .video-section{
      min-height:40vh;
    }
    .p-60{
      padding: 10px !important;
    }
    .tile-xs{
      border-left: 3px solid $off_black;
    }
  }

}


