<section class='modal signup'>
  <div class="box">
  	<h2>SIGN UP</h2>
    <div class="modal_message">
  	  <p>People looking for a better city</p>
  	  <p>You're part of them? Feel free to join us!</p>
    </div>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>Username</label>
        <input ng-model="vm.user.username">
      </md-input-container>
      <md-input-container flex>
        <label>Password</label>
        <input ng-model="vm.user.password">
      </md-input-container>
      <md-input-container flex>
        <label>Email</label>
        <input ng-model="vm.user.email">
      </md-input-container>
    </div>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>City</label>
        <input ng-model="vm.user.city">
      </md-input-container>
      <md-input-container flex>
        <label>Country</label>
        <input ng-model="vm.user.country">
      </md-input-container>
      <md-input-container flex>
        <label>Web</label>
        <input ng-model="vm.user.web">
      </md-input-container>
    </div>
  	<!--<input type="text" ng-model="vm.username">
  	<input type="text" ng-model="vm.password">-->
    <br>
  	<md-button class="md-raised md-primary" ng-click="">Sign up</md-button>
  </div>
  <div>
    <span>New here? button or link?</span>
    <span>Forgot your password button or link?</span>
  </div>
</section>