$yellow: #FFC100;
$blue_light: #65E3F4;
$blue: #0019FF;
$red: #FF3D4C;
$green: #00E597;
$off_black: #2E2E2E;

$grey_lightest: #F9F9FB;
$grey_lighter: #ECECEE;
$grey: #D2D3D5;
$grey_darker: #6E6E6E;
$grey_darkest: #7E7E7E;

$secondary_color: $grey_darker;
$terciary_color: $blue_light;

$secondary_color_light: #4F8390;
$terciary_color_light: #C8E6ED;

$info_primary: #8DB2BA;
$info_secondary: $secondary_color_light;

$alert_red: #FF3D4C;
$alert_green: #00E597;

$font_color_white: white;
$font_color_blue_grey: #82A7B0;
$font_color_blue_dark: #124B50;
$font_color_blue_light: $blue_light;

$background_blue_dark_menu: $off_black;
$background_blue_dark_overview: $off_black;
$background_blue_dark_background: $off_black;
$background_blue_dark_navbar: $off_black;
$background_blue_dark_chart: $off_black;
$background_blue_light: #DDE7EA;
$background_blue_midtone: #97b6bf;

$large_priority: 10;
$more_priority: 5;
$medium_priority: 2;
$small_priority: -1;
