$secondary_color: #065063;
$terciary_color: #38CEF3;

$secondary_color_light: #4F8390;
$terciary_color_light: #C8E6ED;

$info_primary: #8DB2BA;
$info_secondary: #4F8390;

$blue_light: #4FC9E8;

$alert_red: #E74C3C;
$alert_green: #35E67E;

$font_color_white: white;
$font_color_blue_grey: #82A7B0;
$font_color_blue_dark: #124B50;
$font_color_blue_light: #9BE6F8;

$background_blue_dark_menu: #043846;
$background_blue_dark_overview: #042F3B;
$background_blue_dark_navbar: #065063;
$background_blue_dark_chart: #03252D;
$background_blue_light: #DDE7EA;
$background_blue_midtone: #97b6bf;

$large_priority: 10;
$more_priority: 5;
$medium_priority: 2;
$small_priority: -1;
