$secondary_color: #01637C;
$terciary_color: #38CEF3;

$blue_light: #35C2E5;

$alert_red: #E74C3C;
$alert_green: #35E67E;

$font_color_white: white;
$font_color_blue_grey: #82A7B0;
$font_color_blue_dark: #124B50;
$font_color_blue_light: #9BE6F8;

$background_blue_dark_menu: #043846;
$background_blue_dark_overview: #042F3B;
$background_blue_dark_navbar: #065063;
$background_blue_dark_chart: #03252D;
$background_blue_light: #DDE7EA;

$large_priority: 10;
$more_priority: 5;
$medium_priority: 2;
$small_priority: -1;
