// General helpers
.border-black{
  border: 3px solid $off_black;
}
.border-white{
  border: 3px solid white;
}
.color-white{
  color: white !important;
}
.color-black{
  color: $off_black;
}
.color-blue{
  color:$terciary_color;
}
.color-cyan{
  color: $terciary_color;
}
.color-green {
  color: $green;
  svg {
    fill: $green;
  }
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.d-flex{
  display:flex;
}
.full-width{
  width: 100%;
}
.max-width-500px {
  max-width: 500px;
}
.min-height-80 {
  min-height: 80%;
}

// Font & text
.font-roboto-condensed{
  font-family:'Roboto Condensed';
}
.font-kanit{
  font-family:'Kanit';
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}



// Background helpers
.bg-white{
  background-color: #fff;
}
.bg-green{
  background-color: $green;
}
.bg-blue{
  background-color: $blue;
}
.bg-red{
  background-color: $red !important;
}
.bg-red-light{
  background-color: rgba($red,.2);
}
.bg-yellow{
  background-color: $yellow;
}
.bg-grey {
  background-color: $grey !important;
}

// Button helpers
.btn-outline-blue{
  border:2px solid $blue;
  color: $blue;
  padding:10px 29px;
  svg {
    fill: $blue
  }
}
.btn-outline-blue:hover{
  background: $blue;
  color: white;
  svg {
    fill: white
  }
}
.btn-outline-white:hover{
  background: white;
  color: $off_black;
}
.btn-outline-white{
  border:2px solid white;
  color: white;
  padding:10px 29px;
}
.btn-outline-yellow{
  border:2px solid $yellow;
  color: $yellow;
  padding:10px 29px;
}
.btn-outline-yellow:hover{
  background: $yellow;
  color: $off_black;
}
.btn-yellow{
  background: $yellow;
  color: $off_black;
  padding:12px 29px;
}
.btn-yellow:hover{
  background: rgba($yellow, 0.8);
  color: $off_black;
}
.btn-black-outline{
  border:2px solid $off_black;
  color: $off_black;
  padding:10px 29px;
}
.btn-black-outline:hover{
  background: $off_black;
  color: white;
}
.btn-blue{
  background: $blue;
  color: white;
  padding:12px 29px;
}
.btn-blue:hover{
  background: #1426D7;
  color: white;
}
.btn-round-new{
  border-radius: 40px;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.0325em;
}
.btn-round{
  border: 0;
  border-radius: 25px;
  padding:5px 35px;
  font-size:18px;
}
.btn-cyan{
  background-color: $terciary_color;
  color:white;
}

// display helpers
.btn-full {
  display: block;
  width: 100%;
  border-radius: 0px;
  margin: 0px;
}


// Margin - padding helpers
.m-0{
  margin: 0;
}
.m-10{
  margin: 10px;
}
.ml-0 {
  margin-left: 0px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-50{
  margin-left: 50px;
}
.mr-10{
  margin-right: 10px;
}
.mr-30{
  margin-right: 30px;
}
.mt-50{
  margin-top: 50px;
}
.mt-20{
  margin-top: 20px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.my-20{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mw-100{
  max-width: 100%;
}
.p-0{
  padding: 0;
}
.p-20{
  padding: 20px;
}
.p-30{
  padding: 30px;
}
.p-40{
  padding: 40px;
}
.p-60{
  padding: 60px;
}
.p-50{
  padding: 50px;
}
.pl-20{
  padding-left: 20px;
}
.pt-80{
  padding-top:80px;
}
.py-40{
  padding-top:40px;
  padding-bottom:40px;
}
.px-20{
  padding-left:20px;
  padding-right:20px;
}

.px-40{
  padding-left:40px;
  padding-right:40px;
}


// img helpers

.img-circle {
  border-radius: 50%;
}

footer{
  p{
    font-size:12px !important;
    line-height:12px !important;
  }
}

// postion helpers

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

// size helpers
.s-48 {
  width: 48px;
  height: 48px;
}
