@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700,700italic,400italic);

$primary_color: #065063;
$secondary_color: #01637C;
$terciary_color: #38CEF3;

$large_priority: 10;
$more_priority: 5;
$medium_priority: 2;
$small_priority: -1;

::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:  white;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: white;
}

:focus::-webkit-input-placeholder { /* WebKit browsers */
  color: #032933;
}
:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #032933;
  opacity:  1;
}
:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #032933;
  opacity:  1;
}
:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #032933;
}


html {
  font-family: 'Roboto Condensed';
}

body {
  background-color: rgba(0, 0, 0, 0);
}

navbar { 
  .md-button {
    font-size: 14px;
  }

  .logo_link {
    text-align: center;
    
    .logo_icon {
      margin-left: 15px;
      height: 32px;
      width: 32px;
    }
  }

  .nav_icon {
    margin: 0 3%;
    height: 14px;
    width: 14px;
  }
  
  .md-button.full_height {
    padding: 24px 0px;
  }

  .nav_left {
    width: 204px;
    margin: 0px 16px;
    .map {
      width: 66px;
      margin-right: 8px;
    }
    .community {
      width: 114px;
      margin-left: 8px;
    }
  }

  .nav_right {
    width: 281px;
    margin: 0px 16px;

    .get {
      width: 98px;
      margin-right: 8px;
    }
    .log {
      width: 56px;
      margin: 0px 8px;
    }
    signup {
      text-align: center;
      margin-left: 8px;

      .md-button.md-default-theme {
        border: 2px solid #00FFA8;
        color: #00FFA8;
        border-radius: 50px;
        padding: 9px 11px;
        width: 79px;
      }
    }
  }
}

search {
  position: relative;

  md-autocomplete {
    height: 36px;

    button {
      top: 0.7em;
      right: 0.7em;
    }

    ul {
      z-index: 100;
      max-height: 422px;
      top: 93%;

      li {
        .result_icon {
          margin-right: 12px;
        }
        .result_location {
          color: #35C2E5;
          margin-left: 6px;
        }

        border: 0px;
        z-index: 100;
        height: 40px;
        line-height: 40px;
      }
    }
  }

  .search_icon {
    position: absolute;
    top: 3.2px;
    left: 14px;
    z-index: $large_priority;
    
    md-icon {
      width: 14px;
      height: 14px;
    }
  }

  input {

    background-color: #377382;
    color: black;
    height: 36px;
    line-height: 36px;
    padding: 0 40px;
    border-radius: 4px;
  }

  input:active, input:focus {
    fill: white;
    background-color: #DDE7EA;
  }

  md-autocomplete {
    border-radius: 4px;
    box-shadow: 0 0px 0px white;
    background-color: transparent;
  }

  md-autocomplete-wrap {
    height: 39px;
    background-color: transparent;
    border-radius: 4px;
  }
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-content.md-default-theme {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
} 

md-toolbar.md-default-theme {
  background-color: $primary_color;
  z-index: $large_priority;
  height: 64px;
}

.md-button.md-default-theme.md-raised.md-primary { 
  background-color: $terciary_color;
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover { 
  background-color: $terciary_color;
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):focus {
  background-color: $terciary_color;
}

md-dialog.md-default-theme { 
  background-color: rgba(255, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px transparent;
  max-height: 100%;
}

/*md-dialog.md-default-theme.transition-in {
  transition: all 0.2s ease-out 0s;
}

md-dialog.md-default-theme.transition-out {
  transition: all 0.2s ease-out 0s;
}*/

md-dialog-content { 
  background-color: white;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused {
  label {
    color: $terciary_color;
  }

  .md-input {
    border-color: rgba(0,0,0,0.12);
  } 
}

md-toast.md-top {
  position: absolute;
  top: 64px;
  max-width: 100%;
  width: 100%;
  min-height: 32px;
  color: black;

  .alert_icon {
    width: 16px;
    height: 16px;
    margin-right: 16px;
  }

  .close_icon {
    width: 10.5px;
    height: 10.5px;
    margin: 0 auto;
  }
}

md-toast.red {
  background-color: #E74C3C;
}

md-toast.green {
  background-color: #35E67E;
}

md-toast.blue {
  background-color: #35C2E5;
}

md-progress-linear.md-default-theme .md-bar{
  background-color: #044150;
}

md-backdrop.md-opaque.md-default-theme {
  background-color: rgba(30, 30, 30, 0.6);
  position:absolute;
  /*-ms-filter: blur(20px);  
  -webkit-filter: blur(20px);  
  -moz-filter: blur(20px);  
  -o-filter: blur(20px);  
  filter: blur(20px); */
}

.map_state {
  position: fixed;
}

@media only screen and (max-device-width: 1024px) {
  .map_state {
    z-index: -5;
  }
}

section.map {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 312px;
  border: 1px solid grey;
  color: black;
  z-index: $small_priority;
  position: fixed;
  top: 64px;

  @media all and (max-height: 600px) and (min-height: 800px) {
    height: 500px;
  }

  h1 {
    font-size: 3em;
  }
  
  leaflet {

  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

.kit_fixed {
  z-index: $medium-priority;
  position: relative;
}

.kit_data {
  margin-top: 376px;
}

section .kit_menu {
  width: 100%;
  height: 35px;
  border: 1px solid red;
  z-index: $more_priority;
  background-color: white;
  position: relative;
}

.kit_overview {
  width: 100%;
  height: 150px;
  border: 1px solid green;
  margin-bottom: 1%;
  z-index: $medium_priority;
  background-color: white;
  position: relative;
}

.kit_detailed {
  width: 97%;
  height: 1000px;
  border: 1px solid blue;
  margin: 0 auto;
  z-index: $medium_priority;
  background-color: white;
  position: relative;

  .kit_dashboard {
    height: 450px;
  }
}

.stickNav {
  position: fixed;
  top: 0px;
}

section .stickMenu {
  position: fixed;
  top: 64px;
}

.modal {
  border: 0.5px solid grey;
  position: relative;
  border-radius: 0px 0px 3px 3px;
  
  .field {
    position: relative;
  }
  
  .errors {
    position: absolute;
    top: 50px;
    left: 2px;
    color: red;
    font-size: 12px;
    line-height: 1;
  }

  .close_icon {
    float: right;
    width: 14px;
    height: 14px;

    md-icon {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  button.main {
    width: 100%;
    color: white;
    background-color: $terciary_color;
    height: 64px;
    font-size: 24px;
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 2px 2px;
  }

  > div {
    width: 92%;
    margin: 0 auto;
  }

  h2 {
    color: $terciary_color;
    font-weight: normal;
  }

  [layout] {
    padding: 2% 0;
  }

  .modal_message {
    margin-bottom: 20px;

    p:nth-child(1)  {
      font-size: 24px;
      color: $secondary_color;
      font-weight: bold;
      line-height: 0;
      margin-top: 50px;
    }
    p:nth-child(2) {
      font-size: 14px;
      color: rgba(0,98,123,0.54);
      line-height: 0.5;
    }
    p:nth-child(3) {

    }
  }
}

.message_below {
  text-align: center; 
  font-size: 16px; 

  .message_below_question {
    color: white;
    margin-right: 3%;
  }

  .message_below_link {
    color: $terciary_color;
    font-weight: bold;
  }
}

.login {
  width: 408px;
  height: 349px;
}
.signup {
  width: 400px;
  height: 512px;
}

.blur {
  -ms-filter: blur(20px);  
  -webkit-filter: blur(20px);  
  -moz-filter: blur(20px);  
  -o-filter: blur(20px);  
  filter: blur(20px);  
}

.move_down {
  -ms-transform: translateY(35px);
  -webkit-transform: translateY(35px);
  -moz-transform: translateY(35px);
  -o-transform: translateY(35px);
  transform: translateY(35px);
}

.marker_normal {
  background-image: url('../assets/images/marker.svg');
}

.marker_online {
  background-image: url('../assets/images/marker.svg');
  -webkit-animation: pulse 5s linear infinite;
  -moz-animation: pulse 5s linear infinite;
  -ms-animation: pulse 5s linear infinite;
  animation: pulse 5s linear infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.marker_offline {
  background-image: url('../assets/images/marker_offline.svg');
}

.popup {
  width: 101%;;
  height: 135px;
  color: #124B50;
  font-family: 'Roboto Condensed'
}

.popup_top {
  height: 72px;
  
  .popup_name {
    padding: 0 0 1px 8px;
    font-size: 16px;
    font-weight: bold;  
  }
  .popup_type {
    font-size: 14px;
    line-height: 1em;
    padding: 1px 0 3px 8px;
  }
  .popup_time {
    font-size: 10px;
    padding: 2px 0 0 8px;

    md-icon {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }
  }  
}

.popup_bottom {
  height: 68px;

  .popup_location {
    padding: 5px 0 0 8px;
    font-size: 14px;

    md-icon {
      width: 8.4px;
      height: 12px;
      margin-right: 4px;
    }
  }
  .popup_labels {
    padding: 5px 0 0 8px;
    font-size: 12px;

    span {
      border-radius: 20px;
      background-color: #DDE7EA;
      margin-right: 10px;
      padding: 3px 8px;
    }
  } 
}

.smartcitizen_kit {
  background-color: #35C2E5;
}

.leaflet-popup-content-wrapper {
  border-radius: 0px;
}

.leaflet-popup-content {
  margin: 0;
  width: 100%;
  min-width: 245px;
  position: relative;
  top: -1px;
  left: -1px;

  p {
    margin: 0;
    /*line-height: 0;*/
  }
}

.leaflet-popup-close-button {
  display: none;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
