<md-dialog>
  <md-dialog-content class="modal modal_login">
    <md-progress-circular ng-show="waitingFromServer" class="md-hue-3 login_spinner" md-mode="indeterminate"></md-progress-circular>
    <md-button class="close_icon" aria-label>
      <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" ng-click="hide()" class="" >
      </md-icon>
    </md-button>
    <form name="login_form" novalidate ng-submit="answer(vm.user)">
      <div class="modal_content_container">
        <h2>LOG IN</h2>
        <div class="modal_message">
          <p class="header">People looking for a better city</p>
          <p class="subheader">You're part of them? Feel free to join us!</p>
        </div>
        <div layout layout-sm="column" class="field">
          <md-input-container flex>
            <label>Username</label>
            <input id="autofocus" type="text" name="username" ng-model="vm.user.username" focus-input ng-required="login_form.$submitted"/>
          </md-input-container>
          <p class="errors" ng-show="login_form.$submitted || login_form.username.$touched">
            <span ng-show="login_form.username.$error.required">Username is required</span>
          </p>
        </div>
        <div layout layout-sm="column" class="field">
          <md-input-container flex>
            <label>Password</label>
            <input type="password" name="password" ng-model="vm.user.password" ng-required="login_form.$submitted"/>
          </md-input-container>
          <p class="errors" ng-show="login_form.$submitted || login_form.password.$touched">
            <span ng-show="login_form.password.$error.required">Password is required</span>
          </p>
        </div>
      </div>
      <md-button class="md-flat md-primary main" type="submit">LOG IN</md-button>
    </form>
  </md-dialog-content>
  <p class="message_below">
    <span>
      <span class="message_below_question">New here?</span>
      <md-button class="message_below_link" ng-click="openSignup()"
        angular-on="click" angular-event="Login" angular-action="signup">
        SIGN UP
      </md-button>
    </span>
    <span>
      <span class="message_below_question">Forgot your password?</span>
      <md-button class="message_below_link" ng-click="openPasswordRecovery()"
        angular-on="click" angular-event="Login"
        angular-action="password recover">
        REQUEST
      </md-button>
    </span>
  </p>
</md-dialog>
