<section class="map" change-map-height>
  <leaflet center="vm.center" layers="vm.layers" markers="vm.markers" defaults="vm.defaults" event-broadcast="vm.events" width="100%" height="100%"></leaflet> <!-- tiles="vm.tiles" -->
  <div class="map_legend" layout="row" layout-align="start center" move-filters>
    <div class="map_legend__filtersContainer">
      <div class="map_legend__filtersRow" ng-click="vm.openFilterPopup()">
        <md-button class="map_filter_button" layout="row" layout-align="center center" aria-label>
          <md-icon md-svg-src="./assets/images/filter_icon.svg"></md-icon>
        </md-button>
        <p class="filter_description">Filters</p>
      </div>
      <div class="map_legend__filtersRow" ng-click="vm.openTagPopup()">
        <div class="map_filter_button">
          <p>#</p>
        </div>
        <p class="filter_description">Tags</p>
      </div>
    </div>
    <div class="chips">
      <div ng-repeat="tag in vm.selectedTags" class="chip map_filter">
        <span class="chip_name">{{ tag }}</span>
        <button ng-click="vm.removeTag(tag)" class="chip_icon" arial-label>
          <md-icon md-svg-src="./assets/images/close_icon_black.svg"></md-icon>        
        </button>
      </div>
      <div ng-repeat="filter in vm.selectedFilters" class="chip map_filter" ng-if="!vm.checkAllFiltersSelected()" layout="row" layout-align="center center">
        <span class="chip_name">{{ filter }}</span>
        <button ng-click="vm.removeFilter(filter)" class="chip_icon" arial-label>
          <md-icon md-svg-src="./assets/images/close_icon_black.svg"></md-icon>        
        </button>
      </div>
      <div ng-if="vm.checkAllFiltersSelected()" class="map_filter" layout="row" layout-align="center center">
        <div class="chip map_filter">
          <span class="chip_name">ALL FILTERS</span>          
        </div>
      </div>
    </div>
  </div>

  <md-progress-linear ng-show="vm.kitLoading" class="md-hue-3 kit_spinner" md-mode="indeterminate"></md-progress-circular>
</section>
