<md-dialog class="filters">
  <md-toolbar >
    <div class="md-toolbar-tools">
      <h2 class="font-kanit uppercase weight-800">Filters</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content max-width-500px">
      <md-content layout-padding>
        <h4 class="font-kanit m-0">
          Filter kits by online/offline status
        </h4>
        <p class="font-kanit m-0">
          Online Kits have published data online at least during the past 60 minutes
        </p>
        <div ng-repeat="filter in vm.status" class="mt-0">
          <md-checkbox ng-click="vm.toggle(vm.status)" ng-model="vm.checks[filter]">
            <span class="filter font-kanit uppercase"> {{filter}}</span>
          </md-checkbox>
        </div>
      </md-content>
      <md-content style="margin-top: 10px;" layout-padding>
        <h4 class="font-kanit m-0">
          Or by indoor/outdoor data
        </h4>
        <div ng-repeat="filter in vm.location" class="mt-0">
          <md-checkbox ng-click="vm.toggle(vm.location)" ng-model="vm.checks[filter]">
            <span class="filter font-kanit uppercase"> {{filter}}</span>
          </md-checkbox>
        </div>
      </md-content>
    </div>
    <md-button class="md-warn btn-full font-kanit uppercase weight-800 button-modal font-16" ng-click="vm.clear()">Clear filters</md-button>
    <md-button class="btn-blue btn-full font-kanit uppercase weight-800 button-modal font-16" ng-click="vm.answer()">Apply</md-button>
  </md-dialog-content>
</md-dialog>
