<md-dialog class="filters">
  <md-dialog-content class="modal modal_tagFilter" layout="column">
    <md-button class="close_icon">
      <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" ng-click="filterDialog.cancel()" class="" >
      </md-icon>
    </md-button>
    <div class="modal_content_container_filter" flex layout="column">
      <h2>FILTERS</h2>
      <p>Only show kits containing ALL these parameters.</p>
      <md-divider></md-divider>

      <md-content flex>
        <div class="modalTag_tagContainer" ng-repeat = "filter in filterDialog.filters">
         <md-checkbox class = "blue" ng-model = "filterDialog.checks[filter]"> <small class="filter">{{filter.toUpperCase()}} </small></md-checkbox>
         <md-divider/>
        </div>
      </md-content>


    </div>
    <md-button class="md-warn button_clear" ng-click="filterDialog.clear()">CLEAR FILTERS</md-button>
    <md-button class="md-flat md-primary main" ng-click="filterDialog.answer()">APPLY</md-button>
  </md-dialog-content>
</md-dialog>
