<md-dialog>
  <md-dialog-content class="modal modal_mapFilter">
    <md-button class="close_icon">
      <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" ng-click="cancel()" class="" >
      </md-icon>
    </md-button>
    <div class="modal_content_container">
      <h2>FILTERS</h2>
      <div class="modal_message">
        <p class="message">You can apply some filters to get more accurate results on the map.</p>
      </div>
      <div class="input_filter">
        <h3>Location filter</h3>
        <small>now showing indoor</small>
        <md-checkbox ng-model="form.indoor" aria-label></md-checkbox>
        <span>Indoor</span>
        <md-checkbox ng-model="form.outdoor" aria-label></md-checkbox>
        <span>Outdoor</span>
      </div>
      <md-divider></md-divider>
      <div class="input_filter">
        <h3>Status filter</h3>
        <small>now showing online</small>
        <md-checkbox ng-model="form.online" aria-label></md-checkbox>
        <span>Online</span>
        <md-checkbox ng-model="form.offline" aria-label></md-checkbox>
        <span>Offline</span>
      </div>
      <md-divider></md-divider>
    </div>
    <md-button class="md-flat button_clear" ng-click="answer()">CLEAR FILTERS</md-button>
    <md-button class="md-flat md-primary main" ng-click="answer(form)">APPLY</md-button>
  </md-dialog-content>
</md-dialog>
