<md-dialog class="tags">
  <md-dialog-content class="modal modal_tagFilter" layout="column">
    <md-button class="close_icon" ng-click="tagDialog.cancel()">
      <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" class="">
      </md-icon>
    </md-button>
    <div class="modal_content_container_filter" flex layout="column">
      <h2>TAGS</h2>
      <p>Kits sharing a #tag show their average data.</p>
      <p>Browse and select from the list to show the kits containing ALL these tags.</p>
      <md-divider></md-divider>

      <md-content flex>
        <div class="modalTag_tagContainer" ng-repeat = "tag in tagDialog.tags">
          <md-checkbox class = "blue" ng-model = "tagDialog.checks[tag.name]">
            <span class="tag">{{tag.name}} </span>
          </md-checkbox>
          <md-divider/>
        </div>
      </md-content>

    </div>
    <md-button style="font-size:18px" class="md-warn button_clear" ng-click="tagDialog.clear()">CLEAR SELECTION</md-button>
    <md-button class="md-flat md-primary main" ng-click="tagDialog.answer()">APPLY</md-button>
  </md-dialog-content>
</md-dialog>
