<section class="profile_state">
  <div class="profile_header" layout="row" layout-align="start center">
    <md-icon md-svg-src="./assets/images/user_details_icon.svg" class="profile_header_avatar"></md-icon>
    <div class="profile_header_content">
      <div class="profile_header_name">Gcamprodon</div>
      <div class="profile_header_location">
        <md-icon md-svg-src="./assets/images/location_icon.svg" class="profile_header_content_avatar"></md-icon>
        <span>Barcelona, Spain</span>
      </div>
      <div class="profile_header_url">
        <md-icon md-svg-src="./assets/images/url_icon.svg" class="profile_header_content_avatar"></md-icon>
        <span>example.com</span>
      </div>
    </div>
  </div>
  <div class="profile_content">
    <div class="profile_sidebar">
      <p class="profile_sidebar_title">FILTER KITS BY</p>
      <div class="profile_sidebar_options">
        <md-button ng-click="vm.filterKits('all')" class="profile_sidebar_button">ALL</md-button>
        <md-button ng-click="vm.filterKits('online')" class="profile_sidebar_button">ONLINE</md-button>
        <md-button ng-click="vm.filterKits('offline')" class="profile_sidebar_button">OFFLINE</md-button>
      </div>
    </div>
    <div class="profile_content_main" flex>
      <p class="profile_content_main_title">0 kits filtering by ALL</p>
      <div>
        There are no kits yet.
      </div>
    </div>
  </div>
</section>
