<section class="kit_data" change-content-margin>
  <section class="kit_menu" layout="row" layout-align="center center" stick>
    <div class="container">
      <div class="kit_user">
        <md-icon md-svg-src="http://fablabbcn.github.io/smartcitizen-web/assets/images/avatar.svg"> </md-icon>
        <span>{{ vm.marker.owner.username}}</span>
      </div>
      <div class="kit_name">
        <md-icon md-svg-src="http://fablabbcn.github.io/smartcitizen-web/assets/images/avatar.svg"> </md-icon>
        <span>{{ vm.marker.name }}</span>
      </div>
      <div class="kit_navbar">
       
          <md-button href="#" class="md-raised">
            <md-icon md-svg-src="http://fablabbcn.github.io/smartcitizen-web/assets/images/avatar.svg">
            </md-icon>
          </md-button>
        
       
          <md-button href="#" class="md-raised">
            <md-icon md-svg-src="http://fablabbcn.github.io/smartcitizen-web/assets/images/avatar.svg">
            </md-icon>
          </md-button>
        
       
          <md-button href="#" class="md-raised">
            <md-icon md-svg-src="http://fablabbcn.github.io/smartcitizen-web/assets/images/avatar.svg">
            </md-icon>
          </md-button>
        
       
          <md-button href="#" class="md-raised">
            <md-icon md-svg-src="http://fablabbcn.github.io/smartcitizen-web/assets/images/avatar.svg">
            </md-icon>
          </md-button>
        
       
          <md-button href="#" class="md-raised">
            <md-icon md-svg-src="http://fablabbcn.github.io/smartcitizen-web/assets/images/avatar.svg">
            </md-icon>
          </md-button>
        
      </div>
    </div>
  </section>
  <section class="kit_fixed" move-down>
    <section class="kit_overview" layout="row" layout-align="center center">
      <p>Kit data overview</p>
    </section>
    <section class="kit_detailed" layout="row" layout-align="center center">
      <section class="kit_dashboard">
        <p>Here it's the data</p>
      </section>
    </section>
  </section>
</section>
