<section class="kit_data" change-content-margin>
  <section class="kit_menu" layout="row" layout-align="center center" stick>
    <p>Bar with kit info</p>
  </section>
  <section class="kit_fixed" move-down>
    <section class="kit_overview" layout="row" layout-align="center center">
      <p>Kit data overview</p>
    </section>
    <section class="kit_detailed" layout="row" layout-align="center center">
      <section class="kit_dashboard">
        <p>Here it's the data</p>
      </section>
    </section>
  </section>
</section>
