<div class="profile_content" layout="column" layout-gt-xs="row">
    <div class="profile_sidebar pt-80"
         layout-align="start center"
         layout-align-gt-sm="start start" 
         layout="column">
        <p class="profile_sidebar_title">FILTER KITS BY</p>
        <div class="profile_sidebar_options" layout="column">
            <md-button ng-click="vm.filterKits('all')"
            class="profile_sidebar_button" analytics-on="click"
            analytics-event="Profile" analytics-action="kit filter">
            ALL
            </md-button>
            <md-button ng-click="vm.filterKits('online')"
            class="profile_sidebar_button" analytics-on="click"
            analytics-event="Profile" analytics-action="kit filter">
            ONLINE
            </md-button>
            <md-button ng-click="vm.filterKits('offline')"
            class="profile_sidebar_button" analytics-on="click"
            analytics-event="Profile" analytics-action="kit filter">
            OFFLINE
            </md-button>
        </div>
    </div>
    <div class="pt-80 px-20 mb-30" flex>
        <div class="profile_content_main_top">
            <md-button class="btn-round btn-cyan" ng-click="vm.addNewKit()">ADD A NEW KIT</md-button>
            <span class="float-right">{{ vm.filteredKits.length || 0 }} kits filtering by {{ vm.kitStatus.toUpperCase() || 'ALL' }}</span>
        </div>
        <!-- KIT LIST -->
        <kit-list actions="{remove: vm.removeKit}" kits="vm.filteredKits"></kit-list>
        <!-- End kit list -->
        <div class="kitList kitList_primary kitList_borderBottom" class="kitList_borderBottom" ng-show="!vm.kits.length">
            <div class="kitList_container">
                <div class="kitList_noKits">
                    <span>There are not kits yet</span>
                </div>
            </div>
        </div>
    </div>
</div>

