<div class="profile_content" layout="column" layout-gt-sm="row">
    <!-- TODO: Improvements -->
    <div class="profile_sidebar pt-80"
         layout-align="start"
         layout-align-xs="start center"
         layout="column">
        <p class="profile_sidebar_title text-center">FILTER KITS BY</p>

        <div class="" layout="row" layout-align="center center" layout-gt-sm="column">
            <md-button ng-click="vm.filterDevices('all')"
            class="profile_sidebar_button">
            ALL
            </md-button>
            <md-button ng-click="vm.filterDevices('online')"
            class="profile_sidebar_button">
            ONLINE
            </md-button>
            <md-button ng-click="vm.filterDevices('offline')"
            class="profile_sidebar_button">
            OFFLINE
            </md-button>
        </div>

    </div>
    <!-- TODO: Improvement -->
    <div class="pt-80 px-20 mb-30" flex>
        <div class="profile_content_main_top">
            <md-button class="btn-round btn-cyan" ng-click="addDeviceSelector()">ADD A NEW KIT</md-button>
            <span class="float-right">{{ vm.filteredDevices.length || 0 }} kits filtering by {{ vm.deviceStatus.toUpperCase() || 'ALL' }}</span>
        </div>
        <!-- KIT LIST -->
        <!-- TODO: Improvement -->
        <kit-list actions="{remove: vm.removeDevice, downloadData: vm.downloadData}" devices="vm.filteredDevices"></kit-list>
        <!-- End kit list -->
        <div class="kitList kitList_borderBottom" class="kitList_borderBottom" ng-show="!vm.devices.length">
            <div class="kitList_container">
                <div class="kitList_noKits">
                    <span>There are not kits yet</span>
                </div>
            </div>
        </div>
    </div>
</div>

