
<!-- TODO Add interstitial? -->

<!-- <section class="myProfile_state" layout="column">
  <div class="profile_header myProfile_header dark">
    <div class="myProfile_header_container" layout="row">
      <img ng-src="{{ vm.user.profile_picture || './assets/images/avatar.svg' }}" class="profile_header_avatar myProfile_header_avatar" />
      <div class="profile_header_content">
        <h2 class="profile_header_name">{{ vm.user.username || 'No data' }}</h2>
        <div class="profile_header_location">
          <md-icon md-svg-src="./assets/images/location_icon_light.svg" class="profile_header_content_avatar"></md-icon>
          <span class="md-title" ng-if="vm.user.city">{{ vm.user.city }}</span>
          <span class="md-title" ng-if="vm.user.city && vm.user.country">,</span>
          <span class="md-title" ng-if="vm.user.country">{{ vm.user.country }}</span>
          <span class="md-title" ng-if="!vm.user.city && !vm.user.country">No data</span>
        </div>
        <div class="profile_header_url">
          <md-icon md-svg-src="./assets/images/url_icon_light.svg" class="profile_header_content_avatar"></md-icon>
          <a class="md-title" ng-href="{{ vm.user.url ||  'http://example.com' }}">{{ vm.user.url ||  'No website' }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="myProfile_tabs_parent" flex>
    <md-tabs md-dynamic-height="" class="myProfile_tabs" md-center-tabs="false" md-selected="vm.startingTab">
      <md-tab label md-on-select="vm.selectThisTab(0, 'kits')">
        <md-tab-label>
          <md-icon md-svg-src="./assets/images/kit_details_icon_light.svg" class="myProfile_tab_icon"></md-icon>
          <span class="color-white">KITS</span>
        </md-tab-label>
        <md-tab-body>
          <ui-view>
          </ui-view>
        </md-tab-body>
      </md-tab>
      <md-tab label md-on-select="vm.selectThisTab(1, 'user')">
        <md-tab-label>
          <md-icon md-svg-src="./assets/images/user_details_icon.svg" class="myProfile_tab_icon"></md-icon>
          <span class="color-white">USER</span>
        </md-tab-label>
        </a>
        <md-tab-body>
          <ui-view>
          </ui-view>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
</section> -->
