<section class="myProfile_state">
  <div class="profile_header myProfile_header">
    <div class="myProfile_header_container" layout="row">
      <md-icon md-svg-src="./assets/images/user_details_icon.svg" class="profile_header_avatar myProfile_header_avatar"></md-icon>
      <div class="profile_header_content">
        <div class="profile_header_name">{{ vm.user.username || 'No data' }}</div>
        <div class="profile_header_location">
          <md-icon md-svg-src="./assets/images/location_icon_light.svg" class="profile_header_content_avatar"></md-icon>
          <span>{{ vm.user.location || 'No data' }}</span>
        </div>
        <div class="profile_header_url">
          <md-icon md-svg-src="./assets/images/url_icon_light.svg" class="profile_header_content_avatar"></md-icon>
          <a ng-href="{{ vm.user.url ||  'http://example.com' }}">{{ vm.user.url ||  'No data' }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="myProfile_tabs_parent">
    <md-tabs class="myProfile_tabs" md-center-tabs="true" md-selected="vm.selectedTab"> <!-- md-dynamic-height="false" -->
      <md-tab label md-on-select="vm.highlightIcon(0)" >
        <md-tab-label>
          <md-icon md-svg-src="./assets/images/user_details_icon.svg" class="myProfile_tab_icon"></md-icon>
          <span>PROFILE</span>
        </md-tab-label>
        <md-tab-body>
          <div class="profile_content" layout="row">
            <div class="profile_sidebar">
              <p class="profile_sidebar_title">EDIT YOUR PROFILE</p>
              <p class="profile_sidebar_description">
                A complete profile helps us to bring to you a better experience. Please, take your time completing all fields.
              </p>
              <md-button ng-click="" class="profile_sidebar_button">
                <md-icon md-svg-src="./assets/images/support_icon_blue.svg" class="profile_sidebar_avatar"></md-icon>
                <span>Support</span>
              </md-button>
              <md-button ng-click="" class="profile_sidebar_button">
                <md-icon md-svg-src="./assets/images/community_icon_blue.svg" class="profile_sidebar_avatar"></md-icon>
                <span>Community</span>
              </md-button>
            </div>
            <div class="profile_content_main" flex>
              <div class="myProfile_content_form">
                <div class="myProfile_form_avatar">
                  <md-icon md-svg-src="{{ vm.user.avatar }}" class="myProfile_tab_icon"></md-icon>
                </div>
                <div layout layout-sm="column" class="field myProfile_content_form_input">
                  <md-input-container flex>
                    <label>Username</label>
                    <input type="text" ng-model="vm.formUser.username">
                  </md-input-container>
                  <p class="myProfile_updateForm_error" ng-show="!!vm.errors.username.length">
                    <span ng-repeat="error in vm.errors.username">
                      Username {{ error }}<span ng-if="!$last">,</span> 
                    </span>
                  </p>
                </div>
                <div layout layout-sm="column" class="field myProfile_content_form_input">
                  <md-input-container flex>
                    <label>Password</label>
                    <input type="password" ng-model="vm.formUser.password">
                  </md-input-container>
                  <p class="myProfile_updateForm_error" ng-show="!!vm.errors.password.length">
                    <span ng-repeat="error in vm.errors.password">
                      Password {{ error }}<span ng-if="!$last">,</span>  
                    </span>
                  </p>
                </div>
                <div layout layout-sm="column" class="field myProfile_content_form_input">
                  <md-input-container flex>
                    <label>Email</label>
                    <input type="email" ng-model="vm.formUser.email">
                  </md-input-container>
                  <p class="myProfile_updateForm_error" ng-show="!!vm.errors.email.length">
                    <span ng-repeat="error in vm.errors.email">
                      Email {{ error }}<span ng-if="!$last">,</span> 
                    </span>
                  </p>
                </div>
                <div layout layout-sm="column" class="field myProfile_content_form_input">
                  <md-input-container flex>
                    <label>City</label>
                    <input type="text" ng-model="vm.formUser.city">
                  </md-input-container>
                  <p class="myProfile_updateForm_error" ng-show="!!vm.errors.city.length">
                    <span ng-repeat="error in vm.errors.city">
                      City {{ error }}<span ng-if="!$last">,</span> 
                    </span>
                  </p>
                </div>
                <div layout layout-sm="column" class="field myProfile_content_form_input">
                  <md-input-container flex>
                    <label>Country</label>
                    <input type="text" ng-model="vm.formUser.country">
                  </md-input-container>
                  <p class="myProfile_updateForm_error" ng-show="!!vm.errors.country.length">
                    <span ng-repeat="error in vm.errors.country">
                      Country {{ error }}<span ng-if="!$last">,</span> 
                    </span>
                  </p>
                </div>
                <div layout layout-sm="column" class="field myProfile_content_form_input">
                  <md-input-container flex>
                    <label>Website</label>
                    <input type="text" ng-model="vm.formUser.url">
                  </md-input-container>
                  <p class="myProfile_updateForm_error" ng-show="!!vm.errors.url.length">
                    <span ng-repeat="error in vm.errors.url">
                      URL {{ error }}<span ng-if="!$last">,</span> 
                    </span>
                  </p>
                </div>

                <md-button ng-click="vm.updateUser(vm.formUser)" class="myProfile_form_updateButton">UPDATE PROFILE</md-button>
                <div class="clearfix"></div>
                <div class="myProfile_apiKey" layout="row" layout-align="start center">
                  <md-icon md-svg-src="./assets/images/key_icon.svg" class="myProfile_tab_icon"></md-icon>
                  <span class="myProfile_apiKey_text">API Key:</span>
                  <div class="myProfile_apiKey_number">{{ vm.user.key }}</div>
                  <md-button class="myProfile_apiKey_refreshButton md-flat">
                    <md-icon md-svg-src="./assets/images/refresh_icon_white.svg" class="profile_sidebar_avatar"></md-icon>
                  </md-button>
                </div>
                <div class="clearfix"></div>
                <md-button ng-click="vm.removeUser()" class="myProfile_form_removeButton">DELETE ACCOUNT</md-button>
                <small>Delete your profile will erase all your data. Please consider think twice before click this button.</small>
              </div>
            </div>
          </div>          
        </md-tab-body>
      </md-tab>
      <md-tab label md-on-select="vm.highlightIcon(1)" >
        <md-tab-label>
          <md-icon md-svg-src="./assets/images/kit_details_icon_light.svg" class="myProfile_tab_icon"></md-icon>
          <span>KITS</span>
        </md-tab-label>
        <md-tab-body>
          <div class="profile_content" layout="row">
            <div class="profile_sidebar">
              <p class="profile_sidebar_title">FILTER KITS BY</p>
              <div class="profile_sidebar_options">
                <md-button ng-click="vm.filterKits('all')" class="profile_sidebar_button">ALL</md-button>
                <md-button ng-click="vm.filterKits('online')" class="profile_sidebar_button">ONLINE</md-button>
                <md-button ng-click="vm.filterKits('offline')" class="profile_sidebar_button">OFFLINE</md-button>
              </div>
            </div>
            <div class="profile_content_main" flex>
              <div class="profile_content_main_top">
                <md-button class="myProfile_addKitButton">ADD A NEW KIT</md-button>
                <span class="myProfile_content_main_title">{{ vm.filteredKits.length || 0 }} kits filtering by {{ vm.kitStatus.toUpperCase() || 'ALL' }}</span>
              </div>
              <div class="kitList_parent" ng-repeat="kit in (vm.filteredKits = (vm.kits | filter: { labels: { status: vm.kitStatus } } ))">
                <md-button ng-href="./kits/{{kit.id}}" class="kitList kitList_secondary" ng-class="{kitList_borderBottom: $last}">
                  <div class="kitList_container" layout="row" layout-align="start center">
                    <div class="">
                      <md-icon class="kitList_avatar" md-svg-src="{{ kit.avatar || './assets/images/avatar.svg' }}">
                      </md-icon>
                    </div>
                    <div class="kitList_content"> 
                      <div class="kitList_name">{{ kit.name }}</div>
                      <div class="kitList_data">
                        <md-icon class="kitList_icon" md-svg-src="./assets/images/location_icon_light.svg">
                        </md-icon>
                        <span>{{ kit.location }}</span>
                        <md-icon class="kitList_icon" md-svg-src="./assets/images/sensor_icon.svg">
                        </md-icon>
                        <span>{{ kit.type }}</span>
                      </div>
                    </div>  
                    <div class="kitList_state kitList_state_{{ kit.state.className }}">{{ kit.state.name }}</div>               
                  </div>
                </md-button>
                <div class="kitList_config" layout="row" layout="center center">
                  <md-button class="kitList_dropdownButton" dropdown-menu="vm.dropdownOptions"
                      dropdown-model="vm.dropdownSelected"
                      dropdown-item-label="text">
                      <img src="./assets/images/config_icon.svg" />
                  </md-button>
                </div>
              </div>
              <div class="kitList kitList_primary kitList_borderBottom" class="kitList_borderBottom" ng-show="!vm.kits.length">
                <div class="kitList_container">
                  <div class="kitList_noKits">
                    <span>There are not kits yet</span>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </md-tab-body>
      </md-tab>
      <md-tab label md-on-select="vm.highlightIcon(2)">  <!-- md-on-deselect="vm.unhighlightIcon(2)" -->
        <md-tab-label>
          <md-icon md-svg-src="./assets/images/support_icon_white.svg" class="myProfile_tab_icon"></md-icon>
          <span>TOOLS</span>
        </md-tab-label>
        <md-tab-body>
          <div class="profile_content" layout="row">
            <div class="profile_sidebar">
              <p class="profile_sidebar_title">FILTER TOOLS BY</p>
              <div class="profile_sidebar_options">
                <md-button ng-click="vm.filterTools('all')" class="profile_sidebar_button">ALL</md-button>
                <md-button ng-click="vm.filterTools('documentation')" class="profile_sidebar_button">DOCUMENTATION</md-button>
                <md-button ng-click="vm.filterTools('community')" class="profile_sidebar_button">COMMUNITY</md-button>
                <md-button ng-click="vm.filterTools('social')" class="profile_sidebar_button">SOCIAL</md-button>
              </div>
            </div>
            <div class="profile_content_main" flex>
              <div class="profile_content_main_top">
                <span class="profile_content_main_title">{{ vm.filteredTools.length || 0 }} kits filtering by {{ vm.toolType.toUpperCase() || 'ALL' }}</span>        
              </div>
              <div class="profile_content_main_kits">
                <div ng-repeat="tool in (vm.filteredTools = (vm.tools | filter: { type: vm.toolType } ))" ng-class="{kitList_borderBottom: $last}">
                  <md-button ng-href="{{tool.href}}" class="kitList kitList_primary" layout="row" layout-align="start center">
                    <div class="kitList_container" layout="row" layout-align="start center">
                      <div class="">
                        <md-icon class="kitList_avatar" md-svg-src="{{ tool.avatar || './assets/images/user_details_icon.svg'}}">
                        </md-icon>
                      </div>
                      <div class="kitList_content"> 
                        <div class="kitList_name">{{ tool.title }}</div>
                        <div class="kitList_data">
                          <span>{{ tool.description }}</span>
                        </div>
                      </div>
                    </div>
                  </md-button>
                </div>
              </div>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
</section>
