<div class="profile_content" layout="column" layout-gt-xs="row">
    <div class="profile_sidebar pt-80"
      layout-align="start"
      layout-align-xs="start center"
      layout="column" >
        <p class="profile_sidebar_title text-center">FILTER TOOLS BY</p>
        <div class="text-left" layout="column">
            <md-button ng-click="vm.filterTools('all')" class="profile_sidebar_button">ALL</md-button>
            <md-button ng-click="vm.filterTools('documentation')" class="profile_sidebar_button">DOCUMENTATION</md-button>
            <md-button ng-click="vm.filterTools('community')" class="profile_sidebar_button">COMMUNITY</md-button>
            <md-button ng-click="vm.filterTools('social')" class="profile_sidebar_button">SOCIAL</md-button>
        </div>
    </div>
    <div class="pt-80 px-20 mb-30" flex>
        <div class="profile_content_main_top">
            <span class="">{{ vm.filteredTools.length || 0 }} tools filtering by {{ vm.toolType.toUpperCase() || 'ALL' }}</span>
        </div>
        <div class="profile_content_main_kits">
            <div ng-repeat="tool in (vm.filteredTools = (vm.tools | filter: { type: vm.toolType } ))" ng-class="{kitList_borderBottom: $last}">
                <md-button ng-href="{{tool.href}}" class="kitList kitList_primary" layout="column" layout-align="start start">
                <h4>{{ tool.title }}</h4>
                <p class="md-subhead">{{ tool.description }}</p>
                </md-button>
            </div>
        </div>
    </div>
</div>
