<div class="profile_content" layout="column" layout-gt-xs="row" layout-align="center">
  <div class="pt-80 px-20 mb-30">
    <div style="max-width:500px">
      <div class="myProfile_form_avatar" layout="row" layout-align="start center">
        <img ng-src="{{ vm.user.profile_picture || vm.user.avatar || './assets/images/avatar.svg' }}" class="myProfile_form_avatarImage" />
        <md-button class="myProfile_form_avatarButton" ngf-select ngf-change="vm.uploadAvatar($files)">CHANGE AVATAR</md-button>
      </div>
      <form ng-submit="vm.updateUser(vm.formUser)">
        <div layout layout-sm="column" class="field myProfile_content_form_input">
          <md-input-container flex>
            <label>Username</label>
            <input type="text" ng-model="vm.formUser.username">
          </md-input-container>
          <p class="myProfile_updateForm_error" ng-show="!!vm.errors.username.length">
          <span ng-repeat="error in vm.errors.username">
            Username {{ error }}<span ng-if="!$last">,</span>
          </span>
          </p>
        </div>
        <div layout layout-sm="column" class="field myProfile_content_form_input">
          <md-input-container flex>
            <label>Password</label>
            <input type="password" ng-model="vm.formUser.password">
          </md-input-container>
          <p class="myProfile_updateForm_error" ng-show="!!vm.errors.password.length">
          <span ng-repeat="error in vm.errors.password">
            Password {{ error }}<span ng-if="!$last">,</span>
          </span>
          </p>
        </div>
        <div layout layout-sm="column" class="field myProfile_content_form_input">
          <md-input-container flex>
            <label>Email</label>
            <input type="email" ng-model="vm.formUser.email">
          </md-input-container>
          <p class="myProfile_updateForm_error" ng-show="!!vm.errors.email.length">
          <span ng-repeat="error in vm.errors.email">
            Email {{ error }}<span ng-if="!$last">,</span>
          </span>
          </p>
        </div>
        <div layout layout-sm="column" class="field myProfile_content_form_input">
          <md-input-container flex>
            <label>City</label>
            <input type="text" ng-model="vm.formUser.city">
          </md-input-container>
          <p class="myProfile_updateForm_error" ng-show="!!vm.errors.city.length">
          <span ng-repeat="error in vm.errors.city">
            City {{ error }}<span ng-if="!$last">,</span>
          </span>
          </p>
        </div>
        <div layout layout-sm="column" class="field myProfile_content_form_input">
          <md-input-container class="countryInput_container" flex>
            <label>Country</label>
            <md-autocomplete
                              md-search-text="vm.searchText"
                              md-items="item in vm.getCountries(vm.searchText)"
                              md-item-text="item"
                              md-selected-item="vm.formUser.country">
              <span>{{ item }}</span>
            </md-autocomplete>
          </md-input-container>
          <p class="myProfile_updateForm_error" ng-show="!!vm.errors.country.length">
          <span ng-repeat="error in vm.errors.country">
            Country {{ error }}<span ng-if="!$last">,</span>
          </span>
          </p>
        </div>
        <div layout layout-sm="column" class="field myProfile_content_form_input">
          <md-input-container flex>
            <label>Website</label>
            <input type="url" ng-model="vm.formUser.url">
          </md-input-container>
          <p class="myProfile_updateForm_error" ng-show="!!vm.errors.url.length">
          <span ng-repeat="error in vm.errors.url">
            URL {{ error }}<span ng-if="!$last">,</span>
          </span>
          </p>
        </div>
        <md-button type="submit" class="myProfile_form_updateButton" type="submit">UPDATE PROFILE</md-button> <!-- ng-click="vm.updateUser(vm.formUser)" -->
      </form>

      <div class="mb-20">

        <div class="mb-20" layout="column" layout-align="start">
          <h4><md-icon md-svg-src="./assets/images/key_icon.svg"></md-icon> oAuth API Key:</h4>
          <div api-key="vm.user.token"></div>
        </div>

        <small>Keep it safe as a password, never show it or release it publicly. The new API uses oAuth but doesn't require any Keys for basic queries. Soon you will be able to manage and renew Keys per application. Check the <a target="_blank" href="http://developer.smartcitizen.me/">documentation and have fun!</a></small></small>
      </div>

      <div class="mb-20">
        <div layout="column" layout-align="start">
           <h4><md-icon md-svg-src="./assets/images/key_icon.svg"></md-icon> Legacy API Key:</h4>
          <div api-key="vm.user.key"></div>
        </div>
        <small>This API Key is limited to the <a target="_blank" href="http://developer.smartcitizen.me/#legacy">legacy API</a>.</small>
      </div>

      <md-button ng-click="vm.removeUser()" class="warn" style="font-size:18px" type="button">DELETE ACCOUNT</md-button><br>
      <small>Delete your profile will erase all your data. Please consider think twice before click this button.</small>
    </div>
  </div>
</div>
