<md-autocomplete 
  md-selected-item="vm.selectedItem" 
  md-selected-item-change="vm.selectedItemChange(item)"
  md-search-text="vm.searchText" 
  md-search-text-change="vm.searchTextChange(vm.searchText)"
  md-items="item in vm.querySearch(vm.searchText)" 
  md-item-text="" 
  placeholder="Search">
  
  <md-item-template>
    <span md-highlight-text="vm.searchText">{{ item }}</span>
  </md-item-template>
   <md-not-found>
    No matches found. {{ vm.searchText }}
  </md-not-found>
</md-autocomplete>
