<section class="kit_dataChange">
  <section class="timeline" flex="1" layout="row" layout-align="center center">
    <div class="timeline_container" layout="row" layout-align="space-between center">
      <div layout="column" layout-align="start center">
        <div class="timeline_stepCircle" layout="row" layout-align="center center" ng-class="{'is-on': vm.step === 1, 'is-off': vm.step !== 1}">
          1
        </div>
        <div class="timeline_stepName vertical">
          Kit data
        </div>
      </div>
      <div class="timeline_line"></div>
      <div layout="column" layout-align="start center">
        <div class="timeline_stepCircle" layout="row" layout-align="center center" ng-class="{'is-on': vm.step === 2, 'is-off': vm.step !== 2}">
          2
        </div>
        <div class="timeline_stepName vertical">
          Set up
        </div>
      </div>
    </div>
  </section>
  <section class="timeline_content" flex="1">
    <section ng-show="vm.step === 1">
      <form>

        <section class="isEven" layout="row" layout-xs="column" layout-align="" layout-xs="column" layout-padding>
          <div flex-gt-xs="50">
            <h2>Basic information</h2>
            <small>Please, provide kit basic info. That includes a name and exposure.</small>
          </div>
          <div class="mt-50"  flex-gt-xs="50">
            <md-input-container>
              <label>Kit Name</label>
              <input type="text" ng-model="vm.kitForm.name">
              <div class="form_errors">
                <div ng-repeat="error in vm.errors.name">Name {{ error }}</div>
              </div>
            </md-input-container>
            <div layout="row" layout-align="space-between start">
              <div class="form_blockInput_select" layout="row" layout-align="start center">
                <label>Exposure:</label>
                <md-select ng-model="vm.kitForm.exposure" placeholder="Select exposure">
                  <md-option class="color-dropdown" ng-repeat="exposure in vm.exposure" ng-value="{{ exposure.value }}">{{ exposure.name }}</md-option>
                </md-select>
              </div>
            </div>
            <md-checkbox ng-if="vm.userRole === 'researcher' || vm.userRole === 'admin'" ng-model="vm.kitForm.is_private">
              <label>Make this device private</label>
            </md-checkbox>
          </div>
        </section>

        <section class="bg-white" layout="row" layout-xs="column" layout-align="space-around start" layout-padding>
          <div flex-gt-xs="50">
            <h2>Kit location</h2>
            <small>Please, let us locate you, later you can adjust the location by dragging the marker on the map.</small>
          </div>
          <div class="mt-50"  flex-gt-xs="50">
            <div layout="row" layout-align="center center" class="" ng-if="!vm.kitForm.location.lat && !vm.kitForm.location.lng">
              <md-button class="md-flat btn-cyan" ng-click="vm.getLocation()">Get your location</md-button>
            </div>
            <div class="form_blockInput_map" ng-if="vm.kitForm.location.lat && vm.kitForm.location.lng">
              <leaflet center="vm.kitForm.location" defaults="vm.defaults" markers="vm.markers" tiles="vm.tiles" width="100%" height="100%"></leaflet>
            </div>
          </div>
        </section>

        <section class="isEven" layout="row" layout-xs="column" layout-align="space-around start" layout-padding>
          <div flex-gt-xs="50">
            <h2>Kit tags</h2>
            <small>Kits can be grouped by tags. Choose from the available tags or submit a tag request on the <a href="https://forum.smartcitizen.me/" target="_blank">Forum</a>.</small>
          </div>

          <div class="mt-50"  flex-gt-xs="50" layout-padding>
            <md-input-container md-no-float class="md-block">
              <input type="text" ng-model="tagSearch" placeholder="Search for tags">
            </md-input-container>

            <md-content layout-padding style="height: calc(20vh);">
              <div ng-repeat="tag in vm.tags | filter:{name: tagSearch}">
                <md-checkbox ng-model="vm.checks[tag.name]">
                  <span class="tag">{{tag.name}}</span>
                </md-checkbox>
              </div>
            </md-content>
          </div>
        </section>

        <section class="bg-white" layout="row" layout-xs="column" layout-align="space-around start" layout-padding>
          <div flex-gt-xs="50">
            <h2>Kit description</h2>
            <small>Say something nice about your kit. What is it for? Is this part of any kind of project?</small>
          </div>
          <div class="mt-50" flex-gt-xs="50">
            <md-input-container>
              <label>Description</label>
              <textarea type="text" class="font-roboto-condensed" ng-model="vm.kitForm.description" placeholder="Describe your kit" md-maxlength="120"></textarea>
            </md-input-container>
          </div>
        </section>

      </form>
      <div layout>
        <md-button flex class="md-raised md-accent mb-30" ng-click="vm.submitStepOne()">Next</md-button>
      </div>
    </section>
  </section>
</section>
