<section class="kit_dataChange">
  <section class="timeline" flex="1" layout="row" layout-align="center center">
    <div class="timeline_container" layout="row" layout-align="center start">
      <div layout="column" layout-align="start center">
        <div class="timeline_stepCircle" layout="row" layout-align="center center" ng-class="{'is-on': vm.step === 1, 'is-off': vm.step !== 1}">
          1
        </div>
        <div class="timeline_stepName vertical">
          Kit data
        </div>
      </div>
      <div class="timeline_line"></div>
      <div layout="column" layout-align="start center">
        <div class="timeline_stepCircle" layout="row" layout-align="center center" ng-class="{'is-on': vm.step === 2, 'is-off': vm.step !== 2}">
          2
        </div>
        <div class="timeline_stepName vertical">
          Set up
        </div>
      </div>
    </div>
  </section>
  <section class="timeline_content" flex="1">
    <section ng-show="vm.step === 1">
      <form>
        <section class="form_block form_blockNormal isEven">
          <div layout="row" layout-align="start start">
            <div class="form_blockContent">
              <div layout="row">
                <div class="form_blockContent_image">
                  <img src="assets/images/basic_info.svg" alt="">
                </div>
                <div class="form_blockContent_text">
                  <h2>Basic information</h2>
                  <p>Please, provide kit basic info. That includes a name, its elevation and exposure</p>
                </div>
              </div>
            </div>
            <div class="form_blockInput" flex>
              <div class="form_blockInput_container">
                <md-input-container>
                  <label>Kit Name</label>
                  <input type="text" ng-model="vm.kitForm.name">
                  <div class="form_errors">
                    <div ng-repeat="error in vm.errors.name">Name {{ error }}</div>
                  </div>
                </md-input-container>
                <div layout="row" layout-align="space-between start">
                  <md-input-container>
                    <label>Elevation</label>
                    <input type="text" ng-model="vm.kitForm.elevation">
                  </md-input-container>
                  <div class="form_blockInput_select">
                    <label>Exposure:</label>
                    <md-select ng-model="vm.kitForm.exposure" placeholder="Select exposure">
                      <md-option ng-repeat="exposure in vm.exposure" ng-value="{{ exposure.value }}">{{ exposure.name }}</md-option>
                    </md-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="form_block form_blockMap">
          <div layout="row" layout-align="start start">
            <div class="form_blockContent">
              <div layout="row">
                <div class="form_blockContent_image">
                  <img src="assets/images/basic_info.svg" alt="">
                </div>
                <div class="form_blockContent_text">
                  <h2>Kit location</h2>
                  <p>Please, type your kit location. If you prefer you can turn off the auto complete search functionality to specify your latitude and longitude.</p>
                </div>
              </div>
            </div>
            <div class="form_blockInput" flex>
              <div class="form_blockInput_button" ng-if="!vm.kitForm.location.lat && !vm.kitForm.location.lng">
                <div class="form_blockInput_container" layout="row" layout-align="center center">
                  <md-button class="md-flat md-primary" ng-click="vm.getLocation()">Get your location</md-button>
                </div>
              </div>
              <div class="form_blockInput_map" ng-if="vm.kitForm.location.lat && vm.kitForm.location.lng">
                <leaflet center="vm.kitForm.location" defaults="vm.defaults" markers="vm.markers" tiles="vm.tiles" width="100%" height="100%"></leaflet>
              </div>
            </div>
          </div>
        </section>
        <section class="form_block form_blockNormal isEven">
          <div layout="row" layout-align="start start">
            <div class="form_blockContent">
              <div layout="row">
                <div class="form_blockContent_image">
                  <img src="assets/images/basic_info.svg" alt="">
                </div>
                <div class="form_blockContent_text">
                  <h2>Kit tags</h2>
                  <p>Kits can be grouped by tags. Choose from the available tags or submit a tag request on the <a href="https://forum.smartcitizen.me/" target="_blank">Forum</a>.</p>
                </div>
              </div>
            </div>
            <div class="form_blockInput" flex>
              <div class="form_blockInput_container">
                <div>
                  <md-select ng-model="vm.tag" placeholder="Select tag">
                    <md-option ng-value="{{ tag.id }}" ng-repeat="tag in vm.tags">{{ tag.name }}</md-option>
                  </md-select>
                </div>
                <div class="form_blockInput_chips">
                  <div class="chips" layout="row" layout-align="start center">
                    <div class="chip kit_tag" ng-repeat="tag in vm.kitForm.tags">
                      <span class="chip_name">{{ tag.name }}</span>
                      <button class="chip_icon" ng-click="vm.removeTag(tag.id)" class="map_filter_icon" arial-label>
                        <md-icon md-svg-src="./assets/images/close_icon_black.svg"></md-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="form_block form_blockNormal">
          <div layout="row" layout-align="start start">
            <div class="form_blockContent">
              <div layout="row">
                <div class="form_blockContent_image">
                  <img src="assets/images/basic_info.svg" alt="">
                </div>
                <div class="form_blockContent_text">
                  <h2>Kit description</h2>
                  <p>Say something nice about your kit. Why is it for? Is this part of any kind of project? Whatever :)</p>
                </div>
              </div>
            </div>
            <div class="form_blockInput" flex>
              <div class="form_blockInput_container">
                <md-input-container>
                  <label>Description</label>
                  <textarea type="text" ng-model="vm.kitForm.description" placeholder="Describe your kit" md-maxlength="120"></textarea>
                </md-input-container>
              </div>
            </div>
          </div>
        </section>
      </form>
      <md-button class="md-flat md-primary timeline_button" ng-click="vm.submitStepOne()">Next</md-button>
    </section>
  </section>
</section>
