<md-dialog>
  <md-dialog-content class="modal signup">
    <md-progress-circular ng-show="waitingFromServer" class="md-hue-3 login_spinner" md-mode="indeterminate"></md-progress-circular>
    <md-button class="close_icon">
      <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" ng-click="cancel()" class="" >
      </md-icon>
    </md-button>
    <form name="form" novalidate ng-submit="vm.answer(vm.form)">
      <div class="modal_content_container">
      	<h2>SIGN UP</h2>
    	  <h3 class="header">People looking for a better city</h3>
    	  <p class="subheader">You're part of them? Feel free to join us!</p>
        <div layout layout-sm="column" class="field">
          <md-input-container flex>
            <label>Username</label>
            <input type="text" ng-model="vm.user.username" focus-input>
          </md-input-container>
          <p class="errors" ng-show="!!errors.username.length">
            <span ng-repeat="error in errors.username">
              Username {{ error }}<span ng-if="!$last">,</span>
            </span>
          </p>
        </div>
        <div layout layout-sm="column" class="field">
          <md-input-container flex>
            <label>Password</label>
            <input type="password" ng-model="vm.user.password">
          </md-input-container>
          <p class="errors" ng-show="!!errors.password.length">
            <span ng-repeat="error in errors.password">
              Password {{ error }}<span ng-if="!$last">,</span>
            </span>
          </p>
        </div>
        <div layout layout-sm="column" class="field">
          <md-input-container flex>
            <label>Email</label>
            <input type="email" ng-model="vm.user.email">
          </md-input-container>
          <p class="errors" ng-show="!!errors.email.length">
            <span ng-repeat="error in errors.email">
              Email {{ error }}<span ng-if="!$last">,</span>
            </span>
          </p>
        </div>
        <div layout layout-sm="column" class="field">
          <md-checkbox ng-model="vm.user.conditions" aria-label="Terms and Conditions" required>
            I <a ui-sref="layout.policy" ng-click="hide()">have read</a>  and accept Terms and Conditions 
          </md-checkbox>
           <p class="errors" ng-show="!!errors.conditions.length">
            <span ng-repeat="error in errors.conditions">
               {{ error }}<span ng-if="!$last">,</span>
            </span>
          </p>
        </div>
      </div>
    	<md-button class="md-flat md-primary main" ng-click="answer(vm.user)">Sign up</md-button>
    </form>
  </md-dialog-content>
  <p class="message_below">
    <span class="message_below_question">Already have an account?</span>
    <md-button class="message_below_link" ng-click="openLogin()"
      analytics-on="click" analytics-event="Signup" analytics-action="login">
      LOG IN
    </md-button>
  </p>
</md-dialog>
