<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Sign up</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-progress-linear ng-show="waitingFromServer" class="md-hue-3" md-mode="indeterminate"></md-progress-linear>
  <md-dialog-content class="modal signup">
    <form name="signupForm" novalidate ng-submit="vm.answer(signupForm)">
      <div class="md-dialog-content">
        <div layout="column" >
          <h2 class="header">People looking for a better city</h2>
          <p class="subheader">You're part of them? Feel free to join us!</p>
        </div>
        <div layout="column" >
          <md-input-container>
            <label>Username</label>
            <input type="text" name="username" ng-model="vm.user.username" focus-input name="username" required>
            <div ng-messages="signupForm.username.$error || !!errors.password.length" role="alert">
              <div ng-message="required">Username is required</div>
              <div ng-repeat="error in errors.username">
               <div>Username {{ error }}<span ng-if="!$last">, </span></div>
             </div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Password</label>
            <input name="password" type="password" ng-model="vm.user.password"
            required>
            <div ng-messages="signupForm.password.$error || !!errors.password.length" role="alert">
              <div ng-message="required">Password is required</div>
              <div ng-repeat="error in errors.password">
               <div>Password {{ error }}<span ng-if="!$last">, </span></div>
             </div>
            </div>
          </md-input-container>

          <md-input-container>
            <label>Email</label>
            <input
            name="email"
            type="email" ng-model="vm.user.email"
            required>
            <div ng-messages="signupForm.email.$error || !!errors.email.length" role="alert">
              <div ng-message="required">Email is required</div>
              <div ng-repeat="error in errors.email" ng-if="!!errors.email.length">
               <div>Email {{ error }}<span ng-if="!$last">, </span></div>
             </div>
            </div>
          </md-input-container>

          <md-input-container>
            <md-checkbox
            name="conditions" ng-model="vm.user.conditions" aria-label="Terms and Conditions" required>
              I <a ui-sref="layout.policy" ng-click="hide()">have read</a>  and accept Terms and Conditions
            </md-checkbox>
            <div ng-messages="signupForm.conditions.$error || !!errors.conditions.length" role="alert">
              <div ng-message="required">You have to accept Terms and Conditions first</div>
              <div ng-repeat="error in errors.conditions">
               <div>{{ error }}<span ng-if="!$last">, </span></div>
             </div>
            </div>
          </md-input-container>
        </div>

        <md-button class="message_below_link" ng-click="openLogin()"
          analytics-on="click" analytics-event="Signup" analytics-action="login">
          Already have an account? Log in
        </md-button>
      </div>
    	<md-button class="btn-blue btn-full" type="submit">Sign up</md-button>
    </form>
  </md-dialog-content>
</md-dialog>
