<!-- <section class="kit_dataChange"> -->
<section class="upload-csv timeline" flex="1" layout="row" layout-align="center center">
  <div class="container" layout="row" layout-align="space-between center">
      <span class="timeline-title">CSV File Upload</span>
      <md-button style="margin-left: auto" class="timeline_buttonBack btn-round-new btn-outline-white" ui-sref="layout.home.kit({id: vm.kit.id})" >Back to Kit</md-button>
<!-- 	  <md-button style="margin-left: auto" class="md-flat md-primary timeline_buttonBack" ng-click="vm.backToProfile()">Back to Profile</md-button> -->
    </div>
  </div>
</section>
<section class="upload-csv" style="margin-top: 64px; margin-bottom: 64px;">
  <div class="container csv_content">
    <sc-csv-upload kit="vm.kit"><sc-csv-upload>
  </div>
</section>
