<section class="kit_dataChange">
  <section class="timeline" flex="1" layout="row" layout-align="center center">
    <div class="timeline_container" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <div>
          Upload CSV Files
        </div>
      </div>
      <md-button style="margin-left: auto" class="md-flat md-primary timeline_buttonBack" ng-click="vm.backToProfile()">Back to Profile</md-button>
      <md-button style="margin-left: 20px" class="md-flat md-primary timeline_buttonSave" ng-click="vm.submitFormAndKit()">Save</md-button>
    </div>
  </section>
<section style="margin-top: 64px">
  <div class="container">
    <sc-csv-upload kit="vm.kit"><sc-csv-upload>
  </div>
</section>
