<!-- <section class="kit_dataChange"> -->
    <section class="timeline" flex="1" layout="row" layout-align="center center">
      <div class="container" layout="row" layout-align="space-between center">
        <span class="color-white title-timeline">Upload CSV Files</span>
        <md-button style="margin-left: auto" class="md-flat md-primary timeline_buttonBack" ng-click="vm.backToProfile()">Back to Profile</md-button>
      </div>
    </div>
  </section>
<section style="margin-top: 64px; margin-bottom: 64px;">
  <div class="container">
    <sc-csv-upload kit="vm.kit"><sc-csv-upload>
  </div>
</section>
