<!-- <header class="header"  layout="row" layout-align="center center">
  <md-icon md-svg-src="./assets/images/LogotipoSmartCitizen.svg" class="footer_icon"></md-icon>
</header>
 -->

 <header class="footer" ng-include="'app/components/footer/footer.html'" layout="row" layout-align="center center"></header>


 
 <form name="form" novalidate ng-submit="vm.answer(vm.form)">
   <div class="form_container recovery_container">
     <div class="form_content_container">
       <h2 class="form_title">ENTER YOUR NEW PASSWORD</h2>
       <div class="form_messageContainer">
         <p class="form_messageHeader">People looking for a better city</p>
         <p class="form_messageSubheader">You're part of them? Feel free to join us!</p>
       </div>
       <div layout layout-sm="column" class="formReset_field">
         <md-input-container flex>
           <label>New Password</label>
           <input type="password" name="newPassword" ng-model="vm.form.newPassword" autofocus required/>
         </md-input-container>
         <p class="form_errors formReset_errors" ng-show="form.$submitted || form.newPassword.$touched">
           <span ng-show="form.newPassword.$error.required">Password is required</span>
         </p>
       </div>
       <div layout layout-sm="column" class="formReset_field">
         <md-input-container flex>
           <label>Confirm Password</label>
           <input type="password" name="password" ng-model="vm.form.confirmPassword" required />
         </md-input-container>
         <p class="form_errors formReset_errors" ng-show="form.$submitted || form.password.$touched">
           <span ng-show="form.password.$error.required">Password is required</span>
           <span ng-show="vm.isDifferent">It must be the same password</span>
         </p>
       </div>
     </div>
    </div>
   <md-button class="md-flat md-primary form_button" type="submit">RESET PASSWORD</md-button>
 </form>


