<md-dialog>
  <md-dialog-content class="modal modal_beta">
    <md-progress-circular ng-show="waitingFromServer" class="md-hue-3 login_spinner" md-mode="indeterminate"></md-progress-circular>
    <md-button class="close_icon" aria-label>
      <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" ng-click="hide()" class="" >
      </md-icon>
    </md-button>
    <div>
      <div class="modal_content_container">
        <h2>SMART CITIZEN BETA</h2>
        <div class="modal_message">
          <p class="header beta">Welcome SmartCitizen!</p>
          <p class="subheader beta">This is the new SmartCitizen platform. Explore the new design and functionalities and tell us what you think using the feedback button. We encourage you also to check the <a href="http://new-apidocs.smartcitizen.me/" target="_blank">new API</a>.</p><p class="subheader beta"><i>Take care while editing your devices! Any changes to any existing device will be overwriten by those on the original platform once this is released.</i></p>
        </div>
      </div>
      <div class="img_claim">
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
