<md-dialog>
  <md-dialog-content class="modal modal_mobile">
    <md-progress-circular ng-show="waitingFromServer" class="md-hue-3 login_spinner" md-mode="indeterminate"></md-progress-circular>
    <md-button class="close_icon" aria-label>
      <md-icon md-svg-icon="./assets/images/close_icon_blue.svg" ng-click="hide()" class="" >
      </md-icon>
    </md-button>
    <div>
      <div class="modal_content_container">
        <h2>SMART CITIZEN BETA</h2>
        <div class="modal_message">
          <p class="header beta">Welcome SmartCitizen!</p>
          <p class="subheader beta">This is the new SmartCitizen platform. Unfortunately, this website isn't supported by mobile devices. Check our new <a href="https://play.google.com/store/apps/details?id=com.fablabbcn.smartcitizen&hl=en" target="_blank">Android app</a>.</p>
        </div>
      </div>
      <div class="img_claim">
        <img ng-src="../../../../assets/images/beta_claim.jpg" alt="" />
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
